<div class="wia-form aa-component" *ngIf="!submitted">

  <div class="messages messages--functional visible">

    <div class="wia-form__step wia-form__step--visible">

      <h3 class="wia-form--hidden-mobile">
        Stel uw situatie in en bekijk uw inkomen bij arbeidsongeschiktheid
      </h3>

      <label class="wia-form__column_input clearfix">
        <label>Uw salaris, bruto per jaar</label>
        <div>
          <aa-input-number class="aa-input--euro aa-input--white" [(ngModel)]="income" [placeholder]="0" defaultValue=""></aa-input-number>
          <span class="wia-form__error" *ngIf="!incomeValid">Vul een waarde in tussen €2,500 en  €500,000.</span>
        </div>
      </label>

      <div>
        <div class="form-1" *ngIf="visiblePage === 1">

          <div class="wia-form__column_input clearfix">
            <label>De verzekeringscode van uw werkgever</label>
            <div>
              <input class="input--white" type="text" [(ngModel)]="personalizationCode" placeholder="355A0"/>
              <span class="wia-form__error" *ngIf="!codeValid">De ingevoerde code is niet geldig. Probeer het nogmaals of vul uw situatie handmatig in.</span>
            </div>
          </div>

          <ul class="arrow wia-form__products-switch">
            <li><a (click)="visiblePage = 2">Geen code? zelf verzekering kiezen</a></li>
          </ul>

          <div>
            <button class="button arrow"  [class.pending]="pending"
                    (click)="onCodeSubmit()"
                    [disabled]="!income || !personalizationCode ||  personalizationCode === '' || pending">
              Verder
            </button>
          </div>

        </div>


        <div class="form-2" *ngIf="visiblePage === 2">

          <form (submit)="onProductFormSubmit($event)">

            <label class="wia-form__products_label">Het verzekeringsproduct dat u heeft:</label>

            <div class="row-fluid">
              <div class="wia-form__products_column" *ngFor="let i of [1,2]">
                <div *ngFor="let product of getProducts(i); trackBy:trackById" class="product-group">

                  <label class="checkbox checkbox--white" [class.checkbox--disabled]="product.disabled">
                    <input type="checkbox"
                           [(ngModel)]="product.selected"
                           [disabled]="product.disabled"
                           (change)="updateProduct(product, $event)"
                           name="'wia-form-product-{{product.id}}'">
                    <span class="checkbox"></span>
                    {{product.label}}
                  </label>

                  <div class="product-attrs" [class.hidden]="!product.selected || !product.attrs?.length">
                    <ul>
                      <li *ngFor="let attr of product.attrs; trackBy:trackById" >
                        <div *ngIf="isProductAttributeVisible(attr)" class="product-attr">
                          {{ attr.label }}

                          <div class="products-attrs__radios clearfix">
                            <div class="products-attrs__radio" *ngFor="let option of attr.options; trackBy:trackByValue">
                              <aa-input-radio [name]="'wia-form-selectProduct-' + attr.id"
                                              [(ngModel)]="attr.value"
                                              class="radio--white"
                                              [value]="option.value">{{option.label}}</aa-input-radio>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>


            <ul class="arrow wia-form__products-switch">
              <li><a (click)="visiblePage = 1">Productcode ontvangen? Voer de code in</a></li>
            </ul>

            <button class="button arrow" [class.pending]="pending" [disabled]="!income || pending" >Verder</button>
          </form>

        </div>


      </div>
    </div>

  </div>

</div>
