<div class="quickquote angular mortgage" #interest data-interest="2.95,3.25,3.25,3.25,3.25,3.25,3.35,3.35,3.35,3.35,3.35,3.70,3.70,3.70,3.70,3.70,3.70,3.70,3.70,3.70,3.70">
  <div class="triangle"></div>
  <div class="calculation">
    <h3>{{data.options.title}}</h3>
    
    <div class="field">
      <div class="inputs slider">
        <aegon-slider 
          (change)="calculate()" 
          (click)="submitAmount()" 
          [(ngModel)]="incomeValue"
          [initial]="data.options.income.initial" 
          [range]="{
            'min': [data.options.income.min],
            '25%': [data.options.income.p25],
            '50%': [data.options.income.p50],
            '75%': [data.options.income.p75],
            'max': [data.options.income.max]
            }" 
          helpText="{{data.options.incomeHelpText}}"
          label="{{data.options.incomeLabel}}" 
          prefix="€">
        </aegon-slider>
      </div>
    </div>
    
    <div *ngIf="step > 1">
      <div class="field">
        <div class="inputs right">
          <aegon-checkbox (change)="calculate()" [(ngModel)]="extraMonth">{{data.options.incomeExtraMonthLabel}}</aegon-checkbox>
          <aegon-checkbox (change)="calculate()" [(ngModel)]="vacationMoney">{{data.options.incomeVacationMoneyLabel}}</aegon-checkbox>
        </div>
      </div>
     
      <div class="field">
        <div class="inputs slider">
          <aegon-slider 
            (change)="calculate()" 
            [(ngModel)]="incomePartnerValue"
            [initial]="data.options.incomePartner.initial" 
            [range]="{
              'min': [data.options.incomePartner.min],
              '25%': [data.options.incomePartner.p25],
              '50%': [data.options.incomePartner.p50],
              '75%': [data.options.incomePartner.p75],
              'max': [data.options.incomePartner.max]
              }" 
            helpText="{{data.options.incomePartnerHelpText}}" 
            label="{{data.options.incomePartnerLabel}}" 
            prefix="€">
          </aegon-slider>
        </div>
      </div>

      <div class="field">
        <div class="inputs right">
          <aegon-checkbox (change)="calculate()" [(ngModel)]="extraMonthPartner">{{data.options.incomePartnerExtraMonthLabel}}</aegon-checkbox>
          <aegon-checkbox (change)="calculate()" [(ngModel)]="vacationMoneyPartner">{{data.options.incomePartnerVacationMoneyLabel}}</aegon-checkbox>
        </div>
      </div>
      <div class="field">
        <div class="inputs slider">
          <aegon-slider 
            (change)="calculate()" 
            [(ngModel)]="interestYears"
            [initial]="data.options.interestYears.initial" 
            [range]="{
              'min': [data.options.interestYears.min],
              '25%': [data.options.interestYears.p25],
              '50%': [data.options.interestYears.p50],
              '75%': [data.options.interestYears.p75],
              'max': [data.options.interestYears.max]
              }" 
            helpText="{{data.options.interestYearsHelpText}}" 
            label="{{data.options.interestYearsLabel}}" 
            suffix="jaar">
          </aegon-slider>
        </div>
      </div>
      <div class="field">
        <span class="inputs">
          <aegon-checkbox [(ngModel)]="playWithMortgage">
            {{data.options.playWithMortgageLabel}}
          </aegon-checkbox>
        </span>
      </div>
      <div *ngIf="playWithMortgage" class="field">
        <div class="inputs slider">
          <aegon-slider 
            (change)="monthlyPayment = getMonthlyPayment()" 
            [(ngModel)]="playValue"
            [initial]="calculatedValue" 
            [range]="{
              'min': [0],
              'max': [calculatedValue]
            }" 
            helpText="{{data.options.playValueHelpText}}" 
            label="{{data.options.playValueLabel}}" 
            prefix="€">
          </aegon-slider>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="step > 1" class="result" >
    <div class="payment-result">
      <div class="result1">
        <div class="title">{{data.options.mortgageValueTitle}}</div>
        <div id="pension-calculated" class="calculated">&euro; {{playValue | money}}<span>,- *</span></div>
      </div>
      <div class="result2">
        <div class="title">{{data.options.monthlyPaymentTitle}}</div>
        <div id="interest-calculated" class="calculated">&euro; {{monthlyPayment | money}}<span>,- *</span></div>
      </div>
    </div>
    <p class="result-button">
      <button class="button orange-gradient icon-right arrow"><a href="{{data.options.ctaButtonUrl}}">{{data.options.ctaButtonText}}</a></button>
    </p>
  </div>
</div>