
//
// Variables
// --------------------------------------------------



// Some ideas:
// https://github.com/twbs/bootstrap-sass/blob/master/templates/project/_bootstrap-variables.sass

//variable definitions

// COLORS, following fabrique's scheme '
// BLUE hues
$black: #1d1d1b; //actually, this is a very dark blue, so that is why it is here
$dark_blue: #00304c;
$blue: #3395d3;
$light_blue: #66b0de;
$sky: #8cd1e6;
// ORANGES
$orange: #f9a600;
// GREYS
$white: #ffffff;
$grey: #edebe5;
// GREENS
$green: #49af57;
$light_green: #c8e7cc;
// REDS
$red: #ca4642;
$light_red: #eacbca;
// YELLOWS
$yellow: #ffea53;
// BROWNS
$beige: #eeebe5;

$font_fallback: Arial,Verdana,sans-serif;
$font_light: 'senticosansdtlight', $font_fallback;
$font_normal: 'senticosansdtregular', $font_fallback;
$font_medium: 'senticosansdtmedium', $font_fallback;
$font_bold: 'senticosansdtcondbold', $font_fallback;
$font_icons: 'aegon_icons', $font_fallback;
// SIZES
$small: 14px;
$medium: 18px;
$large: 22px;
$x-large: 25px;
$xx-large: 40px;
$xxx-large: 46px;

// RESPONSIVE CUTOFFS
// smartphone
$rc-s-min-width: 0;
$rc-s-max-width: 640px;
// tablet
$rc-m-min-width: 641px;
$rc-m-max-width: 900px;
// desktop
$rc-l-min-width: 901px;
$rc-l-max-width: 16000px;

// INTERFACE ELEMENTS
$elements_border_radius: 3px;