//
// BLOG DETAIL
// --------------------------------------------------

.blog-detail {
  .blog-detail-header img {
    display: block;
    width: 100%;
    height: auto;
  }
  .blog-article {
    @include rem('padding', 10);
    position: relative;
    .date {
      color: $darker_grey;
    }
    .title {
      @include rem('margin-bottom', 10);
    }

    .counter {
      position: absolute;
      right: 10px;
      top: 25px;
      width: 50px;
      text-align: center;
      background-color: $blue;
      color: $white;

      a {
        color: inherit;
      }
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid $blue;
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
    h2 {
      font-family: $font_light;
      @include rem('margin', 15, 0, 15, 0);
    }
    .blog-detail-user {
      font-family: $font_bold;
      a {
        color: $black;
      }
    }
  }

  .social{
    border-radius: $elements_border_radius;
    background-color:$grey;
    @include rem('padding', 15);
    @include rem('margin', 20, 0, 20, 0);

    h4{
      @include rem('margin', 0, 0, 10, 0);
    }

    .share-buttons button{
      width: 30%;
    }
  }
  .social-links {
    .easy_social_box div.easy_social-widget {
      margin: 0 4px 0 0;
      padding: 0;
      overflow: hidden;
      float: left;
    }
  }

  .author {
    @include rem('padding', 20, 10, 0);
    border-top: 1px solid $grey;
    overflow: hidden;

    .author-avatar {
      float: left;
      width: 100px;
      margin-right: 2%;
      img {
        max-width: 100%;
        border-radius: 10px;
      }
    }

    .author-name {
      overflow: hidden;
      font-family: $font_bold;

      h4 {
        @include rem('margin', 0, 0, 10, 0);
      }

      p {
        @include rem('margin', 0, 0, 20, 0);
      }
    }

    .author-description {
      clear: both;
    }
  }

  #comments{

    @include rem('padding', 10);

    .span8 {
      width: 66%;
      h3 {
        color: $black;
      }
    }

    .span4 {
      width: 32%;
      margin-left: 2%;
      &:last-child{
        clear:none;
      }
      .comment-button {
        text-align: right;
      }
    }

    .comment-header{
      @include rem('margin-bottom', 10);
    }

    .comment{
      @include rem('margin-bottom', 10);

      h3, h4{
        @include rem('margin',0);

        a {
          @include rem('font-size', 16);
          color: $black;
          font-family: $font_bold;
        }
      }

      .submitted p{
        color: $darker_grey;
      }

      ul.links.links--inline{
        @include rem('padding', 0);
        @include rem('margin-bottom', 15);
      }

      &.subcomment{
        @include rem('padding-left', 20);
      }
    }

    form.comment-form{
      background-color: $grey;
      @include rem('padding', 25);
      @include rem('margin-bottom', 25);

      .form-item-name, .form-item-mail{
        width: 100%;
      }

      textarea, input[type=text], input[type=email]{
        background-color: $white;
        border:none;
      }

      textarea{
        @include rem('padding', 10);
        resize: none;
      }

      input[type=text], input[type=email]{
        width:100%;
      }

      #edit-actions{
        text-align: right;
        input[type=submit]{
          @extend .button;
          @extend .button.orange;
          color: $white;
        }
      }
    }
  }
}

@include breakpoint($brk-mobile) {
  .blog-detail-page {
    .span1.gutter {
      width: 0;
      min-height: 0;

      & + .span12 {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@include breakpoint($brk-tablet) {
  .blog-detail {
    .blog-detail-header img {
      border-radius: $elements_border_radius;
    }
    .blog-article {
      @include rem('padding', 0);
      @include rem('margin-bottom', 25);

      .inner-article {
        position: relative;
      }

      .date {
        display: block;
        @include rem('margin-bottom', 5);
      }

      .counter {
        top: 0;
        right: 0;
      }
    }

    .author {
      @include rem('padding', 20, 0, 0);

      .author-avatar {
        width: 150px;
      }

      .author-description {
        clear: none;
      }
    }

    #comments {
      @include rem('padding', 0);
      .comment {
        h4, .submitted, .submitted p {
          display: inline;
        }
        h4 {
          @include rem('margin-right', 10);
        }
      }

      form.comment-form{
        .title {
          @include rem('margin', 0, 0, 10, 0);
        }
        .form-item-name, .form-item-mail{
          width: 49.1452991453%;
          float: left;
        }

        .form-item-mail{
          margin-left: 1.7%;
        }

      }
    }
  }
}

@include breakpoint($brk-ipad-portrait) {

  .blog-detail{
    .social{
      display: table;
      height: 80px;
      width: 100%;
      h4{
        @include rem('margin', 0, 0, 0, 0);
      }
      .share{
        width: 20%;
        display: table-cell;
        height:100%;
        vertical-align: middle;
      }
      .share-buttons {
        display: table-cell;
        width: 78%;
        margin-left: 2%;
        button{
          width: auto;
          @include rem('margin-bottom', 0);
        }
      }
    }
    #comments {
      .comment-header h3{
        color:$blue;
        font-family: $font_light;
        font-size: $x-large;
        font-weight: lighter;
      }

      .span2 {
        text-align: right;
        .comment-button{
          a{
            color:$white;
          }
        }
      }
    }
  }
}
