//
// BLOG OVERVIEW
// --------------------------------------------------

.blog {
  h3{
    font-weight: normal;
    @include rem('font-size', $large);
  }
  
  .continue{
    @include rem('font-size', $medium); 
  }

  h4{
    @include rem('margin', 0, 0, 15, 0);
  }

  p.date{
    color:$darker_grey;
  }

  .blog-heading{
    h1.blog-page-title{
      padding: 0 20px;
      @include rem('margin-top', 0);

    }
    .cat-select{
      float: right;
      width: 180px;
      select{
        width:100% !important;
      }
    }
    .span6{
      width: 49%;
    }
  }

  ul.pagination{
    text-align: center;
    @include rem('margin', 30, 0, 30, 0);
    li{
      display: inline;
      @include rem('margin-top', 20);
    }

    .current{
      color:$white;
      border-radius: 50%;
      background-color: $blue;
      padding: 5px 10px;
    }
  }

  .blog-image{
    position: relative;
    .blog-category{
      background-color: $orange;
      color:$white;
      padding: 5px 15px;
      height: 30px;
      position: absolute;
      top:0;
      left: 0;

      p{
        line-height: normal;
        color: $white;
      }
    }
  }

  .blog-content{
    position: relative;
    .counter{
      position: absolute;
      right: 15px;
      top: 10px;
      width: 50px;
      text-align: center;
      &:after{
        content: "";
        display: block;
        width: 0; 
        height: 0; 
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid $blue; 
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
    .text{
      @include rem('margin-bottom', 20);
    }
  }
  .nomb{
    @include rem('margin-bottom', 0);
  }

  .blog-featured{  
    background-color: $blue;
    .blog-image{
      width: 100%;
      height: 100%;
      overflow: hidden;
      @include rem('margin-bottom', 0);
      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .blog-content{
      background-color: $blue;
      overflow: hidden;
      padding: 10px;
      h3, p.date, h4, .text{
        color:$white;
        a{
          color:$white;
        }
      }
      .counter{
        background-color: $white;
        color: $white;

        &:after{
          border-right: 12px solid $white; 
        }
      }
    }
  }

  .blog-articles{
    .blog-article{
      background-color:$white;

      img{
        width: 100%;
        height: auto;
      }

      .blog-image{
        height: 220px;
        overflow: hidden;
      }

      .blog-content{
        padding: 10px;

        h3, p.date, h4, .text{
          a{
            color:$blue;
          }
        }

        .counter{
          background-color: $blue;
          color: $white;

          a{
            color: $white;
          }
        }
      }
    }
  }
}

@include breakpoint($brk-mobile) {
  .blog {
    .span1.gutter {
      width: 0;
      min-height: 0;

      & + .span12 {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@include breakpoint($brk-tablet){
  .blog{

    .container_12 .row-fluid .span4:last-child {
      @include rem('margin-top', 0);
    }
    .blog-heading{
      h1.blog-page-title{
        padding: 0;
      }
    }

    h3{
      color: $blue;
      a{
        color: $white;
      }
    } 

    h4{
      @include rem('margin', 0);
    }


    .blog-content{
      .counter{
        &:after{
          border-right: 12px solid $white; 
        }
      }
    }

    .blog-featured{
      @include rem('margin-bottom', 20);
      .blog-article{
        max-height: none;
      }
      .text{
        @include rem('height', $line-height-medium * 2);
        overflow: hidden;
      }
    }

    .blog-articles{
      .blog-article{
        background-color:$grey;
        @include rem('margin-bottom', 20);

        .blog-image{
          height: 160px;
        }

        .blog-content{
          padding: 10px;

          .counter{
            background-color: $white;
            color: $blue;

            a{
              color: $blue;
            }
          }
        }
      }
    }
  }
}

@include breakpoint($brk-ipad-portrait) {
  .blog{
    @include rem('margin-bottom', 50px); 
    .container_12 .row-fluid.same-height.blog-featured {
      .span8{
        flex-basis: 65.9375%;
        overflow: hidden;
      }
      .span4{
        flex-basis: 31.9375%;
        h3.continue{
          display: block;
        }
      }
    }
    .blog-featured{
      .blog-image{
        height: 350px;
        img{
          height: 100%;
          width: auto;
        }
      }
      .text{
        @include rem('height', $line-height-medium * 5);
        overflow: hidden;
      }
    }
    .blog-articles h3.continue{
      display: none;
    }
  }
}    

@include breakpoint($brk-ipad-landscape) {
  .blog {
    .text{
      overflow: hidden;
    }
    .blog-featured .blog-image img {
      min-width: 100%;
    }
  }
}

@include breakpoint($brk-large-desktop) {
  .blog{
    .container_12 .row-fluid.same-height.blog-featured {
      .text{
        @include rem('height', $line-height-medium * 5);
        overflow: hidden;
      }
    }
  }
}