//
// BLOG DETAIL
// --------------------------------------------------


// THE FOLLOWING IS COMING FROM THE EASY SOCIAL MODULE AND SHOULD BE OVERRIDDEN, DON'T CHANGE IT, BUT OVERRIDE IT! //

/*div.easy_social_box {
  height: 28px;
}*/

div.easy_social_box.vertical {
  height: 68px;
}
.easy_social_box div.easy_social-widget {
  margin: 0 4px 0 0;
  padding: 0;
  overflow: hidden;
  float: left;
}

.easy_social_box div.easy_social-widget.last {
  margin-right: 0;
}

.easy_social_box.vertical div.easy_social-widget {
  width: 58px;
  height: 62px;
}

.easy_social_box.vertical div.easy_social-widget.easy_social-widget-googleplus {
  width: 52px;
}

.easy_social_box.vertical div.easy_social-widget.easy_social-widget-facebook {
  width: 50px;
}
// END OF DRUPAL CONTRIB MODULE STYLING //

.blog-detail {
  .blog-detail-header img {
    display: block;
    width: 100%;
    height: auto;
  }
  .blog-article {
    @include rem('padding', 10);
    position: relative;
    .date {
      color: $darker_grey;
    }
    .title {
      @include rem('margin-bottom', 10);
    }

    .counter {
      position: absolute;
      right: 10px;
      top: 25px;
      width: 50px;
      text-align: center;
      background-color: $blue;
      color: $white;

      a {
        color: inherit;
      }
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid $blue;
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
    h2 {
      font-family: $font_light;
      @include rem('margin', 15, 0, 15, 0);
    }
    .blog-detail-user {
      font-family: $font_bold;
      a {
        color: $black;
      }
    }
  }

  .social-links {
    border-radius: $elements_border_radius;
    background-color:$grey;
    @include rem('padding', 15);
    @include rem('margin', 20, 0, 20, 0);

    h4 {
      @include rem('margin', 8, 0, 15);
    }

    .easy_social_box {
      padding-top: 3px;
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      width: 78%;
      margin-left: 2%;
    }

    .easy_social_box div.easy_social-widget {
      line-height:18px;
      float:left;
      margin: 0 20px 0 0;

      &.easy_social-widget-facebook {
        margin-right: 8px;
      }
      &.easy_social-widget-googleplus {
        margin-right: -14px;
      }
    }
  }

  .author {
    @include rem('padding', 20, 10, 0, 0);
    border-top: 1px solid $grey;
    overflow: hidden;

    .author-avatar {
      float: left;
      @include rem('margin', 0, 18, 0, 0);
      img {
        max-width:129px;
        @include border-radius($elements_border_radius)
      }
    }

    .author-name {
      overflow: hidden;
      font-family: $font_bold;

      h4 {
        font-family: $font_medium;
        @include rem('margin', 0, 0, 10, 0);
      }

      p {
        @include rem('margin', 0, 0, 20, 0);
      }
    }
  }
}

@include breakpoint($brk-mobile) {
  .blog-detail .social-links {

    .author {
      .author-name {
        h4 {
          font-size:$breakpoint-base-font-size;
        }
      }
      .author-description {
        clear:left;
        p {
          font-size:$breakpoint-base-font-size;
        }
      }
    }

    .easy_social_box {
      div.easy_social-widget {
        width:49%;
        @include rem('margin', 0, 1%, 10px, 0);
        margin-right:1%;
        margin-bottom:10px;

        &.easy_social-widget-googleplus {
          margin-right:1%;
        }
        &.easy_social-widget-facebook {
          margin-right:1%;
        }
      }

    }
  }
}

@include breakpoint($brk-tablet) {
  .blog-detail {
    .blog-detail-header img {
      border-radius: $elements_border_radius;
    }
    .blog-article {
      @include rem('padding', 0);
      @include rem('margin-bottom', 25);

      .inner-article {
        position: relative;
      }

      .date {
        display: block;
        @include rem('margin-bottom', 5);
      }

      .counter {
        top: 0;
        right: 0;
      }
    }
  }
}

@include breakpoint($brk-ipad-portrait) {

  .blog-detail{
    .social-links {
      display: table;
      width: 100%;
      h4{
        @include rem('margin', 0, 0, 0, 0);
      }
      .social-label {
        @include rem('width', 132);
        display: table-cell;
        height:100%;
        vertical-align: middle;
      }
      .easy_social_box {
        display: table-cell;
        width: auto;
        margin-left: 2%;
        button{
          width: auto;
          @include rem('margin-bottom', 0);
        }
      }
    }
  }
}
