.personal_details_widget,
.communication_preferences,
.lhfs_widget {
  border-top: 1px solid #aaa;

  @include rem("padding", 30, 0, 40, 0);
  h3 {
    font-weight: normal;

    @include rem("font-size", 24);
  }
  .tip,
  .error,
  .alert,
  .success {
    &.visible {
      padding: 20px 15px 20px 40px;
      .header:before {
        margin-right: 0;
      }
      h2,
      h3 {
        word-wrap: normal;
            word-break: normal;
        -ms-word-break: normal;

        overflow-wrap: normal;
      }
    }
  }
  ul.actions {
    margin-bottom: 0;
  }
  label {
    font-weight: normal;
    &.checkbox {
      > input[type="checkbox"] {
        & + span.checkbox,
        & + a.checkbox,
        & ~ span.checkbox,
        & ~ a.checkbox {
          top: 0;
        }
      }
    }
  }
  li.invalid,
  label.invalid {
    position: relative;
    input ~ .errorText,
    select ~ .errorText {
      position: absolute;
      top: auto;
      bottom: 100%;
      left: 0;
    }
  }
  li {
    &.value {
      &.on, &.off {
        position: relative;
        padding-left: 40px;
      }
      &.on:before,
      &.off:before {
        position: absolute;
        left: 10px;
        top: 0;
        font-family: $font_icons;
        color: #ccc;
      }
      &.on {
        &:before {
          content: $font_icons_check;
        }
      }
      &.off {
        &:before {
          content: $font_icons_minus;
        }
      }
    }
    span {
      &.content,
      &.help {
        display: inline-block;
        float: none;
      }
      &.help {
        margin-left: 10px;
        padding: 0;
        &:before {
          //line-height: $elements_height;
          position: static;
          display: inline-block;
        }
      }
    }
  }
  .disclaimer-text {
    margin-top: -15px;
    margin-bottom: 40px;
  }
  :-ms-input-placeholder {
    color: $darker_grey;
  }
  &.container_12 {
    .row-fluid .span12 {
      margin-left: 0;
    }
  }
}
// fix for mijn betalingen
#aegon_mijnViewClaims_webapp_container {
  .lhfs_widget {
    border-top: none;
  }
}
// mobile
@include breakpoint($brk-mobile) {
  .personal_details_widget,
  .communication_preferences,
  .lhfs_widget {
    &.container_12 {
      .horizontal.row-fluid {
        li {
          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="number"],
          input[type="date"] {
            margin-top: 18px;
            ~ .errorText {
              top: 0;
            }
          }
        }
      }
    }
    .help.dialog.bottom:after {
      right: 20%;
    }
    label.checkbox {
      > input[type="checkbox"] {
        & + span.checkbox,
        & + a.checkbox,
        & ~ span.checkbox,
        & ~ a.checkbox {
          left: 0; // fix for alignment in mobile view
        }
      }
    }
    li.invalid,
    label.invalid {
      input ~ .errorText,
      select ~ .errorText {
        top: 0;
        bottom: auto;
      }
      &.checkbox {
        margin-top: 0;
        padding-top: 18px;
        > input[type="checkbox"] {
          & + span.checkbox,
          & ~ span.checkbox {
            top: 18px;
          }
        }
      }
    }
  }
}

// tablet
@media screen and (min-width: $rc-m-min-width) and (max-width: $rc-m-max-width) {
  .personal_details_widget,
  .lhfs_widget,
  .communication_preferences {
    &.container_12 {
      h3.row-fluid {
        .span8 {
          // Edit button
          width: 25%;
        }
      }
      .row-fluid {
        .span1 {
          width: 5%;
        }
        .span3 {
          width: 40%;
        }
        .span4 {
          width: 47%;
        }
        .span8 {
          width: 50%;
          input[type=text],
          input[type=email],
          input[type=number],
          select,
          div.dd,
          .content {
            width: 220px;
          }
        }
      }
    }
  }
}
