.personal_details_widget, .communication_preferences, .lhfs_widget {
  border-top: 1px solid #aaa;
  @include rem('padding', 30, 0, 40, 0);
  .tip, .error, .alert, .success {
    &.visible {
      padding: 20px 15px 20px 40px;
      .header:before {
        margin-right: 0;
      }
      h2, h3 {
        overflow-wrap: normal; 
        word-wrap: normal; 
        -ms-word-break: normal; 
        word-break: normal; 
      }
    }
  }
  ul.actions {
    margin-bottom: 0;
  }
  li.invalid, label.invalid {
    position: relative;
    input ~ .errorText, select ~ .errorText {
      left: 0;
      position: absolute;
      top: auto;
      bottom: 100%;
    }
  }
}
// fix for mijn betalingen
#aegon_mijnViewClaims_webapp_container {
  .lhfs_widget {
    border-top: none;
  }
}
// mobile
@include breakpoint($brk-mobile) {
  .personal_details_widget, .communication_preferences, .lhfs_widget {
    .help.dialog.bottom:after {
      right: 20%;
    }
    label.checkbox {
      > input[type="checkbox"] {
        & + span.checkbox,
        & + a.checkbox {
          left: 0; // fix for alignment in mobile view
        }
      }
    }
    li.invalid, label.invalid {
      input ~ .errorText, select ~ .errorText {
        top: 0;
        bottom: auto;
      }
      &.checkbox {
        padding-top:18px;
        margin-top: 0;
        > input[type="checkbox"] + span.checkbox {
          top: 18px;
        }
      }
    }
  }
}

// tablet
@media screen and (min-width: $rc-m-min-width) and (max-width: $rc-m-max-width) {
  .personal_details_widget, .lhfs_widget, .communication_preferences {
    &.container_12 {
      .row-fluid {
        .span1 {
          width: 5%;
        }
        .span3 {
          width: 40%;
        }
        .span4 {
          width: 47%;
        }
        .span8 {
          width: 50%;
          input[type=text], input[type=email], input[type=number], select, div.dd, .content {
            width: 220px;
          }
        }
      }
    }
  }
}