.contract_overview_widget {
  ul {
    padding: 0;
    li {
      padding: 2px 0;
      &.category {
        border-bottom: 1px solid #aaa;

        @include rem('padding', 30, 10);
        @include rem('margin', 10, 10);
        &:first-child {
          border-top: 1px solid #aaa;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      &.arrow {
        margin: 0;
        padding-left: 18px;

        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 2px center;
        &:before {
          //display: none;
        }
      }
    }
    &.horizontal {
      display: block;

      width: 100%;
      margin-bottom: 30px;
      padding: 6px 0;
      li {
        display: block;
        float: none;

        vertical-align: top;

        @include rem('padding', 2, 19);
        span.help.advisor {
          float: right;

          margin: 0;
          padding: 26px 10px 0;
          &:before {
            top: auto;
            bottom: 0;

            content: $font_icons_man_in_tie;

            color: $lochmara_approx;

            @include rem('font-size', 26);
          }
        }
        &.arrow:before {
          left: -20px;
        }
        &.adv {
          overflow: hidden;

          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &.message {
          color: #7a7a7a;
        }
        &.span12 {
          margin-left: 0;
        }
      }
      &.pakket {
        margin-bottom: 0;

        @include rem('padding', 6, 0);
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          margin-bottom: 35px;
          padding-bottom: 0;
        }
        .arrow {
          @include rem('padding-left', 40);
        }
      }
      &.type {
        margin-bottom: 30px;
      }
    }
    &.horizontal.header {
      display: none;
    }
  }
  .label {
    font-weight: bold;

    color: $blue;
  }
  .product.title {
    display: none;
  }
  .value.title {
    display: none;
  }
  .messages {
    @include rem('margin', 10, 10, 35);
  }
  h2 {
    position: relative;
    &[class*='icon-']:before {
      font-size: 25px;
      font-weight: normal;

      position: absolute;
      top: 50%;
      left: 0;

      margin-left: -40px;
      // margin-top: -13px;

      transform: translateY(-50%);

      -webkit-font-smoothing: antialiased;
    }
  }
  > .help.dialog {
    width: 80%;
    > * {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p {
      margin-bottom: 0;
    }
  }
}

// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {
  .contract_overview_widget {
    ul {
      &.horizontal {
        width: 100%;
        padding: 0;
        li {
          display: inline-block;

          @include rem('padding', 6, 19);
          span.help.advisor {
            margin-top: -5px;
          }
        }
      }
      &.horizontal.header {
        display: block;
        li {
          @include rem('padding', 2, 19);
          &:first-child {
            padding-left: 0;
          }
        }
      }
      li {
        @include rem('padding', 8, 0);
        span.value {
          padding: 0;
        }
        h2[class^='icon-'] {
          margin-bottom: 35px;
        }
      }
    }
    .product.title,
    .value.title,
    .advisor.title {
      font-weight: normal;

      display: block;

      padding: 10px 0;
    }
    > .help.dialog {
      max-width: 340px;
    }
  }
}

@include breakpoint($brk-mobile) {
  .contract_overview_widget {
    ul li.category {
      h2[class*='icon-'] {
        font-weight: bold;

        padding-left: 10px;
        &:before {
          margin-left: -25px;
        }
      }
    }
    ul.horizontal.row-fluid {
      margin-bottom: 25px;
      &.pakket {
        margin-bottom: 0;
        .arrow {
          @include rem('padding-left', 32);
        }
      }
      li {
        @include rem('padding', 2, 0, 2, 12);
        &.arrow {
          &:before {
            left: -18px;
          }
        }
        .label {
          font-weight: normal;
        }
      }
    }
    .dialog.help {
      right: 10%;
      left: auto !important; // to overwrite inline style added by script
    }
  }
}

@media screen and(min-width: $rc-m-min-width) and (max-width: $rc-m-max-width) {
  .contract_overview_widget {
    > .help.dialog {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: $rc-m-max-width) {
  .contract_overview_widget {
    .container_12 .row-fluid {
      [class*='span'] {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
