// 
// Reason to don't use id selectors instead of class selectors
// http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/
// http://screwlewse.com/2010/07/dont-use-id-selectors-in-css/
// http://oli.jp/2011/ids/

.pensioen123_widget {

  .user-details {
    display: table;

    .span4 {
      padding: 0 20px;
      background: #3E97CF;
      color: #fff;
      text-align: center;
      display: table; 
      height: 200px;
      overflow: hidden;

      @media screen and(min-width: $rc-m-min-width) and(max-width: $rc-m-max-width) {
        // overwrite grids.scss
        &:last-child {
          clear: none;
          margin: 0;
          margin-left: 2%;
        }
      }

      h2 {
        color: #fff;
        margin: 5px 0;

        &.teaser {
          @include rem('font-size', 28);
          @include rem('line-height', 36);
          font-weight: bolder;
        }
      }

      &.video {
        padding: 0;
        display:table-cell;
        vertical-align: middle;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .innerbox {
        display: table-cell; 
        vertical-align: middle;
      }
    }
  }

  .product-overview {
    margin: 30px 0;

    .row-fluid {
      border-bottom: 1px solid #ccc;

      .logo {
        max-height: 35px;
        margin-bottom: 15px;
        float: right;
        width: auto;
        max-width: 100%;
      }

      .span12 {

        .tab {
          @media screen and(min-width: 640px) {
            display: block !important;
          }
        }

        .span6 {
          display: table;
          height: 70px;

          div {
            display: table-cell;
            vertical-align: middle;

            .icon {
              cursor: pointer;
              width: 43px;
              height: auto;
              margin-top: 5px;
              display: inline-block;
              position: relative;

              img {
                width: 100%;

                &.selected {
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }

            p {
              margin: 0;
            }
          }
        }

        &.details, .more-details {
          width: 100%;
          background: #F2F2F2;
          margin-left: 0;

          span {
            display: block;
          }

          .title {
            font-weight: bold;
          }
        }

        &.details {
          padding: 15px;
          display: none;

          .table {
            display: table;
            position: relative; 

              tr:nth-child(even) {
              background-color: $lighter_grey;
              }

              tr:nth-child(odd) {
                 background-color:#fff;
              }

              th  {
                background-color: $lighter_grey;
                padding: 0 0 0 10px;
                font-weight: bold;
              }
          }

          .image {
            width: 95px; 
            display: table-cell;
            vertical-align: top;

            .icon {
              &.big {
                float: left;
                width: 80px;
              }
            }
          }

          .description {
            width: 100%;
            display: table-cell; 
            float: left;
            vertical-align: top;
          }

          .more-details {
            display: none;
          }

          .highlighted {
            background-color: #3395d3;
            padding: 15px;
            border-radius: 5px;
            border-radius: 0.3125rem;
            color: $white;
            margin: 0 0 0.9375rem 0;
            p {
              margin: 0;
            }
          }

        
          table {
            margin-bottom: 10px;
          }

          table, p, div {
            .title {
              font-weight: bolder;
            }
            .footer {
              font-size: 14px;
              padding-right: 3em;
            }
            &.full-width {
              width: 100%;
              float: left;
            }
            &.half-width {
              @media screen and(min-width: $rc-m-min-width) and(max-width: $rc-m-max-width) {
                width: 100%;
                float: none;
              }
              width: 48%;
              float: left;
              margin-right: 1%;

              .right {
                float: right;
              }
              p {
                padding-right: 3em;
              }
            }
          }

          .close {
            margin-right: 25px;

            &:after {
              -webkit-transform: rotate(270deg);
              -ms-transform: rotate(270deg);
              transform: rotate(270deg);
            }
          }

          .more {
            &:after {
              -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }

          .close:after, .more:after {
            display: inline-block;
            font-size: 15px;
            font-size: 0.9375rem;
            position: absolute;
            margin-left: 5px;
            font-family: 'aegon_icons';
            content: '\e600';
            font-weight: normal;
            -webkit-font-smoothing: antialiased;
            transition: -webkit-transform .2s ease;
            transition: transform .2s ease;
          }
        }
      }
    }

  }
}

// 
// Media queries
// --------------------------------------------------

@media screen and(max-width: $rc-m-max-width) {

  .pensioen123_widget {
    .product-overview {
      .row-fluid .span12 .span4 {
        width: 32% ;
        clear: none;
      }
    }

    .user-details {

      .span4 {
        height:100px !important; // !important needed due javascript calculating height on load
        // overwrite grids.scss
        width: 100% !important;
        margin-left: 0 !important;
        margin-bottom: 0.3125rem;
        
        h2 {
          color: #fff;
          margin: 5px 0;

          &.teaser {
            @include rem('font-size', 22);
            @include rem('line-height', 22);
            font-weight: normal;
          }
        }

        &.video {
          padding: 0;
          min-height: 200px;

          iframe {
            width: 100%;
            height: 100%;
            min-height: 200px;
          }
        }

        .innerbox {
          display: table-cell; 
          vertical-align: middle;

          div {
            vertical-align: middle;
            width: 300px;
            display: table-cell;
          }
        }
      }
    }
  }
}
@include breakpoint($brk-mobile) {

  .pensioen123_widget {

    .product-overview {
      
      .row-fluid {
        .span12 {
          margin-bottom: 0;

          .tab {
            display: none;
            float: left;

            &.open {
              display:block;
            }
          }

          .span4 {
            width: 100%;
          }

          .span6 {
            margin-bottom: 0;
            div {
              overflow:hidden;
              position:relative;
              .icon {
                width: 25%;
                display: block;
                float: left;
                margin: 0;
        
                img {
                  width: 100%;
                }
              }
            }
          }

          .title {
            color: $blue;
            font-size: 1.5625rem;
            cursor: pointer;
            
            &:after {
              display: inline-block;
              font-size: 15px;
              font-size: 0.9375rem;
              position: absolute;
              right: 0;
              margin-right: 5px;
              font-family: 'aegon_icons';
              content: '\e600';
              font-weight: normal;
              -webkit-font-smoothing: antialiased;
              transition: -webkit-transform .2s ease;
              transition: transform .2s ease;
              -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              transform: rotate(90deg);
            }

            &.arrowup:after {
              -webkit-transform: rotate(270deg);
              -ms-transform: rotate(270deg);
              transform: rotate(270deg);
            }
          }

          &.details {
            margin-top: -6px;
            padding: 15px 15px 0 15px;
            .image {
              display: none;
            }

            .description {
              padding-right: 15px;
            }

            .more-details {
              display: none !important;
            }

            .close {
              visibility: hidden;

              &:after {
                visibility: visible;
                top: 0;
                right: 0;
              }
            }
            
            .more {
              display: none;
            }
          }
        }
      }
      
      .span4 {
        display: block; /* Fix for tech library */
      }
    }
  }
}

