//
// Reason to don't use id selectors instead of class selectors
// http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/
// http://screwlewse.com/2010/07/dont-use-id-selectors-in-css/
// http://oli.jp/2011/ids/

// Specific for < ie10
.lt-ie9 {
  .pensioen123_widget {
    .user-details {
      display: table;
      table-layout: auto;
      .span4 {
        display: table-cell;
        vertical-align: middle;
        &.video {
          width: 33%;
        }
      }
    }
  }
}

.pensioen123_widget {
  button,
  .button,
  .top p {
    @include rem("margin", 0, 0, 30);
  }
  .user-details {
    display: flex;
    width: 100%;

    flex-wrap: nowrap;
    .span4 {
      // reset the grid
      float: none;
      overflow: hidden;
      width: auto;
      min-width: 33%;
      height: 200px;
      margin-left: 0;
      padding: 0 20px;
      text-align: center;
      color: #fff;
      border-right: 6px solid $white;
      border-left: 6px solid $white;
      background: #3e97cf;

      flex: 1 50%;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
      &:before {
        display: inline-block;
        width: 1px;
        height: 100%;
        margin-left: -1px;
        content: "";
        vertical-align: middle;
      }
      @media screen and(min-width: $rc-m-min-width) and(max-width: $rc-m-max-width) {
        // overwrite grids.scss
        &:last-child {
          clear: none;
          margin: 0;
        }
      }
      h2 {
        margin: 5px 0;
        color: #fff;
        &.teaser {
          font-weight: bolder;

          @include rem("font-size", 28);
          @include rem("line-height", 36);
        }
      }
      &.video {
        padding: 0;
        iframe {
          display: block;
          width: 100%;
          height: 100%;
        }
        &:before {
          content: none;
        }
      }
      .innerbox {
        display: inline-block;
        width: 96%;
        vertical-align: middle;
      }
    }
  }
  .product-overview {
    margin: 30px 0;
    .row-fluid {
      border-bottom: 1px solid #ccc;
      .logo {
        float: right;
        width: auto;
        max-width: 100%;
        max-height: 35px;
        margin-bottom: 15px;
      }
      .span12 {
        .tab {
          @media screen and(min-width: 640px) {
            display: block !important;
          }
        }
        .span6 {
          display: table;
          height: 70px;
          div {
            display: table-cell;
            vertical-align: middle;
            .icon {
              position: relative;
              display: inline-block;
              height: auto;
              margin-top: 5px;
              cursor: pointer;
              img {
                width: auto;
                max-height: 43px;
                &.selected {
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
            p {
              margin: 0;
            }
          }
        }
        &.details,
        .more-details {
          width: 100%;
          margin-left: 0;
          background: #f2f2f2;
          span {
            display: block;
          }
          .title {
            font-weight: bold;
          }
        }
        &.details {
          display: none;
          padding: 15px;
          .table {
            position: relative;
            display: table;
            tr:nth-child(even) {
              background-color: #fff;
            }
            tr:nth-child(odd) {
              background-color: $lighter_grey;
            }
            th {
              background-color: $lighter_grey;
              font-weight: bold;
            }
          }
          .image {
            display: table-cell;
            width: 95px;
            vertical-align: top;
            .icon {
              &.big {
                float: left;
                width: 80px;
              }
            }
          }
          .description {
            display: table-cell;
            float: left;
            width: 100%;
            padding-top: 4px;
            vertical-align: top;
            img {
              display: block;
              max-width: 100%;
              margin: 0 auto;
            }
          }
          .more-details {
            display: none;
          }
          .highlighted {
            float: left;
            margin: 0 0 0.9375rem 0;
            padding: 15px;
            color: $white;
            border-radius: 5px;
            border-radius: 0.3125rem;
            background-color: #3395d3;
            p {
              margin: 0;
            }
          }
          table {
            width: 100%;
            margin-bottom: 10px;
          }
          table,
          p,
          div {
            .title {
              font-weight: bolder;
            }
            .footer {
              padding-right: 3em;
              font-size: 14px;
            }
            &.full-width {
              float: left;
              width: 100%;
            }
            &.half-width {
              float: left;
              width: 48%;
              margin-right: 1%;
              @media screen and(min-width: $rc-m-min-width) and(max-width: $rc-m-max-width) {
                float: none;
                width: 100%;
              }
              .right {
                float: right;
              }
              p {
                padding-right: 3em;
              }
            }
          }
          .close {
            float: left;
            margin-right: 25px;
            &:after {
              -webkit-transform: rotate(270deg);
                  -ms-transform: rotate(270deg);
                      transform: rotate(270deg);
            }
          }
          .more {
            &:after {
              -webkit-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
            }
          }
          .close:after,
          .more:after {
            display: inline-block;
            margin-left: 5px;
            content: "\e600";
            transition: -webkit-transform 0.2s ease;
            transition:         transform 0.2s ease;
            vertical-align: bottom;
            font-family: "aegon_icons";
            font-size: 15px;
            font-size: 0.9375rem;
            font-weight: normal;

            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
  }
}

//
// Media queries
// --------------------------------------------------

@media screen and(max-width: $rc-m-max-width) {
  // Specific for < ie10
  .lt-ie9 {
    .pensioen123_widget {
      .user-details {
        .span4 {
          display: table;
          .innerbox {
            display: table-row;
            vertical-align: middle;
            div {
              display: table-cell;
              width: 50%;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  .pensioen123_widget {
    .product-overview {
      .row-fluid .span12 .span4 {
        clear: none;
        width: 32% ;
      }
    }
    .user-details {
      flex-wrap: wrap;
      .span4 {
        // overwrite grids.scss
        width: 100% !important;
        height: auto !important; // !important needed due javascript calculating height on load
        padding: 0;
        border: none;

        flex: 1 100%;
        @include rem("margin-bottom", 12);
        &:before {
          content: none;
        }
        h2 {
          margin: 5px 0;
          color: #fff;
          &.teaser {
            font-weight: normal;

            @include rem("font-size", 22);
            @include rem("line-height", 22);
          }
        }
        &.video {
          min-height: 200px;
          padding: 0;
          iframe {
            width: 100%;
            height: 100%;
            min-height: 200px;
          }
        }
        .innerbox {
          display: flex;
          width: 100%;
          height: 100%;

          align-items: center;
          div {
            width: 50%;
            padding: 5px;

            flex: 1 50%;
            &:first-child {
              height: 100px;
              &:before {
                display: inline-block;
                width: 1px;
                height: 100%;
                margin-left: -1px;
                content: "";
                vertical-align: middle;
              }
              > * {
                display: inline-block;
                max-width: 96%;
                vertical-align: middle;
              }
            }
            &:last-child {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
@include breakpoint($brk-mobile) {
  .pensioen123_widget {
    .product-overview {
      .row-fluid {
        .span12 {
          margin-bottom: 0;
          .tab {
            display: none;
            float: left;
            &.open {
              display: block;
            }
          }
          .span4 {
            width: 100%;
          }
          .span6 {
            margin-bottom: 0;
            div {
              position: relative;
              overflow: hidden;
              .icon {
                display: block;
                float: left;
                width: 25%;
                margin: 0;
                img {
                  width: 100%;
                  max-height: initial;
                }
              }
            }
          }
          .title {
            cursor: pointer;
            color: $blue;
            font-size: 1.5625rem;
            &:after {
              position: absolute;
              right: 0;
              display: inline-block;
              margin-right: 5px;
              content: "\e600";
              transition: -webkit-transform 0.2s ease;
              transition:         transform 0.2s ease;
              -webkit-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
              font-family: "aegon_icons";
              font-size: 15px;
              font-size: 0.9375rem;
              font-weight: normal;

              -webkit-font-smoothing: antialiased;
            }
            &.arrowup:after {
              -webkit-transform: rotate(270deg);
                  -ms-transform: rotate(270deg);
                      transform: rotate(270deg);
            }
          }
          &.details {
            margin-top: -6px;
            padding: 15px 15px 0 15px;
            .image {
              display: none;
            }
            .table {
              .title {
                padding-right: 0;
                cursor: auto;
                color: #000;

                @include rem("font-size",18);
                &:after {
                  content: none;
                }
              }
            }
            .more-details {
              .half-width {
                width: 100%;
              }
            }
          }
        }
      }
      .span4 {
        display: block; /* Fix for tech library */
      }
    }
  }
}
