/**
 * Breadcrumb / Easy Breadcrumb @ Drupal @ header
 */
.breadcrumb {
  display: inline-block;
  float: none;
  width: auto;
  margin: 0;
  vertical-align: middle;
  ul {
    //overflow: hidden;
    li {
      display: inline;
      float: none;
      color: $dark_blue;
      background-image: none;

      @include rem("margin-right", 6);
      @include rem("padding-left", 0);
      &:before {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        content: $font_icons_arrow_right_skinny;
        color: $blue;
        font-family: aegon_icons;

        @include rem("margin-right", 6);
        @include rem("font-size", $small - 2);
      }
      &.first {
        padding: 0;
        background: none;
        &:before {
          display: none;
        }
      }
    }
  }
}
