@mixin btn-right-icon() {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  float: none;
  box-sizing: border-box;
  height: 100%;
  margin-top: 0;
  padding: 4px 10px 0;
  vertical-align: middle;
  background-color: $light_blue;
  font-family: $font_icons;
  line-height: 44px;

  @include rem("font-size", 11);
  @include rem("border-radius", 0, $elements_border_radius, $elements_border_radius, 0);
}

button,
.button {
  position: relative;
  display: inline-block;
  height: auto;
  margin: 0 0 10px;
  padding: 13px;
  cursor: pointer;
  user-select: none;
  white-space: normal;
  color: $white;
  border: 0;
  outline: 0;
  background-color: $blue;
  font-size: $medium;
  line-height: 23px;

  @include rem("border-radius", $elements_border_radius);
  a {
    color: inherit;
    background: none;
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: inherit;
  }
  &.right {
    margin-left: 10px;
  }
  &.left {
    margin-right: 10px;
  }
  &.top {
    margin-bottom: 10px;
  }
  &.bottom {
    margin-top: 10px;
  }
  &.red {
    background-color: $red;
  }
  &.green {
    background-color: $green;
  }
  &.orange {
    background-color: $orange;
  }
  &.orange-gradient {
    color: $black;
    box-shadow: inset 0 -1px 0 0 #9a6701;

    @include linear-gradient(to bottom,#ffba00 0%,#f39200 100%);
  }
  &[class*="icon-"]:before {
    font-size: 16px;
  }
  &.icon-right,
  &.arrow {
    padding-right: 46px;
    &:after {
      @include btn-right-icon();
    }
    &[class*="icon-"] {
      &:before {
        display: none;
        content: "";
      }
    }
    &.icon-call:after {
      content: $font_icons_call;
    }
    &.icon-chat:after {
      content: $font_icons_chat;
    }
    &.icon-search:after {
      content: $font_icons_search;
    }
    &.arrow:after {
      content: $font_icons_arrow_right;
    }
    &.blue:after {
      margin-left: 0;
      background-color: $blue;
    }
    &.red:after {
      margin-left: 0;
      background-color: $red;
    }
    &.green:after {
      margin-left: 0;
      background-color: $green;
    }
    &.orange:after {
      margin-left: 10px;
      background-color: $orange_highlight;
    }
    &.orange-gradient:after {
      height: 98%;
      color: white;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  &.white,
  &.transparent {
    color: $blue;
    background-color: $white;
    &.arrow:before {
      position: absolute;
      margin-top: -10px;
      margin-left: -25px;
      padding: 11px;
      content: $font_icons_arrow_right;
      color: $blue;
      //currently deactivated as the current design calls for something without arrow
      background-color: transparent;
      font-family: $font_icons;
      font-size: 11px;

      @include rem("font-size", 11);
    }
    &.arrow:after {
      margin-right: 0;
      margin-left: 0;
      padding: 0;
      content: "";
      background-color: inherit;
    }
  }
  &.transparent {
    background-color: transparent;
  }
  &.edit {
    display: block;
    margin-top: 0;  //fixing margin-top error introduced in commit b1ec15
    @media screen and(min-width: $rc-m-min-width) and(max-width: $rc-l-max-width) {
      display: none;
    }
    &.transparent {
      display: none;
      @media screen and(min-width: $rc-m-min-width) and (max-width: $rc-l-max-width) {
        display: block;
        float: right;
        line-height: 20px;
        &:after {
          content: $font_icons_edit;
          font-family: $font_icons;
        }
      }
    }
    &:before {
      content: "Wijzig  ";
      font-family: $font_light;
    }
  }
}

/** Backwards compatible with old style button classes: **/
.btn {
  @extend .button;
  &[class$="square-chat"] {
    @extend .icon-chat;
    @extend .icon-right;
  }
  &[class$="square-call"] {
    @extend .icon-call;
    @extend .icon-right;
  }
  [class*="btn-orange"] {
    @extend .orange;
  }
  [class*="btn-orange-gradient"] {
    @extend .orange-gradient;
  }
  [class*="btn-blue"] {
    @extend .blue;
  }
  [class*="btn-green"] {
    @extend .green;
  }
  [class*="btn-red"] {
    @extend .red;
  }

  [class*="arrow-right"] {
    @extend .arrow;
    @extend .icon-right;
  }
  [class*="arrow-left"] {
    @extend .arrow;
    @extend .icon-left;
  }
}

//
// Media queries
// --------------------------------------------------

@include breakpoint($brk-mobile) {
  button.edit {
    display: block;
  }
  ul.actions {
    margin: 0 0 40px 0;
  }
}
