.comment-wrapper {

  @include rem('padding', 10);

  h3 {
    color: $black;
  }

  .top {
    overflow: hidden;
    .button {
      float: right;
    }
  }

  .comment {
    @include rem('margin-bottom', 10);

    .submitted {
      color: $darker_grey;
      font-family: $font_thin;
      @include rem('font-size', 16);

      .username {
        color: $black;
        display: block;
        font-family: $font_medium;
        @include rem('font-size', 18);
      }
    }

    ul.links--inline {
      padding: 0;
      li {
        @extend .button;
        @extend .button.transparent;
        @extend .button.arrow;

        padding-top: 0;
        margin-bottom: 0;
      }
    }

    h3, h4 {
      @include rem('margin', 0);

      a {
        @include rem('font-size', 16);
        color: $black;
        font-family: $font_bold;
      }
    }
  }

  .indented {
    @include rem('margin', 0, 0, 20, 25);
  }

  form.comment-form {
    background-color: $grey;
    @include rem('padding', 25);
    @include rem('margin-bottom', 25);

    .form-item-name, .form-item-mail {
      width: 100%;
    }

    textarea, input[type=text], input[type=email] {
      background-color: $white;
      border: none;
      &.invalid {
        border: solid 3px $light_red;
      }
    }

    textarea {
      @include rem('padding', 10);
      resize: none;
    }

    input[type=text], input[type=email] {
      width: 100%;
    }

    #edit-actions {
      text-align: right;
      input[type=submit] {
        @extend .button;
        @extend .button.orange;
      }
    }
  }
}

@include breakpoint($brk-tablet) {
  .comment-wrapper {
    @include rem('padding', 15, 0, 0);

    .comment {
      .submitted {
        display: inline;

        .username {
          display: inline-block;
          @include rem('margin-right', 20);
        }
      }

      h4 {
        display: inline;
        @include rem('margin-right', 10);
      }
    }

    form.comment-form {
      .title {
        @include rem('margin', 0, 0, 10, 0);
      }
      .form-item-name, .form-item-mail {
        width: 49.1452991453%;
        float: left;
      }

      .form-item-mail {
        margin-left: 1.7%;
      }
    }
  }
}
