
///////////////////////////////////////////
//
// jQuery UI datepicker

.ui-datepicker-div {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 0;
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
  font-family: "senticosansdtlight", Arial, Verdana, sans-serif;
}

.ui-datepicker {
  display: none;
  width: 14.3rem;
  padding: 0.2rem 0.2rem 0;
  font-size: 0.9rem;
}

.ui-datepicker table {
  width: 100%;
  margin: 0 0 0.4em;
  border-collapse: collapse;
  font-size: 0.9em;
}

.ui-datepicker-calender {
  width: 11.5em;
}

ui-datepicker-header {
  background: none;
}
