.file-upload {
  .file-upload__input {
    position: relative;
    display: inline-block;
    width: auto;
    font-weight: normal;
    color: $slightly_darker_blue;
    cursor: pointer;
    > input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .icon-file-upload-thin:before {
      width: 40px;
      line-height: 40px;
    }
    .file-upload__remove:before {
      width: 22px;
      font-size: 12px;
      line-height: 22px;
      margin-left: 15px;
    }
    .icon-file-upload-thin:before, > .icon-x:before {
      background-color: $blue;
      color: $white;
      border-radius: 50%;
      text-align: center;
      padding: 0;
    }
  }
  .file-upload__list{
    padding: 10px 5px;
    transition: all 500ms ease-in-out;
    .file-upload__input--uploaded {
      display: block;
      overflow: hidden;
      > input[type="file"] {
        top: 105%;
      }
      .file-upload__name::before {
        padding:0;
        text-align: center;
      }
    }
  }
}
