//
// Header component
// --------------------------------------------------

.image-header {
  position: relative;
  img {
    max-width: 100%;
    height: auto;
    display:block;
  }
  h1 {
    margin-left: 7.2649572649%;
    font: 46px/46px 'senticosansdtlight', Arial, Verdana, sans-serif;
    color:$slightly_darker_blue;
    margin: 25px 0;
  }
  .header-element {
    bottom: 0;
    margin: 0 7.2649572649%;
    position: relative;
    .header-element-wrapper {
      position: relative;
      padding: 20px;
      top: 0;
      display: block;
      width: 100%;
      border-radius: $elements_border_radius;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
  picture + .header-element {
    margin: 20px 7.2649572649%;
    position:absolute;
    h1 {
      bottom: 0;
      text-shadow:1px 1px rgba(0,0,0,.27);
      color: $white;
      @include rem("line-height", $line-height-xx-large);
      @include rem("font-size", $xx-large);
      @include rem("line-height", 35);
      font-family: $font_thin;
      margin: .5em 0;
    }
  }
  h2, h3, h4 {
    margin: 0;
    color: $black;
    @include rem("line-height", $line-height-large);
    @include rem("font-size", $large);
  }
}

@include breakpoint($brk-mobile) {
  .image-header {
    picture + .header-element {
      margin: 20px 7.2649572649%;
      position: relative;
      margin-top: -75px;
    }
  }
}
@include breakpoint($brk-tablet) {
  .image-header {
    .header-element {
      h1 {
        @include rem("line-height", $line-height-xx-large);
        @include rem("font-size", $xx-large);
      }
    }
    picture + .header-element {
      position: relative;
      margin-top: -75px;
    }
  }
}

@include breakpoint($brk-ipad-portrait) {
  .image-header {
    picture + .header-element {
      margin: 20px 7.2649572649%;
      position: relative;
      margin-top: -75px;
    }
  }
}

@include breakpoint($brk-ipad-landscape) {
  .image-header {
    picture + .header-element {
      position: absolute;
      bottom: 0;
      h1 {
        @include rem("line-height", $line-height-xxxx-large);
        @include rem("font-size", $xxxx-large);
      }
    }
    .header-element {
      position: relative;
      .header-element-wrapper {
        width: 80%;
      }
    }
  }
}

@include breakpoint($brk-large-desktop) {
  .image-header .header-element h1 ,
  .image-header picture + .header-element h1 {
    @include rem("line-height", 100px );
    @include rem("font-size", $jumbo);
    @include rem("margin", 10 , 0);
  }
}
