//
// Header component
// --------------------------------------------------

.image-header {
  position: relative;
  img {
    max-width: 100%;
    height: auto;
    display:block;
  }
  h1 {
    color:$slightly_darker_blue;
    margin: 25px 0;
  }
  .header-element {
    bottom: 0;
    margin: 0 7.2649572649%;
    position: relative;
    .header-element-wrapper {
      position: relative;
      padding: 20px;
      top: 0;
      display: block;
      width: 100%;
      border-radius: $elements_border_radius;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
  picture + .header-element {
    position: relative;
    margin: 0 7.2649572649%;
    h1 {
      text-shadow:1px 1px rgba(0,0,0,.27);
      color: $white;
      font-family: $font_thin;

      margin-top: -75px;
      position: relative;
      top: -10px;
      @include rem("line-height", $line-height-medium);
      @include rem("font-size", $line-height-medium);
    }
    .header-element-wrapper {
      padding: 20px 7.2649572649%;
    }
  }
  h2, h3, h4 {
    margin: 0;
    color: $black;
  }
}

@include breakpoint($brk-tablet) {
  .image-header {
    picture + .header-element {
      margin: 20px 7.2649572649%;
      position: relative;
      margin-top: -92px;
      top:auto;
      bottom:20px;
      h1 {
        margin: 0 ;
      }
    }
  }
  .image-header picture + .header-element h1 {
    @include rem("line-height", 46);
    @include rem("font-size", 46);
  }
}

@include breakpoint($brk-ipad-portrait) {
  .image-header {
    picture + .header-element {
      position: absolute;
      bottom: 0;
      top:auto;
      margin: 20px 7.2649572649%;
    }
  }
}

@include breakpoint($brk-ipad-landscape) {
  .image-header {
    .header-element {
      position: relative;
      .header-element-wrapper {
        width: 80%;
      }
    }
    picture + .header-element {
      position: absolute;
      bottom: 0;
    }
  }
}

@include breakpoint($brk-large-desktop) {
  .image-header picture + .header-element h1 {
    @include rem("line-height", 100);
    @include rem("font-size", 100);
  }
}
