.licenseplate {
  .country {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 44px;
    padding-top: 10px;
    text-align: center;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    color: white;
    background: #3395d3;
    font-family: tahoma, arial;
    font-size: 1.3rem;

    @include rem("border-radius", $elements_border_radius, 0rem, 0rem, $elements_border_radius);
  }
  .license-number {
    padding: 4px 0 0 88px;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    background: #f6cd23 !important;
    font-family: arial;
    font-size: 1.3rem;
    font-weight: bold;
  }
  ::-webkit-input-placeholder {
    color: $black;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $black;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $black;
  }
  :-ms-input-placeholder {
    color: $black;
  }
}
