.service-link-block {
  .service-link-wrapper {
    padding: 10px;
    border-bottom: 1px solid $lighter_grey;
    > span {
      display: inline-block;
      height: $x-large;
      vertical-align: middle;
      font-size: $medium;
      line-height: $x-large;
      &.image-wrapper {
        overflow: hidden;
        width: $x-large;
        margin-right: 5px;
        text-align: center;
        img {
          max-width: $x-large;
          max-height: $x-large;
        }
      }
    }
  }
  // Override default drupal styling
  .field-collection-view {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }
}
