ol {
  padding-right: 0;
  padding-left: 0;
}

ol li {
  list-style: none;
  counter-increment: list;

  $ol_li_left: 35px;
  @include rem('line-height', $medium + 8);
  @include rem('margin-left', $ol_li_left);
  &:before {
    position: relative;
    display: block;
    max-width: 0;
    max-height: 0;
    content: counter(list) ".";
    color: $blue;

    @include rem("left", -$ol_li_left);
  }
}
