ul {
  padding-right: 0;
  padding-left: 0;
}

ul.links {
  @include rem("padding", 20, 0);
  &.links--inline {
    @include rem("padding", 30, 0);
  }
}

ul.bullet li,
ul.check li,
ul.green-check li,
ul.cross li,
ul.red-cross li,
ul.ul-arrows li,
ul.arrow li,
ul.arrow-list li.arrow,
ul.green-plus li,
ul.plus li,
ul.red-minus li,
ul.minus li,
ul li.check,
ul li.green-check,
ul li.arrow,
ul li.cross,
ul li.red-cross,
ul li.green-plus,
ul li.plus,
ul li.red-minus,
ul li.minus {
  list-style: none;

  $li_left: 25px;
  @include rem("margin-left", $li_left);
  &:before {
    position: relative;
    left: -$li_left;
    display: block;
    max-width: 0;
    max-height: 0;
    color: $blue;
    font-family: $font_icons;

    @include rem("font-size", $small);
  }
}


ul.bullet li:before {
  left: -22px;
  font-family: $font_bold;
  content: "\2022"; // dot

  @include rem("font-size", $large);
}

// The following blocks are meant to be backwards compatible,
//
// old style: <ul><li class="arrow">
//
// new style: <ul class="arrow"><li>
//
ul.arrow li,
ul.ul-arrows li,
ul.arrow-list li.arrow,
ul li.arrow {
  &:before {
    content: $font_icons_arrow_right;
  }
}

ul.check li,
ul li.check,
ul.green-check li,
ul li.green-check {
  &:before {
    content: $font_icons_check;
  }
}

ul.plus li,
ul li.plus,
ul.green-plus li,
ul li.green-plus {
  &:before {
    content: $font_icons_plus_regular;
  }
}
ul.minus li,
ul li.minus,
ul.red-minus li,
ul li.red-minus {
  &:before {
    content: $font_icons_minus;
  }
}
ul.green-check li,
ul li.green-check,
ul.green-plus li,
ul li.green-plus {
  &:before {
    color: $green;
  }
}

ul.cross li,
ul li.cross,
ul.red-cross li,
ul li.red-cross {
  &:before {
    content: $font_icons_cross;
  }
}

ul.red-cross li,
ul li.red-cross,
ul.red-minus li,
ul li.red-minus {
  &:before {
    color: $red;
  }
}
