.item-list ul.pager {
  text-align: center;

  @include rem("margin", 30, 0, 30, 0);
  li {
    display: inline;

    @include rem("margin-top", 20);
    @include rem("margin-left", 6);
    @include rem("margin-right", 6);

    &.pager-current {
      margin-right: 0;
      margin-left: 0;
      color: $white;
      border-radius: 50%;
      background-color: $blue;

      @include rem("padding", 5, 10);
    }
  }
}
