// STYLE FOR QUICKQUOTE SPAREN
.quickquote.sparen {
  .calculation {
    .slider-container {
      .errorMessage {
        background-color: $pink;
        display:none;
        -webkit-border-radius: $default-border-radius;
        -moz-border-radius: $default-border-radius;
        border-radius: $default-border-radius;
        @include rem('margin-top', 15);
        @include rem('padding', 18);
        color: $dark_pink;
        border: 1px solid $dark_pink;
      }
      .errorMessage:empty {
        background:none;
      }

    }
    .periodic.slider {
      .input-header {
        label {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .input-container {
        width: 230px;
        input {
          @include rem('padding-right', 10);
          width: 50%;
          max-width: 120px;
          float: right;
          text-align: right;
        }
        div.dd.ddcommon {
          width: 152px !important;
          margin-left: 0;
          background: $white;
          float: left;
          border: 0;
          @include rem('margin-right', 8);
          .ddChild {
            overflow:visible!important;
          }
          .ddTitle {
            background: $white;
            span.ddTitleText {
              width: 150px;
            }
            .ddArrow {
              color: $blue;
            }
          }
        }
        &:after {
          left: auto;
          @include rem('margin-left', 10);
        }
      }
    }
  }
  .calculation + .calculation {
    border-top: 1px solid $white;
    padding: 1.875rem;
    @include rem('padding', 30);
    .input-header {
      label {
        width: 48%;
      }
      label.checkbox {
        width: 80%;
      }

    }
  }
  .result {
    position: relative;
    z-index: 3;
    overflow:hidden;
    .payment-result {

      width: 64%;
      float: left;
      .result1, .result2 , .result3{
        width: 45%;
        min-width: 202px;
        float: left;
        margin-right: 5%;
        .title {
          font-family: $font_thin;
          @include rem('margin-bottom', 5.5);
        }
        .calculated {
          position: relative;
          left: auto;
          @include rem('margin-bottom', 22);
        }
      }
    }
    .footer-result {
      float: left;
      width: 64%;
      min-width: 300px;
      .interest {
        width: 50%;
        display: inline-block;
        float: left;
        font-family: $font_thin;
      }
    }
    .result-button {
      text-align: left;

    }
  }
  .help.dialog.bottom {
    z-index: 4;
  }
}
// END STYLE FOR QQ SPAREN



@include breakpoint($brk-mobile) {
  // STYLE FOR QQ SPAREN MOBILE
  .quickquote.sparen {
    .calculation {
      .slider-container {
        > div + span {
          max-width: 220px;
        }
      }
      .input-header {
        position: relative;
        display: block;
        overflow: visible;
        label {
          display: block;
          width: 100%;
        }
        .input-container {
          float: none;
          max-width: 220px;
          @include rem('margin-right', 0);
          input {
            width: 100%;
            max-width: 220px;
            padding-right: 0.625rem;
          }
        }
        .help {
          @include rem('right', 5);
          @include rem('top', 0);
          @include rem('margin-top', -2);
        }
      }
      .duration.slider {
        .input-container {
          &:after {
            @include rem('right', 30);
            left: auto;
          }
        }
      }
      .periodic.slider {
        .input-header {
          .input-container {
            div.dd.ddcommon {
              display: block;
              width: 100% !important;
              max-width: 220px;
              float: none;
              clear: both;
              margin-right: 0;
              margin-bottom: 10px;
            }
            input {
              display: block;
              width: 100%;
              max-width: 220px;
              float: none;
              clear: both;
            }
            &:after {
              top: 3em;
              @include rem('top', 54);
            }
          }
        }
      }
    }

    .calculation + .calculation {
      @include rem('padding', 30, 0);
      > .input-header {
        @include rem('padding', 0, 30);
        .help {
          margin-top: 0;
          @include rem('right', 36);
          @include rem('margin-top', 0);
        }
      }
      .one-off-deposit {
        @include rem('padding', 0, 30, 0, 30);
        .input-header {
          label {
            width: 100%;
            display: block;
            @include rem('padding-right', 30);
          }
        }
      }
      .input-header {
        label.checkbox {
          width: 100%;
          @include rem('padding-right', 50);
        }
      }
    }
    .result {
      .payment-result {
        overflow: hidden;
        width: 300px;
        width: 100%;
      }
      .footer-result {
        width: 100%;
        min-width: 0;
        .interest {
          width: 45%;
          margin-right: 5%;
        }
      }
    }
  }
}

@include breakpoint($brk-tablet) {
  // STYLE FOR QQ SPAREN TABLET
  .quickquote.sparen {
    .calculation .periodic.slider .input-container div.dd.ddcommon {width:50% !important;margin:0;}
    .calculation .periodic.slider .input-container input {width:50%;}
    .one-off-deposit-check {
      .input-header {
        .help {
          margin-top: 0;
        }
      }
    }
  }
}

@include breakpoint($brk-large-desktop) {
  // STYLE FOR QQ SPAREN - LARGE DESKTOP
  .quickquote.sparen {
    .result {
      .payment-result {
        overflow: hidden;
        min-width: 300px;
        width: 60%;
        float: left;
      }
      .footer-result {
        width: 60%;
      }
      .result-button {
        text-align: left;
      }
    }
  }
  // END STYLE FOR QQ SPAREN LARGE DESKTOP ----
}
