// GENERIC QUICKQUOTE STYLING, ALSO FULLY USED FOR LIJFRENTE UITKEREN QUICKQUOTE

// DISCLAIMER ELEMENT  ( caption under QuickQuote )
.quickquote + .disclaimer {
  clear: both;
  color:$blue;
  display:block;
  @include rem('padding', 30);
  @include rem('padding-left', 0);
  @include rem('line-height', 22);
  @include rem('font-size', 18);
}

//QQ-GENERIC STYLE
.quickquote {
  width: 100%;
  height: auto;
  position: relative;
  background: $pastel_light_blue;
  border-radius: 6px;
  // GENERIC STYLE FOR LABEL.CHECKBOX
  label.checkbox > input[type="checkbox"] {
    display: none;
    &+span.checkbox {
      background:$white;
      &+span {
        line-height:26px;
      }
    }
  }
  //GENERIC HEADER ELEMENT
  h3 {
    color: $slightly_darker_blue;
    @include rem('margin', 0, 0, 30, 30);
    font-family: $font_normal;
    font-weight: bold;
    &:before {
      font-family: $font_icons;
      content: $font_icons_calculator;
      left: 30px;
      position: absolute;
    }
  }

  // GENERIC STYLE FOR TRIANGLE ELEMENT
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform: rotate(360deg);
    top: 0;
    left: 54px;
    position: absolute;
  }

  // GENERIC STYLE FOR CALCULATION ELEMENT
  .calculation {
    position: relative;
    width: 100%;
    @include rem('padding', 30);
    .slider-container {
      // GENERIC STYLING FOR ERRORMESSAGE ELEMENT
      .errorMessage {
        background-color: $pink;
        display:none;
        -webkit-border-radius: $default-border-radius;
        -moz-border-radius: $default-border-radius;
        border-radius: $default-border-radius;
        @include rem('margin-top', 15);
        @include rem('padding', 18);
        color: $dark_pink;
        border: 1px solid $dark_pink;
      }
      .errorMessage:empty {
        background:none;
      }

    }
    //GENERIC STYLE FOR AMOUNT-SLIDER ( QQ lijfrente )
    .amount.slider {
      .input-header {
        .input-container {
          position:relative;
          &:before {
            content:'€';
            display:block;
            position:absolute;
            left:10px;
            top:0;
            line-height:44px;
            color: $darker_grey;
          }
          input {
            width: 109px;
            padding-left:20px;
            text-align:right;
            &:before {
              content:'€';
              left: 0;
            }
          }
        }
      }
    }
    //GENERIC STYLE FOR TIME-SLIDER ( QQ lijfrente )
    .time.slider {
      .input-header {
        .input-container {
          position:relative;
          &:after {
            content:'Jaar';
            display:block;
            position:absolute;
            right:12px;
            top:0;
            line-height:44px;
            color: $darker_grey;
          }
          input {
            width: 50px; //have to choose 1 width
            width:100px; //have to choose 1 width
            &:before {
              content:'€';
              left: 0;
              width: 10px;
            }
          }
          input {

          }
          .year {display:none;}
        }
      }
    }
    // GENERIC STYLE FOR ONE-OFF SLIDER ( QQ sparen/beleggen )
    .one-off.slider {
      input {
        text-align: right;
      }
    }
    // GENERIC STYLE FOR PERIODIC SLIDER ( QQ sparen/beleggen )
    .periodic.slider {
      .input-header {
        label {
          display: block;
          width: 100%;
        }
      }
      .input-container {
        max-width: 300px;
      }
      .input-container {
        div.dd.ddcommon {
          .ddChild {
            ul {
              background: #ffffff;
              list-style:none;
              li {
                list-style:none;
                background: #ffffff;
              }
            }
          }
        }
      }
    }
    // GENERIC STYLE FOR DURATION SLIDER ( QQ sparen/beleggen )
    .duration.slider {
      .input-container {
        input {
          @include rem('padding-right', 40);
        }
        &:after {
          content: 'jaar';
          @include rem('right', 10);
          left: auto;
        }
      }
    }
    // GENERIC STYLE FOR INPUT-HEADER ELEMENT
    .input-header {
      width: 100%;
      overflow: auto;
      @include rem('margin', 0, 100, 20, 0);
      display: table;
      label {
        color: $light_blue;
        font-weight: normal;
        vertical-align: middle;
        display: table-cell;
        width: 60%;
      }
      // GENERIC STYLE FOR INPUT-CONTAINER ELEMENT
      .input-container {
        float:right;
        position: relative;
        @include rem('margin-right', 50);
        input {
          display: inline-block;
          background: $white;
          font-family: $font_light, $font_fallback;
          font-size: $medium;
          line-height: $line-height-medium;

        }
        .year {
          display: inline-block;
          @include rem('margin', 0, 4, 0, 14);
        }
      }
      // GENERIC STYLE FOR HELP ELEMENT ( question mark with caption )
      .help {
        position: absolute;
        @include rem('margin', 7, 0, 0, 0);
        right: 40px;

      }
    }
    .slider-container {
      @include rem('margin', 0, 0, 32, 0);
    }
  }
  // GENERIC STYLE FOR RESULT
  .result {
    background: $slightly_darker_blue;
    border-radius: 0 0 6px 6px;
    @include rem('padding', 30);
    width: 100%;
    display:block;
    .payment-result{
      @include rem("font-size", $large);
      color: $white;
      width: 100%;
      @include rem('margin-bottom', 10);
      * {
        display: inline-block;
      }
    }
    .calculated {
      position: absolute;
      @include rem('left', 230);
    }
    .footer-result {
      width: 100%;
      position: relative;
      * {
        display: inline-block;
      }
      .interest {
        @include rem("font-size", $large);
        color: $white;
        display: table-cell;
        vertical-align: middle;
        @include rem('padding-bottom', 10);
        line-height: 1em;

      }
      span.help {
        position: absolute;
        @include rem('left', 200);
        @include rem('margin-top', 3);
      }
      p {
        display: block;
      }
    }
    .disclaimer {
      color: $dark_grey;
      @include rem("font-size", $small);
      @include rem('margin-bottom', 20);
      position: relative;
      clear:both;
    }
    span {
      @include rem("font-size", $medium);
    }
  }
}
// END OF GENERIC STYLE FOR QUICKQUOTE  -->


@include breakpoint($brk-mobile) {
// GENERIC STYLE QQ - MOBILE
  .quickquote {
    .calculation {
      .time.slider , .amount.slider {
        .input-header {
          label {
            display:block;
            width:100%;
          }
          .input-container {
            float:left;
          }
        }
      }
    }
    .result {
      .calculated {
        position:relative;
        left:auto;
      }
    }
    .span1.gutter {
      width: 0;
      min-height: 0;

      & + .span12 {
        width: 100%;
        margin-left: 0;
      }
    }
  }
// END GENERIC STYLE QQ ----
}

@include breakpoint($brk-tablet) {
// GENERIC STYLE QQ - TABLET
  .quickquote {
    .triangle {
      border-width: 20px 30px 0 30px;
      left: 30px;
    }
    .calculation {
      .input-header {
        overflow: auto;
        @include rem('margin', 0, 100, 20, 0);
        .help {
          right: 45px;
        }
      }
    }
  }
// END GENERIC STYLE QQ - TABLET ----
}

@include breakpoint($brk-ipad-portrait) {
// GENERIC STYLE QQ - IPAD PORTRAIT
  .quickquote {
    .calculation {
      .periodic.slider {
        .input-header {
          label {
            display: inline-block;
            width: 26%;
          }
        }
      }
    }
    .result {
      .result-button {
        text-align: right;
        @include rem('margin-right', 9);
      }
    }
  }
// END GENERIC STYLE QQ - IPAD PORTRAIT ----

}

@include breakpoint($brk-large-desktop) {
// GENERIC STYLE QQ - LARGE DESKTOP
  .quickquote {
    .calculation {
      width: 80%;
      .input-header {
        overflow: auto;
        @include rem('margin', 0, 100, 20, 0);
        .input-container {
          @include rem('margin-right', 100);
        }
        .help {
          right: 45px;
        }
      }
    }
    .result {
      width: 100%;
      .payment-result, .footer-result{
        width: 80%;
        @include rem('margin-bottom', 0);
      }
      .footer-result {
        display: table;
        .disclaimer {
          vertical-align: middle;
          display: table-cell;
        }
        * {
          display: inline-block;
        }
        span.help {
          @include rem('margin-top', 10);
        }
        .interest {
          @include rem('padding-bottom', 0);
        }
        p {
          float: right;
          vertical-align: middle;
          display: table-cell;
          @include rem('margin-bottom', 0);

        }
      }
    }
  }
// END GENERIC STYLE QQ - LARGE DESKTOP ----
}

