.quickquote.lijfrente.sparen {
  .calculation {
    .one-off.slider {
      input {
        text-align:right;
      }
    }
    .periodic.slider {
      .input-container {
        input {
          padding-right: 40px;
        }
        &:after {
          content:'Jaar';
          right:10px;
          left:auto;
        }
      }
    }
    .duration.slider {
      .input-container {
        input {
          padding-right: 40px;
        }
        &:after {
          content:'Jaar';
          right:10px;
          left:auto;
        }
      }
    }
    .input-header  {

      label {
        width:48%;
      }
      .input-container {
        &:after {
          line-height:44px;
          position:absolute;
          top:0;
          content:'€';
          left:5px;
          pointer-events:none;
          color:$darker_grey;
        }
        span.year {
          display:none;
        }
        input {
          width:120px;
        }
        div.dd.ddcommon {
          width:160px !important;
          margin-left:0;
          background:$white;
          .ddTitle {
            background:$white;
          }
        }
      }
    }
    .one-off-deposit {
      .input-header {
        input {
          text-align:right;
        }
      }
      .input-header + .input-header {

      }
    }

  }

  .calculation + .calculation {
    .input-header {
      label.checkbox {
        width:80%;
      }

    }
  }
}