.quickquote.lijfrente {
  width: 100%;
  height: auto;
  position: relative;
  background: $pastel_light_blue;
  @include rem('padding', 30);
   h3 {
    color: $slightly_darker_blue;
    @include rem('margin', 0, 0, 30, 10);
    font-family: $font_normal;
    font-weight: bold;
    &:before {
      font-family: $font_icons;
      content: $font_icons_calculator;
      left: -10px;
      position: relative;
    }
  }  
  .calculation {
    position: relative;
    width: 80%;
    .input-header {
      overflow: auto;
      @include rem('margin', 0, 100, 20, 0);
      label {
        color: $light_blue;
        display: inline-block;
        font-weight: normal;
      }
      .input-container {
        float:right;
        position: relative;
        input {
          display: inline-block;
          background: $white;  
        }
        .year {
          display: inline-block;
          margin: 0 4px 0 14px;
        }
      }
      .help {
        position: absolute;
        right: 0;
      }
    }
    .slider-container {
      @include rem('margin', 0, 0, 32, 0);
    }
  }
  .amount.slider {
    input {
      width: 100px;
    }
  } 
  .time.slider {
    input {
      width: 50px;
    }
  }
}