.quickquote.angular.boeterente {
  .messages.messages--alert {
    margin: 0 0 15px;
    border: none;
    background: $blue;
    .content {
      color: $white;
    }
  }
  .calculation {
    input[type=text],
    input[type=number],
    select {
      text-transform: none;
    }
    select {
      padding: 9px 20px 9px 10px;
      -webkit-appearance: none;
      -moz-appearance:    none;
      -ms-appearance:     none;
      appearance:         none;
      background: #fff url('../images/icons/select.png') no-repeat 95% center;
    }
    select::-ms-expand {
      display: none;
    }
    > div > .field:last-child {
      margin-bottom: 0;
    }
    .field {
      aegon-input-number, aegon-input-date, aegon-input-radio {
        display: inline-block;
        &.error {
          background: none;
          border-radius: 0;
          margin-top: 0;
          padding: 0;
          border: none;
          input[type="text"], span.input.date, label.radio > input[type="radio"] + span.radio {
            border: 1px solid #C41F2C;
            color: #ca4642;
          }
        }
      }
      margin-bottom: 15px;
      label.radio {
        padding-left: 35px;
        > input[type="radio"] {
          position: absolute;
          top: 0;
          left: 0;
          + span.radio {
            top:-9px;
            background-color: $white;
          }
        }
      } 
      .button[disabled],
      .button[disabled]:hover,
      .button.disabled,
      .button.disabled:hover {
        opacity: 0.8;
        cursor: not-allowed;
      }
      .input.date {
        display: block;
        float: left;
        border: 1px solid $slightly_darker_grey;
        border-radius: 3px;
        background-color: $white;
        input {
          border: none;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .inputs {
        button.icon-calculator {
          margin-bottom: 0;
        }
        &.short {
          input[type="text"] {
            width: 90px;
          }
        } 
      }
    }
  }
  .result {
    overflow: visible;
    .bigger {
      .label {
        font-family: $font_normal;
        font-size: 24px;
        vertical-align: bottom;
        margin-bottom: 25px;
      }
      .value {
        margin-bottom: 25px;
        > * {
          font-size: 36px;
        }
      } 
    }
    .small {
      .label {
        vertical-align: top;
        .help:not(.dialog) {
          position: static;
          display: inline-block;
          float: none;
          padding: 10px 1px;
          &:before {
            position: static;
          }
        }
      }
    	p {
        color: $white;
        line-height: 1;
    		margin-bottom: 10px;
        .help.dialog {
          line-height: 26px;
        }
    	}
    }
    .footer {
    	padding-top: 15px;
    }
    .not-possible {
      @include rem('padding', 0, 20);
      h4 {
        font-family: $font_normal;        
        font-size: 24px;
        margin: 0 0 20px;
      }
    }
  }
  .disclaimer {
    background-color: #ffffff;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000;
  }
}
@include breakpoint($brk-tablet) {
  .quickquote.angular.boeterente {
    .messages.messages--alert {
      position: relative;
      border-radius: 5px;
      @include rem("padding", 12, 30, 12, 55);
      .icon {
        position: absolute;
        left: 10px;
        font-family: "aegon_icons";
        @include rem('font-size', 30);
        &:before {
          content: "\e631";
          color: $white;
        }
      }
    }
    .calculation {
      @include rem("padding", 30, 30, 18, 20);
      h3:before {
        left: 20px;
      }
      .field {
        padding-left: 30px;
      }
    }
    .result {
      .label {
        width: 50%;
        max-width: 350px;
      }
      .bigger {
        .value {
          padding-left: 10px;
        } 
      }
      .small {
        .label:last-child {
          padding-left: 10px;
        }
      }
    }
  }
}