.quickquote.angular.boeterente {
  .messages.messages--alert {
    margin: 0 0 15px;
    border: none;
    background: $blue;

    @include rem("padding", 12, 30, 12, 55);
    .icon {
      left: 10px;
      .pathA:before {
        color: $white;
      }
    }
    .content {
      color: $white;
    }
  }
  .calculation {
    input[type=text],
    input[type=number],
    select {
      text-transform: none;
    }
    select {
      padding: 9px 20px 9px 10px;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
      background: #fff url('../images/icons/select.png') no-repeat 95% center;
    }
    .field {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      label.radio > input[type="radio"] + span.radio {
        top:-9px;
        background-color: $white;
      }
      .button[disabled],
      .button[disabled]:hover {
        opacity: 0.8;
        cursor: not-allowed;
      }
      .input.date {
        display: block;
        float: left;
        border: 1px solid $slightly_darker_grey;
        border-radius: 3px;
        background-color: $white;
        input {
          border: none;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .inputs {
        button.icon-calculator {
          margin-bottom: 0;
        }
      }
    }
  }
  .result {
    .small {
    	p {
    		margin-bottom: 5px;
    	}
    }
    .footer {
    	padding-top: 15px;
    }
  }
}
@include breakpoint($brk-tablet) {
  .quickquote.angular.boeterente {
    .calculation {
      @include rem("padding", 30, 30, 18, 20);
      h3:before {
        left: 20px;
      }
      .field {
        padding-left: 30px;
      }
    }
  }
}