// STYLE FOR QQ BELEGGEN
.quickquote.beleggen {
  max-width:1008px;
  .calculation {
    .duration.slider {
      .input-header {
        .input-container:after {
          content:"jaar";
          position:absolute;
          top:0;
        }
      }
    }
    .input-header {
      .input-container {
        input {
          width:120px;
        }
      }
    }
    .periodic.slider {
      .input-header {
        label {
          display: table-cell;
          width: 60%;
        }
      }
      .input-container {
        max-width:120px;
        input {width:100%;text-align:right;}
        label {
          width:30%;
        }
      }
    }
  }
  .result {
    .footer-result {clear:left;float:left;width:50%;min-width: 280px;}
    .footer-result a {
      color: $white;
      font-family: $font_thin;
      position:relative;
      @include rem('line-height', 49);
      @include rem('padding-left', 15);
      &:after {
        content:'>';
        display:block;
        height:100%;
        position:absolute;
        left:0;
        top:0;
      }
    }
    .payment-result {
      margin-bottom: 10px;
      overflow:hidden;
      .result1, .result2, .result3 {
        width:auto ;
        min-width:0 ;
        margin-right:0;
        padding-right:2em;
      }
      .result1, .result1 .title {
        @include rem('font-size', 18);
        font-family: $font_thin;
        .calculated {
          @include rem('font-size', 26);
          position:relative;
          left:auto;
        }
      }
      .result2, .result2 .title {
        @include rem('font-size', 18);
        font-family: $font_thin;
        .calculated {
          @include rem('font-size', 26);
          position:relative;
          left:auto;
        }
      }
      .result3, .result3 .title {
        @include rem('font-size', 18);
        font-family: $font_light;
        .calculated {
          @include rem('font-size', 26);
          position:relative;
          left:auto;
        }
      }
      .result3 {
        padding-right: 20px;
      }
    }
  }
}
// END STYLE FOR QQ BELEGGEN

@include breakpoint($brk-mobile) {
  //QUICKQUOTE BELEGGEN
  .quickquote.beleggen .result .payment-result .result1,
  .quickquote.beleggen .result .payment-result .result2,
  .quickquote.beleggen .result .payment-result .result3 {
    width: 100%;
    float: none;
  }
  // END STYLE FOR QQ SPAREN MOBILE ----

  // STYLE FOR QQ BELEGGEN MOBILE
  .quickquote.beleggen {
    .calculation {
      .one-off.slider, .duration.slider, .periodic.slider {
        .input-header {
          max-width:220px;
          float:none;
          .input-container {max-width:220px;}
          label {
            width: 48%;
            padding-right: 20px;
            display: inline-block;
          }
          input {
            width:100%;
          }
        }
      }
    }
  }

  .quickquote.beleggen {
    .calculation {
      .one-off.slider, .duration.slider, .periodic.slider {
        .input-header {
          label {
            width: 100%;
            padding-right: 35px;
          }
        }
      }
      .periodic.slider {
        .input-header {
          .input-container:after {
            top: 0;
          }
        }
      }

    }
    .result {
      .payment-result {
        width: 100%;
        overflow:hidden;
        @include rem('margin-bottom', 0);
        .result1, .result2, .result3 {
          width: auto;
          @include rem('margin-bottom', 18);
          float: none;
          .title, .calculated {
            font-size: 18px;
            margin-bottom: 0;
          }
        }
      }
      .footer-result {
        a {
          padding: .5em 0;
          padding-left: 0.9375rem;
          font-size: 18px;
          line-height: 1em;
          @include rem('margin-bottom', 0);
          &:after {
            top: .5em;
          }
        }
      }
    }
  }
  // END STYLE FOR QQ BELEGGEN MOBILE ----
}

@include breakpoint($brk-tablet) {
  .quickquote.beleggen {
    .result {
      .payment-result  {
        width:100%;
        .result1,
        .result2,
        .result3 {
          width: 32%;
          min-width: 150px;
          float: left;
          margin-right: 1%;
        }
        .result3 {
          float:right;
        }
      }
    }
  }

  .quickquote.beleggen {
    .result {
      .payment-result  {
        width:100%;
        .result1,
        .result2,
        .result3 {
          width: auto;
          min-width: 0;
          float: left;
          margin-right: 0;
        }
        .result3 {
          margin-top: -2px;
          margin-bottom: 2px;
        }
      }
    }
  }
  // END STYLE FOR QQ BELEGGEN TABLET ----
}

@include breakpoint($brk-ipad-portrait) {
  // GENERIC STYLE QQ BELEGGEN - IPAD PORTRAIT
  .quickquote.beleggen {
    .result {
      .payment-result {
        margin-right: 0;
        width: auto;
        .result3 {float:right;padding-right:12px;}
      }
      .result-button {
        float:right;
      }
      .footer-result {
        width:50%;
      }
    }
  }
  // END GENERIC STYLE QQ BELEGGEN - IPAD PORTRAIT ----
}

@include breakpoint($brk-large-desktop) {
  // STYLE FOR QQ BELEGGEN LARGE DESKTOP
  .quickquote.beleggen {
    .result {
      .footer-result {
        width:50%;
        float:left;
      }
      .payment-result {
        width: 80%;
        margin-right: 100px;
      }
      .result-button {
        margin-right:260px;
      }
    }
  }
  // END STYLE FOR QQ BELEGGEN LARGE DESKTOP ----
}
