.quickquote.lijfrente.sparen {
  label.checkbox > input[type="checkbox"]  {display:none;}
  .calculation {
    .one-off.slider {
      input {
        text-align:right;
      }
    }
    .periodic.slider {
      .input-header {
        label {
          display: block;
          width: 100%;
        }
      }
      .input-container {
        input {
          padding-right: 10px;
          width:50%;
          float:right;
          text-align:right;
        }
        div.dd.ddcommon {
          width:160px !important;
          width:50% !important;
          margin-left:0;
          background:$white;
          float:left;
          border:0;
          .ddTitle {
            background:$white;
            .ddArrow {
              color:$blue;
            }

          }
        }
        &:after {
          left:auto;
          margin-left: 10px;
        }
      }
    }
    .duration.slider {
      .input-container {
        input {
          padding-right: 40px;
        }
        &:after {
          content:'Jaar';
          right:10px;
          left:auto;
        }
      }
    }
    .input-header  {
      label {
        width:30%;
      }
      .input-container {
        &:after {
          line-height:44px;
          position:absolute;
          top:0;
          content:'€';
          left:5px;
          pointer-events:none;
          color:$darker_grey;
        }
        input {
          width:120px;
        }

      }
    }
    .one-off-deposit {
      display:none;
      overflow:hidden;
      .input-header {
        input {
          text-align:right;
        }
      }
      .input-header + .input-header {
        .input-container {
          input {
            text-align:left;
          }
          &:after {
            content: 'Jaar';
            right: 10px;
            left: auto;
          }
        }
      }
    }
  }
  .calculation + .calculation {
    border-top:1px solid $white;
    .input-header {
      label {
        width:48%;
      }
      label.checkbox {
        width:80%;
      }

    }
  }
  .result {
    position:relative;
    z-index:10;
    .payment-result {

      width:64%;
      float:left;
      .result1 , .result2 {
        width:45%;
        min-width:202px;
        float:left;
        margin-right:5%;
        .title {
          font-family: $font_thin;
          display:block;
          margin-bottom: .25em;
        }
        .calculated {
          position:relative;
          left:auto;
          margin-bottom:1em;
        }
      }
    }
    .footer-result {
      float:left;
      width:64%;
      min-width:300px;
      .interest {
        width: 50%;
        display: inline-block;
        float: left;
        font-family:$font_thin;
      }
    }
    .result-button {
      text-align:left;

    }
    .disclaimer {
      clear:both;
    }
  }
}

@include breakpoint($brk-mobile) {

  .quickquote.lijfrente.sparen {
    .calculation {
      padding: 30px 10px 30px 30px;
      .input-header {
        .input-container {
          margin-right: 1.125rem;
          input {
            width:94px;
          }
        }
        .help {
          right:5px;
        }
      }
      .periodic.slider {
        .input-header {
          .input-container {
            div.dd.ddcommon {
              display:block;
              width:100% !important;
              max-width:215px;
              float:right;
              clear:both;
            }
            input {
              display:block;
              width:100%;
              max-width:215px;
              float:right;
              clear:both;
            }
            &:after {
              top:2.5em;
            }
          }
        }
      }
    }
    .calculation + .calculation  {
      .input-header {
        label.checkbox {
          width:93%;
        }
      }
    }
    .result {
      .payment-result {
        overflow: hidden;
        width:300px;
      }
      .footer-result {
        width:100%;
        min-width:0;
        .interest {
          width:45%;
          margin-right:5%;
        }
      }
      .result-button {

      }
    }
  }
}
@include breakpoint($brk-tablet) {
  .quickquote.lijfrente.sparen {
    .one-off-deposit-check {
      .input-header {
        .help {
          margin-top: 0;
        }
      }
    }
  }
}
@include breakpoint($brk-ipad-portrait) {
  .quickquote.lijfrente.sparen {
    .calculation {
      .periodic.slider {
        .input-header {
          label {
            display:inline-block;
            width:26%;
          }
        }
      }
    }
    .result {
      .payment-result {
        .result1 , .result2 {
          .title {}
          .calculated {}
        }
      }
      .footer-result {
        .interest {}
      }
      .result-button {
        text-align:right;
        margin-right:9px;
      }
      .disclaimer {}
    }
  }
}

@include breakpoint($brk-large-desktop) {
  .quickquote.lijfrente.sparen {
    .result {
      .payment-result {
          overflow: hidden;
          min-width: 300px;
          width: 60%;
          float: left;
        .result1 , .result2 {
          .title {}
          .calculated {}
        }
      }
      .footer-result {
        width:60%;
        .interest {}
      }
      .result-button {text-align:left;}
      .disclaimer {}
    }
  }
}