.quickquote.lijfrente.sparen.beleggen {
  .calculation {
    .periodic.slider .input-container input {
      width:100%;
    }
  }
  .result {
    .footer-result a {
      color: $white;
      font-family: $font_thin;
      @include rem('line-height', 49);
    }
    .payment-result {
      .result1, .result1 .title {
        @include rem('font-size', 18);
        font-family: $font_thin;
        .calculated {
          @include rem('font-size', 26);
        }
      }
      .result2, .result2 .title {
        @include rem('font-size', 18);
        font-family: $font_thin;
        .calculated {
          @include rem('font-size', 26);
        }
      }
      .result3, .result3 .title {
        @include rem('font-size', 18);
        font-family: $font_light;
        .calculated {
          @include rem('font-size', 26);
        }
      }
    }
  }
}

@include breakpoint($brk-mobile) {
  .quickquote.lijfrente.sparen.beleggen {
    .result  {
      .payment-result {
        width:100%;
        .result1,.result2,.result3 {
          width:100%;
          float:none;
        }
      }
    }
  }
}

@include breakpoint($brk-tablet) {
  .quickquote.lijfrente.sparen.beleggen {
    .result {
      .payment-result  {
        width:100%;
        .result1,
        .result2,
        .result3 {
          width: 32%;
          min-width: 150px;
          float: left;
          margin-right: 1%;
        }
        .result3 {
          float:right;
        }
      }
    }
  }
}

@include breakpoint($brk-ipad-portrait) {
  .quickquote.lijfrente.sparen.beleggen {
    .result {
      .payment-result {
        width: 63%;
      }
    }
  }
}

@include breakpoint($brk-large-desktop) {

}
