.quickquote.mortgage {
  color: $blue;

  .calculation .slider-container {
    margin-bottom: 0;
  }

  .calculation .input-header label {
    color: $blue;
  }

  .calculation .input-header .input-container {
    @include rem('margin-right', 53);
  }

  label {
    font-weight: normal;
  }

  .error {
    color: $dark_red;
  }

  input[type=text],
  input[type=number],
  select {
    width: 180px;
    background: $white;
    color: $black;
  }

  &.lijfrente.sparen .calculation .input-header .input-container:after {
    content: none;
  }

  label.checkbox {
    padding-left: 45px;

    .checkbox {
      left: 0;
      background: $white;
    }

    input[type=checkbox] {
      position: absolute;
    }

    :checked + .checkbox {
      background: $white;
    }
  }

  .field {
    margin-bottom: 20px;

    &:after {
      content: ' ';
      clear: both;
      display: block;
      height: 0;
      visibility: hidden;
    }


    .input-header .help {
      position: absolute;
      top: 0;
      right: 0;

      &.dialog {
        right: auto;
        width: 400px;
      }
    }

    .help {
      color: $black;
    }

    .help.dialog {
      display: none;
      margin-left: 0;
    }

    label.checkbox {
      display: inline-block;
      margin: 9px 0 16px;
      line-height: 26px;
    }

    .inputs {
      float: left;
      max-width: 100%;
      position: relative;
      &.right {
        float: right;
      }
      &.slider {
        width: 100%;
      }

      label.checkbox {
        display: block;
      }

      button {
        clear: both;
        display: block;
        margin-top: 10px;
        width: 180px;
        text-align: left;
      }
    }

  }

  button.pending:after {
    background-image: url($image_path + 'spinner.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    color: transparent;
  }

  .result {
    color: $white;

    .row {
      margin: 10px 0;

      .label,
      .currency,
      .amount {
        @include rem('font-size', $large);
      }
    }

    .label,
    ul.arrow {
      display: inline-block;
      box-sizing: border-box;
      max-width: 100%;
    }

    .value {
      display: inline-block;
      max-width: 100%;
      vertical-align: top;
    }

    .amount {
      display: inline-block;
      margin-right: 10px;
      min-width: 85px;
      text-align: right;
      vertical-align: top;
    }

    a,
    .arrow :before {
      color: $white;
    }

    .footer {
      clear: both;
    }
  }
}

@media only screen and (max-width: 640px) {
  .quickquote.mortgage {
    .field {
      .inputs.right {
        float: left;
      }
      .inputs .input-header label {
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        padding-bottom: 8px;
        padding-right: 30px;
        max-width: 100%;
        color: #007bc8;
      }
    }
  }
  .quickquote.lijfrente.sparen.mortgage .calculation .input-header .input-container .suffixed input {
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1350px) {
  .quickquote.mortgage .calculation .input-header .input-container {
    @include rem('margin-right', 54);
  }
}
