label.radio {
  position: relative;
  display: inline-block;
  width: auto;
  margin-top: $elements_radio_top;
  padding-right: 15px;
  //background-color: red;
  padding-left: 18px;
  text-align: left;
  line-height: $elements_radio_line-height;
  > input[type="radio"] {
    top: $elements_radio_top;
    left: 5px;
    opacity: 0;
    &:checked + span.radio {
      background-color: $beige;
      &:before {
        position: relative;
        top: 12px;
        left: -3px;
        list-style-type: disc;
        content: $font_icons_radio;
        text-align: right;
        color: $blue;
      }
    }
    & + span.radio {
      position: absolute;
      top: -$elements_radio_top + 7px;
      left: -3px;
      display: inline-block;
      width: $elements_radio_height - 2;
      height: $elements_radio_height - 2;
      cursor: pointer;
      border: $elements_border;
      border-radius: $elements_radio_height / 2;
      background-color: $beige;
      &:before {
        display: block;
        content: "";
        font-family: $font_icons;
        font-size: 30px;
      }
    }
  }
}
