label.radio {
  position: relative;
  display: inline-block;
  width: auto;
  margin-top: $elements_radio_top;
  padding-right: 15px;
  //background-color: red;
  padding-left: 18px;
  text-align: left;
  line-height: $elements_radio_line-height;
  > input[type="radio"] {
    top: $elements_radio_top;
    left: 5px;
    opacity: 0;
    &:checked + span.radio,
    &:checked + input[type="hidden"] + span.radio,
    &:checked ~ span.radio {
      background-color: $beige;
      box-shadow: 0 0 0 4px $white inset, 0 0 0 20px $blue inset;
    }
    & + span.radio,
    & + input[type="hidden"] + span.radio,
    & ~ span.radio {
      position: absolute;
      top: -$elements_radio_top;
      left: -3px;
      display: inline-block;
      width: $elements_radio_height - 2;
      height: $elements_radio_height - 2;
      cursor: pointer;
      border: $elements_border;
      border-radius: $elements_radio_height / 2;
      background-color: $beige;
    }
  }
}
