div.dd {
  margin-left: -5px; //somehow the selects got an additional left margin after msDD update to 3.5x
  user-select: none;
  font-family: inherit;  //this overwrites the parameters from dd.scss
  font-size: inherit;
  .divider {
    //fixing this style from the 3.5.2 version of msDD
    display: none;
  }
  div.ddTitle {
    padding-top: 3px;
    padding-left: 10px;
    .ddArrow {
      margin-top: -12px;
      &:after {
        content: $font_icons_arrow_down;
        font-family: $font_icons;
        font-size: 11px;
      }
    }
    span.ddTitleText span.description::before {
      content: "";
    }
  }
  &.ddcommon {
    outline: 0;
  }
}
