.stepindicator {
  li {
    display: inline-block;
    counter-increment: li;
    color: initial;

    @include rem("margin", 0, 20, 15, 0);
    &:before {
      left: 0;
      // Had to overwrite multiple styling properties from the default styling the li gets from _typograhy.scss
      display: inline;
      width: 20px;
      max-width: none;
      height: 20px;
      max-height: none;
      content: counter(li);
      color: white;
      background-color: #d7d8d2;
      font-family: "senticosansdtlight", Arial, Verdana, sans-serif;
      font-size: initial;
      font-weight: bold;

      @include rem("margin-right", 5);
      @include rem("border-radius", 20);
      @include rem("padding", 5, 10);
    }
    &.active,
    &.visited {
      color: $blue;
    }
    &.active {
      &:before {
        color: $blue;
        background: none;
        -webkit-box-shadow: 0 0 0 3px $blue inset;
           -moz-box-shadow: 0 0 0 3px $blue inset;
                box-shadow: 0 0 0 3px $blue inset;
      }
    }
    &.visited {
      &:before {
        content: "\e632";
        color: #fff;
        background-color: $blue;
        font-family: "aegon_icons";
        font-size: 14px;

        @include rem("padding", 9, 8);
      }
    }
  }
}

// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-mobile) {
  .stepindicator {
    li {
      @include rem("margin", 0, 5, 15, 0);
      span {
        display: none;
      }
    }
  }
}
