$sticker-circle-size: 160px;

// margin is fixed for flexible content pages, it's based on a big header plus margin,
// since the sticker is placed in columns without a fixed height, it's not possible to
// align vertically
$sticker-circle-marginTop: $xx-large + 20;

.sticker-circle-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.sticker-circle {
  display: block;
  width: $sticker-circle-size;
  height: $sticker-circle-size;
  margin: $sticker-circle-marginTop auto 0 auto;
  text-align: center;
  color: $white;
  border-radius: 50%;
  background: $dark_blue;
  font-family: $font_light;
  a {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    text-decoration: none;
    color: $white;
  }
  .rating {
    padding-top: ($sticker-circle-size / 6);
    font-size: ($sticker-circle-size / 3);
    line-height: ($sticker-circle-size / 3);
  }
  .reviews {
    padding: 2px ($sticker-circle-size / 10);
    font-size: ($sticker-circle-size / 9);
    line-height: ($sticker-circle-size / 9 + 5);
  }
}
