.dataTables_wrapper {
  position: relative;
  padding-bottom: 46px;
  .dataTables_length,
  .dataTables_paginate {
    display: none;
  }
  .dataTables_info {
    float: left;
    height: 50px;
    padding-top: 10px;
    color: #1d1d1b;
    font-family: $font_normal;
    font-weight: bold;

    @include breakpoint($brk-mobile) {
      height: auto;
    }
    @include rem('font-size',18);
  }
  .top {
    height: 50px;
  }
  .dataTables_filter {
    @include breakpoint($brk-mobile) {
      display: none;
    }
    input {
      float: right;
      width: 110px;
      height: 36px;
      margin: 0 0 10px 8px;
      padding: 0 20px 0 10px;
      -webkit-transition: all .5s;
         -moz-transition: all .5s;
              transition: all .5s;
      border: 2px solid #efebe7;
      background: url('../images/icons/icon-search-header.png') no-repeat right center;
      background-size: 30px 30px;
      &:focus {
        width: 35%;
      }
    }
  }
  table {
    clear: both; /* FF Fix */
    width: 100% !important;
    border-top: 1px solid #d8d7d1;
    border-bottom: 1px solid #d8d7d1;
    tr {
      height: 60px;
      &.odd {
        background: #fff;
      }
      &.even {
        background: #efebe7;
      }
      td {
        padding: 0 0 0 10px;
      }
      td,
      th {
        vertical-align: middle;
        border-right: 1px solid white;
        button {
          margin: 0;
        }
      }
      th {
        position: relative;
        width: auto !important;
        padding: 0 0 0 10px;
        outline: none;
        background-color: $lighter_grey;
        background-clip: padding-box;
        font-weight: bold;
        &:last-child:after {
          display: none;
        }
        &.narrow-td {
          width: 60px !important;
        }
        &.sorting,
        &.sorting_desc,
        &.sorting_asc {
          cursor: pointer;
        }
      }
      .narrow-td {
        text-align: center;
        .icon {
          @include rem('font-size',28);
        }
      }
      .sorting:after {
        color: #d8d7d1;
      }
      .sorting_desc:after {
        color: #000;
      }
      .sorting_asc:after {
        /* IE 9 */
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
                transform: rotate(180deg);
        color: #000;
      }
      .sorting:after,
      .sorting_desc:after,
      .sorting_asc:after {
        position: absolute;
        right: 20px;
        content: '\e630';
        font-family: 'aegon_icons';

        @include rem('font-size',12);
        -webkit-font-smoothing: antialiased;
      }
    }
    /* Collapsed*/
    &.dtr-inline.collapsed {
      border-top: 0;
      thead {
        display: none;
      }
      tr {
        height: 40px;
        cursor: pointer;
        border-top: 1px solid #e0e0e0;
        background: #fff;
        &:before {
          position: absolute;
          margin-top: 7px;
          content: '\e903';
          color: #3395d3;
          font-family: 'aegon_icons';
          font-size: 12px;
        }
        &.parent {
          &:before {
            content: '\e63c';
          }
        }
        &:first-child {
          border: 0;
        }
        &.child {
          border: 0;
          &:before {
            visibility: hidden;
          }
        }
        td {
          position: relative;
          padding-left: 20px;
          ul {
            margin: 0;
            padding: 0;
            li {
              margin-bottom: 10px;
              &:first-child {
                display: none;
              }
              span:first-child {
                display: block;
                font-weight: bold;
              }
            }
          }
        }
        .icon {
          position: absolute;
          top: -30px;
          right: 0;

          @include rem('font-size', 28);
        }
      }
    }
  }
}
.table-title {
  display: block;
  color: $blue;
  font-family: $font_light;

  @include rem('font-size', 30);
  @include rem('line-height', 32);
}
.table-desc {
  position: absolute;
  display: block;
  margin: 10px 0;
  color: #1d1d1b;
  font-family: $font_normal;
  font-weight: bold;

  @include rem('font-size',18);
}

.show-all {
  position: absolute;
  left: 50%;
  width: 110px;
  margin-left: -55px;
  padding: 3px 5px;
  cursor: pointer;
  text-align: center;
  color: #3395d3;
  border-bottom-right-radius: .1875rem;
  border-bottom-left-radius: .1875rem;
  background: #efebe7;
  &:before {
    content: 'Toon alles' !important;
  }
  &:after {
    display: block;
    margin: -6px 0 -4px 0;
    content: '\e600';
    /* IE 9 */
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
            transform: rotate(90deg);
    font-family: 'aegon_icons';

    @include rem('font-size',10);
  }
  &.changed:before {
    content: 'Verbergen' !important;
  }
  &.changed::after {
    /* this selector is more specific, so it takes precedence over the other :after */
    transform: rotate(-90deg) !important;
  }
}
