$input_width: 228px;
$input_margin: 5px;
$input_height: $elements_height;

input[type=text],
input[type=email],
input[type=number],
select,
div.dd div.ddTitle,
label.dd div.ddTitle {
  height: $input_height;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  border: $elements_border;
  border-radius: $elements_border_radius;
  outline: 0;
  background-color: $beige;
  box-shadow: none;
}
input[type=text],
input[type=email],
input[type=number] {
  padding: 9px 10px;
  padding-right: 10px;
  &.inactive {
    color: #a9a9a9;
  }
}

textarea {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  border: $elements_border;
  border-radius: $elements_border_radius;
  outline: 0;
  background-color: $beige;
  box-shadow: none;
}

input[type=text],
input[type=email],
input[type=number],
select,
div.dd {
  width: $input_width;
  &.half {
    float: left;
    width: $input_width / 2 - $input_margin;
    margin-right: $input_margin * 2;
    &:last-child {
      //last-child works also in conjunction with selects and textareas, last-of-type won't; just keep an eye out if there are still other DOM elements after an input
      float: none;
    }
  }
  &.quarter {
    float: left;
    width: $input_width / 4 - $input_margin * 2;
    margin-right: $input_margin * 2;
    &:last-child {
      float: none;
    }
  }
}

input[type=checkbox],
input[type=radio] {
  width: auto;
}

.inputscontainer {
  display: table-row;
  .incont-cell {
    display: table-cell;
    padding: 0 10px 0 10px;
  }
}

.input.number {
  .prefix, .suffix {
    position: absolute;
    z-index: 1;
    color: $darker_grey;
    pointer-events: none;
  }

  .prefix {
    padding: 9px 0 9px 10px;
  }

  .suffix {
    right: 8px;
    padding-top: 9px;
  }

  input {
    text-align: right;
  }

  &.prefixed input {
    padding-left: 30px;
  }

  &.suffixed input {
    padding-right: 40px;
  }
}

.input.date {
  &:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  input {
    float: left;
    margin-right: 5px;
    width: 50px;
  }

  .year {
    width: 70px;
  }
}
