<div class="sticky-wrapper">
  <div class="sticky-wrapper__img"></div>
  <div class="sticky-inner-wrapper">
      <p class="sticky-inner-wrapper__title">{{title}}</p>
      <p class="sticky-inner-wrapper__general-text sticky-inner-wrapper__freetext">{{text}}</p>      
      <p class="sticky-inner-wrapper__general-text sticky-inner-wrapper__hourstext">
        {{hoursText | replace : {'[[fromHours]]': fromHours, '[[toHours]]': toHours} }}
      </p>
      
      <ul *ngFor="let contact of data.options.contactOptions;" class="sticky-inner-wrapper__contactList">
        <li><a class="{{contact.class}}" href="{{contact.href}}">{{contact.text}}</a></li>
      </ul>
  </div>
</div>
