//
// All layout files
// 
// NOTE: Respect the order of loaded files.
// --------------------------------------------------




// Colors
$blue_whale_approx: #00304c;
$white: #fff;
$lochmara_approx: #007ac7;
$web_orange_approx: #f9a600;
$curious_blue_approx: #3395d3;
$cararra_approx: #edebe5;
$corn_harvest_approx: #9a6701;
$prussian_blue_approx: #00334e;
$rangoon_green_approx: #1d1d19;
$quill_gray_approx: #d8d7d1;
$storm_dust_approx: #666;
$gray_approx: #7f7f7f;
$tiara_approx: #c5ced1;
$celeste_approx: #ccc;
$shady_lady_approx: #a7a7a6;
$fuscous_gray_approx: #50504f;
$selective_yellow: #ffba00;
$chateau_green_approx: #49af57;
$link_water_approx: #d6eaf6;
$heather_approx: #b1c5ce;
$blue_whale_20_approx: rgba(0, 48, 76, .2);
$bali_hai_approx: #8ba5b2;
$black_40: rgba(0, 0, 0, .4);
$delta_approx: #a2a2a1;
$stack_approx: #8e8e8c;
$ebb_approx: rgba(231,229,223,1);
$shakespeare_approx: #51a5da;
$chestnut_approx: #bb5450;
$surf_crest_approx: #c8e7cc;
$mercury_approx: #e7e3e7;
$gray_nickel_approx: #c4c3bd;
$nebula_approx: #c7d7db;
$black_30: rgba(0, 0, 0, .3);
$fun_blue_approx: #2163ae;
$seashell: #f1f1f1;
$black: #000;
$alto_approx: #ddd;
$pampas_approx: #f3f4ee;
$kournikova_approx: #fe7;
$pale_prim_approx: #ffb;
$bon_jour_approx: #e1e2dc;
$fall_green_approx: #eeb;
$cream_approx: #ffc;
$black_10: rgba(0,0,0,.1);
$green_house_approx: #255b1e;
$hint_of_green_approx: #e5ffe2;
$midnight_approx: #040f37;
$sail_approx: #bdf;
$peru_tan_approx: #840;
$gin_fizz_approx: #fffbe2;
$guardsman_red_approx: #c70000;
$pippin_approx: #fdd;
$tapa_approx: #777;
$gallery_approx: #f0f0f0;
$hippie_green_approx: #4d8f46;
$japanese_laurel_approx: #0a6700;
$mine_shaft_approx: #333;
$black_75: rgba(0,0,0,.75);
$well_read_approx: #b73939;
$red_berry_approx: #900;
$congress_blue_approx: #004c99;
$neon_carrot_approx: #f69231;
$orange_approx: #ef6114;
$deep_cerulean_approx: #006fb1;
$regent_gray_approx: #7f97a5;

// Fonts
$font_1: senticosansdtlight;
$font_2: Arial;
$font_3: Verdana;
$font_4: sans-serif;
$font_5: senticosansdtregular;
$font_6: SenticoSansDT-Medium;
$font_7: Helvetica;

// Urls
$url_0: url(../../../images/usp-list.png);
$url_1: url(../../../images/arrow-icons.png);
$url_2: url(../../../images/flat-btn-bg-overlay.png);
$url_3: url(../../../images/text-link-icon.png);
$url_4: url(../../../images/icon-bullet.png);
$url_5: url(../../../images/list-icons.png);
$url_6: url(../../../images/table-bottom.png);
$url_7: url(../../../images/open-close.png);
$url_8: url(../../../images/icon-arrow-right.png);
$url_9: url(../../../images/icon-arrow-left.png);
$url_10: url(../../../images/btn-bg-overlay.png);
$url_11: url(../../../images/icon-call.png);
$url_12: url(../../../images/icon-chat.png);
$url_13: url(../../../images/icon-search.png);
$url_14: url(../../../images/calculator-bg.png);
$url_15: url(../../../images/icon-calculator.png);
$url_16: url(../../../images/show-more-white.png);
$url_17: url(../../../images/icons/btn-bg-overlay.png);
$url_18: url(../../../images/icons/icon-arrow-right.png);
$url_19: url(../../../images/icon-link.png);
$url_20: url(../../../images/icon-read.png);
$url_21: url(../../../images/arrow-icons-new.png);
$url_22: url(../../../images/icon-download.png);
$url_23: url(../../../images/faq.png);
$url_24: url(../../../images/arrow-next.png);
$url_25: url(../../../images/icon-custom-select.png);
$url_26: url(../../../images/icon-lock.png);
$url_27: url(../../../images/icon-tick.png);
$url_28: url(../../../images/icons/btn-checkbox.png);
$url_29: url(../../../images/loader-blue.gif);
$url_30: url(../../../images/icons/icon-close-cookie.png);
$url_31: url(../../../images/text-bg.png);
$url_32: url(../../../images/icons/cookie-opt-in-table-header-icons.png);
$url_33: url(../../../images/icons/check-medium.png);
$url_34: url(../../../images/icons/cross-medium.png);
$url_35: url(../../../images/icon-note.png);
$url_36: url(../../../images/list-bottom-bg.png);
$url_37: url(../../../images/icon-link-arrow-right-blue.png);
$url_41: url(../../../images/icon-bullet@2x.png);
$url_42: url(../../../images/list-icons@2x.png);
$url_43: url(../../../images/open-close@2x.png);
$url_44: url(../../../images/icon-arrow-right@2x.png);
$url_45: url(../../../images/icon-arrow-left@2x.png);
$url_46: url(../../../images/flat-btn-bg-overlay@2x.png);
$url_47: url(../../../images/btn-bg-overlay@2x.png);
$url_48: url(../../../images/icon-call@2x.png);
$url_49: url(../../../images/icon-chat@2x.png);
$url_50: url(../../../images/icon-search@2x.png);
$url_51: url(../../../images/calculator-bg@2x.png);
$url_52: url(../../../images/icon-calculator@2x.png);
$url_53: url(../../../images/show-more-white@2x.png);
$url_54: url(../../../images/icon-link@2x.png);
$url_55: url(../../../images/icon-read@2x.png);
$url_56: url(../../../images/icon-download@2x.png);
$url_57: url(../../../images/faq@2x.png);
$url_58: url(../../../images/icon-tick@2x.png);
$url_59: url(../../../images/arrow-icons-new@2x.png);
$url_60: url(../../../images/arrow-next@2x.png);
$url_61: url(../../../images/icons/btn-checkbox@2x.png);
$url_62: url(../../../images/list-bottom-bg@2x.png);
$url_63: url(../../../images/icon-link-arrow-right-blue@2x.png);
$url_64: url(../../../images/icon-lock@2x.png);
$url_65: url(../../../images/search-icon.png);
$url_66: url(../../../images/mobile-menu-link@2x.png);
$url_67: url(../../../images/home-icon@2x.png);
$url_68: url(../../../images/klantenservice@2x.png);
$url_69: url(../../../images/separator@2x.png);
$url_70: url(../../../images/icon-product-list@2x.png);
$url_71: url(../../../images/icon-arrow-right@2xt.png);
$url_72: url(../../../images/icon-product-list-black@2x.png);
$url_73: url(../../../images/icon-social@2x.png);
$url_74: url(../../../images/step-menu-arrow@2x.png);
$url_75: url(../../../images/icon-klantenservice@2x.png);

@import "grids";
@import "header";
@import "footer";
@import "sidebar";
@import "form-elements";
@import "structure";
@import "fields";
@import "blocks";
@import "nodes";
@import "views";
@import "ui";
@import "media_queries";