
//
// Block elements
// --------------------------------------------------

.block--views-service-link-block,
.block--views-service-link-block-1,
.block--menu-menu-particulier  {
  min-height: 349px;
  padding: 22px 22px 20px;
  border: 1px solid $quill_gray_approx;
  border-radius: 3px;
  background: $white;
  box-shadow: -1px 1px 0 0 $quill_gray_approx;
}

.block--views-service-link-block,
.block--views-service-link-block-1 {
  .field--name-field-links-fc {
    border: none;
    .field-item:last-child {
      border-bottom: none;
    }
  }
  h2 {
    font: bold 22px/26px $font_5, $font_2, $font_3, $font_4;
    margin: 0 0 10px;
    color: $rangoon_green_approx;
    a {
      color: $rangoon_green_approx;
    }
  }
}

.block--menu-menu-particulier {
  overflow: hidden;
  padding: 0;
  border: none;
  box-shadow: 0 1px 1px 0 $quill_gray_approx;
  .field--name-field-url-type1 {
    p {
      margin: 0;
    }
    a {
      font-size: 22px;
      line-height: 25px;
      color: $white;
    }
  }
  h2 {
    display: none;
  }
  .node--link-block .field--name-field-links-fc {
    border: none;
  }
  .field--name-field-links-fc .field-item {
    padding: 0 22px;
    border: none;
    background-color: $curious_blue_approx;
    .service-item {
      padding: 23px 0;
      border-bottom: 1px solid $shakespeare_approx;
    }
    &.white-bg-link {
      .service-item {
        border-bottom: 1px solid $celeste_approx;
      }
      &:last-child .service-item {
        border: none;
      }
    }
    &:last-child .service-item {
      border: none;
    }
  }
  .menu li {
    list-style: none;
    border-bottom: 1px solid $shakespeare_approx;
    &:first-child {
      padding-top: 0;
    }
    &.first {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 1px;
      border-bottom: none;
    }
    &.last {
      padding-bottom: 1px;
      border-bottom: none;
    }
    &.Home {
      display: none;
    }
    &.Klantenservice {
      display: none;
    }
    &.test {
      display: none;
    }
    > a {
      font-size: 22px;
      line-height: 22px;
      display: inline-block;
      padding: 17px 0 18px 43px;
      color: $white;
    }
  }
}

.page-zakelijk {
  .block--views-service-link-block {
    min-height: 285px;
  }
  .block--views-service-link-block-1 {
    min-height: 285px;
  }
  .block--menu-menu-particulier {
    min-height: 285px;
  }
}