
//
// Header
// --------------------------------------------------

header.header {
  position: relative;
  margin: 0 auto;
  padding: 0;
  @include rem('height', 63);
  @include rem('min-height', 63);
  display: table;
  width: 100%;

  .sx,
  .md,
  .dx {
    display: table-cell;
    vertical-align: middle;
  }

  .sx {
    width: 30%;
    text-align: left;
    padding-left: 1.5rem;
    @include rem('min-height', 63);
  }

  .md {
    width: 40%;
    text-align: center;
  }

  .dx {
    width: 30%;
    text-align: right;
    padding-right: 1.5rem;
  }

  // Mobile elements
  .tap-menu {

    a {
      width: 20px;
      height: 17px;
      background: url('../images/ui/tap-menu.png') no-repeat top left transparent;
      text-indent: -9999px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .mobile-logo {

    a {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 90px;
      padding-top: 6px;
    }
  }

  .btns {

    a {
      vertical-align: middle;
    }
  }

  // Desktop elements
  .region-header-left {
    display: none;
  }

  .region-header {
    display: none;

    .block {
      display: none;
      float: left;
      width: auto;
      position: relative;
    }
  }
}


// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  header.header {
    @include rem('min-height', 90);
    padding: 0 7.3%;

    .dx {
      float: none;
      width: auto;
      padding: 0;
    }

    // Mobile elements
    .tap-menu,
    .mobile-logo {
      display: none;
    }

    // Desktop elements
    .region-header-left,
    .region-header {
      display: table-cell;
      vertical-align: middle;

      .block {
        display: block;
      }
    }
  }
}