
//
// Node elements
// --------------------------------------------------

.node--product {
  .field-collection-container {
    margin: 0;
    border: none;
  }
  #title-ct-0 {
    display: none;
  }
  #call-exec-element #title-ct-0 {
    display: block;
  }
}

.node--service-home {
  .kla-subtext {
    margin-bottom: 0;
    h2 {
      margin: 0;
    }
    .field--name-body p {
      font: 24px/30px $font_1, $font_2, $font_3, $font_4;
      word-wrap: break-word;
      color: $lochmara_approx;
    }
  }
  .faq-container {
    border: none;
  }
  h3.serv_faq_title {
    font: 18px/27px $font_5, $font_2, $font_3, $font_4;
  }
  .node--link-block .field--name-field-links-fc {
    padding: 20px;
    border: 1px solid $quill_gray_approx;
    border-radius: 3px;
    box-shadow: -1px 1px 0 0 $quill_gray_approx;
    .field-item {
      padding-left: 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border: none;
      }
    }
  }
  .field--name-field-top-task-left-block-ref .node--link-block .element-title,
  .field--name-field-top-task-right-block-ref .node--link-block .element-title,
  .field--name-field-faq-search-element-ref .node--block-content .element-title {
    display: none;
  }
}

.node-type-e-commerce-block {
  .field--name-field-sub-title {
    margin-bottom: 0;
    color: $rangoon_green_approx;
  }
  .field--name-field-e-com-price {
    margin-bottom: 5px;
  }
  .field--name-field-e-price {
    margin-bottom: 5px;
  }
  .rating-count {
    margin-left: 10px;
    color: $stack_approx;
  }
  .span6:first-child {
    border-right: 1px solid $mercury_approx;
  }
}

.node--e-commerce-block {
  margin-right: 1%;
}

.node--chapter-element {
  padding: 20px 0;
  .element-title {
    text-align: center;
    color: $curious_blue_approx;
    font: 40px/44px $font_1, $font_2, $font_3, $font_4;
    .field-item {
      font: 40px/44px $font_1, $font_2, $font_3, $font_4;
    }
  }
  .field--name-body {
    text-align: center;
    color: $curious_blue_approx;
    font-size: 25px;
    line-height: 30px;
    p {
      text-align: center;
      color: $curious_blue_approx;
      font-size: 25px;
      line-height: 30px;
    }
  }
  .field--name-field-image-banner {
    margin: 30px 0;
  }
  .field--name-field-description-type3-single {
    color: $rangoon_green_approx;
    hr {
      border-top: 1px solid $quill_gray_approx;
    }
  }
  .field--name-field-downloads {
    margin-top: 15px;
  }
}

.node-type-product .generic-space {
  margin: 0;
}

.node--link-block {
  .field--name-field-url-type1 {
    float: left;
    width: 76%;
    p {
      margin: 0;
    }
  }
  .field--name-body {
    margin: 0 0 15px;
  }
  .field--name-field-links-fc {
    border-top: 1px solid $celeste_approx;
    .field-item {
      line-height: normal;
      padding: 15px 0;
      border-bottom: 1px solid $celeste_approx;
      .entity-field-collection-item .field-items {
        border: none;
        .field-item {
          padding: 0;
          border: none;
          a {
            font-family: $font_5, $font_2, $font_3, $font_4;
            color: $curious_blue_approx;
          }
        }
      }
    }
    .field--name-field-usp-image {
      line-height: 0;
      margin-right: 10px;
    }
  }
}

.node--text-button-with-link {
  .field--name-body {
    margin-bottom: 15px;
  }
  .button-link-text-button-wrapper a {
    font-size: 18px;
    line-height: 22px;
    padding-left: 15px;
    color: $lochmara_approx;
    background: $url_1 0 -212px no-repeat;
  }
}

.node--situation-explanation {
  .field--name-field-description-type1 {
    margin: 0 0 30px;
    .field-item {
      font: 27px/33px $font_1, $font_2, $font_3, $font_4;
      margin: 15px 0 0;
      padding-left: 15px;
      color: $delta_approx;
      border-left: 1px solid $celeste_approx;
      p {
        font: 27px/33px $font_1, $font_2, $font_3, $font_4;
        color: $delta_approx;
      }
      a {
        font: 18px/18px $font_5, $font_2, $font_3, $font_4;
        padding-left: 20px;
        color: $curious_blue_approx;
        background: $url_19 0 50% no-repeat;
      }
    }
  }
  .field--name-body {
    margin: 0 0 30px;
  }
  .calculation-desc .field--name-body {
    margin: 0;
  }
  .field--name-field-topics .field--name-field-description-type1 .field-item {
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 25px;
    padding: 0;
    color: 00304C;
    border: none;
    a {
      font-size: 18px;
      line-height: 23px;
      padding: 0;
      color: $lochmara_approx;
      background: none;
    }
    p {
      font-family: $font_1, $font_2, $font_3, $font_4;
      font-size: 18px;
      line-height: 23px;
      margin: 0;
      padding: 0;
      color: $blue_whale_approx;
      border: none;
    }
  }
}

.node--campaign-page .group-usp-links h3 {
  display: none;
}

.node--service-detail .field--name-field-faq-search-element-ref .node--block-content .element-title {
  display: none;
}

.node-type-chapter-element .title {
  text-align: center;
  color: $curious_blue_approx;
  font: 40px/44px $font_1, $font_2, $font_3, $font_4;
}

.node-type-subhome.page-node article {
  margin: 0;
}

.node--text-button-element .field-items {
  margin: 0 0 15px;
}

html.js .node--product .field--name-field-text-link .text-link-wrapper {
  legend {
    margin-bottom: 15px;
    padding: 0;
  }
  .fieldset-legend a {
    font: 27px/30px $font_1, $font_2, $font_3, $font_4;
  }
}

html.js .node--product .row-fluid fieldset.collapsible.collapsed {
  height: auto;
}


//
// Media Queries
// --------------------------------------------------

@include breakpoint($brk-not-mobile) {

  .node--product {
    .field-group-fieldset.cost-element {
      padding-bottom: 0;
    }
    .field-collection-container .field-items .field-item {
      margin: 0;
    }
  }
}