
//
// Sidebar
// 
// Example: Sidebars / Menu / Aside
// --------------------------------------------------

.region-navigation {
  display: none;
}


//
// Media Queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  .region-navigation {
    display: block;
    width: 170px;
    background: #3395D3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
}





.region-navigation .stickleft,
.region-navigation .mobile {
  display: none;
}