
//
// Common styles for menus
// --------------------------------------------------

.region-navigation {
  width: 0;
  height: 0;
  position: static;
}

.wrapper.ui-panel-animate {
  transition: transform 0.2s ease-in-out;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}


//
// Aegon menu icons
// --------------------------------------------------

a[class*="menu-"]:before {
  font-family: 'aegon_icons';
  @include rem('font-size', 24);
  position: absolute;
  top: 50%;
  left: 7%;
  display: block;
  text-align: center;
  @include rem('width', 30);
  @include rem('height', 20);
  @include rem('margin-top', -10);
  -webkit-font-smoothing: antialiased;
}

a.menu-klantenservice,
a.menu-4532:before,
a.menu-5659:before {
  @extend .icon-uniE605;
}
a.menu-4610:before,
a.menu-5694:before {
  @extend .icon-uniE610;
}
a.menu-5074:before {
  @extend .icon-uniE607;
}
a.menu-5662:before {
  @extend .icon-uniE608;
}
a.menu-4547:before,
a.menu-5657:before {
  @extend .icon-uniE611;
}
a.menu-4494:before {
  @extend .icon-uniE608;
}
a.menu-4495:before {
  @extend .icon-uniE609;
}
a.menu-4496:before,
a.menu-4537:before {
  @extend .icon-uniE60B;
}
a.menu-4546:before {
  @extend .icon-uniE629;
}
a.menu-4497:before {
  @extend .icon-uniE60A;
}
a.menu-user-link-white:before,
a.menu-user-link:before {
  @extend .icon-uniE606;
  color: $green;
}
a.menu-user-link-white:before {
  color: $white;
}
a.menu-home:before,
a.menu-5653:before {
  // @extend .icon-uniE611;
}


//
// Media Queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  aside.desktop {
    display: block;
  }

  aside.mobile {
    display: none;
  }
}
