
//
// Main structure
// --------------------------------------------------

.clearfix {

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.wrapper {
  background-color: $white;

  &.ui-panel-animate {
    transition: transform 0.2s ease-in-out;
    backface-visibility: hidden;
    perspective: none;
  }
}


// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  section.scroll {
    @include rem('margin-left', 170);
  }
}

@include breakpoint($brk-large-desktop) {

  .wrapper {
    width: 1350px;
    max-width: 1350px;
  }
}


/**
 * TEMP STUFF for DEV
 */
#inpage-chat {
  display: none;
}
