<!--<h1>Stel uw pensioenproduct samen</h1>-->
<h2 class="general-form__box__sub__header">Uw situatie: u gaat binnenkort met pensioen</h2>
    <ul class="number-form__list">
      <li class='number-form__list__section'>

        <span class="number-form__list__numberCircle">1</span>

        <span class="general-form__box__sub__header">{{data.options.block1.title}}</span>

        <div [@visibility]="editVisibility(1)">
          <div class="form-section__input__results">
            <span>€ {{pension['pensionAmount']| money}}</span>
            <!--<span class="edit" (click)="editSection(1)"> > Aanpassen</span>-->
            <ul class="arrow" (click)="editSection(1)">
              <li><span>Aanpassen</span></li>
            </ul>
          </div>
        </div>

        <div [@visibility]="visibility[1]">
          <p class="general-form__para">{{data.options.block1.subTitle}}</p>
          <div class="form-element-text__row">
              <div class="table">
                  <div class="row">
                      <div class="col form-element__column">
                        <span class="general-form__box__head">{{data.options.block1.box.title}}</span>
                        <p>{{data.options.block1.box.text}}</p>
                        <div class="inputs number">

                          <aa-input-number class="aa-input--euro" #amountInput prefix="€" [(ngModel)]="pension['pensionAmount']" [max]="99999999"
                                             (focus)="amountTooSmall = false; amountInput.select()" (keyup)="isValidAmount()"
                                             (enter)="submitAmount()" [placeholder]="'min 25.000'">
                          </aa-input-number>

                          <span class="hint-message__wrapper" *ngIf="amountIsValid">
                            <p class="hint">
                              Minimaal €25.000
                            </p>
                          </span>
                        </div>

                        <button *ngIf="!pension.sessionSet" class="arrow button" type="button" (click)="goTo(1,2)" [disabled]="isValidAmount()">{{data.options.block1.box.btn}}</button>

                        <button *ngIf="pension.sessionSet" class="button icon-right icon-calculator" type="button" (click)="submitForm(pension); visibility[1] = 'hidden'" [disabled]="isValidAmount()">{{data.options.block5.box.btn}}</button>

                      </div>
                      <div class="col form-text__column">
                          <span class="form-text__icon icon-piggy-bank"></span>
                          <span class="header">{{data.options.block1.socialProofing.title}}</span>
                          <span class="content">{{data.options.block1.socialProofing.text}}</span>
                          <span class="brand">{{data.options.block1.socialProofing.source}}</span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </li>
      <li class='number-form__list__section'>
        <span class="number-form__list__numberCircle">2</span>
        <span class="general-form__box__sub__header">{{data.options.block2.title}}</span>

        <div [@visibility]="!pension['pensionLocation'] == false ? editVisibility(2) : 'hidden'">
          <div class="form-section__input__results">
            <span>
              <span *ngIf='pension["pensionLocation"] == "0" ' class="block">
                Aegon
              </span>
              <span *ngIf='pension["pensionLocation"] == "1" ' class="block">
               Andere verzekeraar(s) of pensioenfonds(en)
              </span>
              <span *ngIf='pension["pensionLocation"] == "2" ' class="block">
                Zowel bij Aegon als bij andere verzekeraar(s) of pensioenfonds(en)
              </span>
            </span>
            <!--<span class="edit" (click)="editSection(2)"> > Aanpassen</span>-->
            <ul class="arrow" (click)="editSection(2)">
              <li><span>Aanpassen</span></li>
            </ul>
          </div>
        </div>

        <div [@visibility]="visibility[2]">
            <p class="general-form__para">{{data.options.block2.box.title}}</p>
            <div class="general-form__box">
              <span class="general-form__box__head">{{data.options.block2.box.text}}</span>
              <div class="white-radio-wrapper">
                <label class="radio white-radio">
                  <input type="radio" value="0" [(ngModel)]="pension['pensionLocation']" (change)="pensionValidLocation = true" />
                  <span class="radio"></span>
                  <span class="label-text">{{data.options.block2.box.label1}}</span>
                </label>

                <label class="radio white-radio">
                  <input type="radio" value="1" [(ngModel)]="pension['pensionLocation']" (change)="pensionValidLocation = true"/>
                  <span class="radio"></span>
                  <span class="label-text">{{data.options.block2.box.label2}}</span>
                </label>

                <label class="radio white-radio">
                  <input type="radio" value="2" [(ngModel)]="pension['pensionLocation']" (change)="pensionValidLocation = true"/>
                  <span class="radio"></span>
                  <span class="label-text">{{data.options.block2.box.label3}}</span>
                </label>
              </div>

              <button *ngIf="!pension.sessionSet" class="arrow button" type="button" (click)="goTo(2,3)" [disabled]="!pension['pensionLocation']">{{data.options.block2.box.btn}}</button>

              <button *ngIf="pension.sessionSet" class="button icon-right icon-calculator" type="button" (click)="submitForm(pension); visibility[2] = 'hidden'" [disabled]="!pension['pensionLocation']">{{data.options.block5.box.btn}}</button>

            </div>
        </div>

      </li>
      <li class='number-form__list__section'>
        <span class="number-form__list__numberCircle">3</span>
        <span class="general-form__box__sub__header">{{data.options.block3.title}}</span>


        <div [@visibility]="editVisibility(3)">

          <div class="form-section__input__results">

            <span class="block">
              <span *ngIf='pension["havePartner"] == true' class="block">
                Ja, ik heb een partner
              </span>
              <span *ngIf='pension["havePartner"] == false' class="block">
                Nee, ik heb geen partner
              </span>
            </span>

            <span *ngIf='hasPartner !== "hidden" || pension["havePartner"] == true' class="block">
              <span *ngIf='pension["insurablePartner"] == true'>
                Ja, ik wil een partnerpensioen verzekeren
              </span>

              <span *ngIf='pension["insurablePartner"] == false && initChangeHasPartner == true || pension["havePartner"] == true && pension["insurablePartner"] == false'>
                Nee, ik wil geen partnerpensioen verzekeren
              </span>
            </span>

            <span class="block" *ngIf='pension["insurablePartner"] !== false && hasPartner !== "hidden" && partnersDobReadable[1] !== "" && initChangeNoPolicy !== true && sessionPartnerDob == ""'>
               Geboortedatum partner: {{partnersDobReadable[1]}}
            </span>

            <span *ngIf='sessionPartnerDob !== "" && initChangeHasPartner !== false && initChangeNoPolicy !== true && pension["havePartner"] !== false && pension["insurablePartner"] !== false'>
              <span>Geboortedatum partner: {{sessionPartnerDob| dateToReadableString}}</span>
            </span>

            <ul class="arrow" (click)="editSection(3)">
              <li><span>Aanpassen</span></li>
            </ul>

          </div>
        </div>

        <div [@visibility]="visibility[3]">
          <p class="general-form__para">{{data.options.block3.test}}</p>
          <div class="form-element-text__row">
              <div class="table">
                  <div class="row">
                      <div class="col form-element__column">

                        <span class="general-form__box__head">{{data.options.block3.box.title}}</span>

                        <div class="white-radio-wrapper">
                          <label class="radio white-radio">
                            <input type="radio" name="whofor" [value]="true" [(ngModel)]="pension['havePartner']" (change)="hasPartner = 'show'; initChangeHasPartner = true" />
                            <span class="radio"></span>
                            <span class="label-text">{{data.options.block3.box.label1}}</span>
                          </label>

                          <label class="radio white-radio">
                            <input type="radio" name="whofor" [value]="false" [(ngModel)]="pension['havePartner']" (change)="hasPartner = 'hidden'; initChangeHasPartner = false" />
                            <span class="radio"></span>
                            <span class="label-text">{{data.options.block3.box.label2}}</span>
                          </label>
                        </div>
                        <div [@visibility]="hasPartner">
                          <span class="general-form__box__head">{{data.options.block3.box.title2}}</span>
                            <div class="white-radio-wrapper">
                              <label class="radio white-radio extended-text">
                                <input type="radio" name="havePartner" [value]="true" [(ngModel)]="pension['insurablePartner']" (change)="partnerDob = 'show'; initChangeNoPolicy = false" />
                                <span class="radio"></span>
                                <span class="label-text"><strong>{{data.options.block3.box.yesPartnerPension.label}}</strong></span>
                                <span class="label-text">{{data.options.block3.box.yesPartnerPension.text}}</span>
                              </label>

                              <label class="radio white-radio extended-text">
                                <input type="radio" name="havePartner" [value]="false" [(ngModel)]="pension['insurablePartner']" (change)="partnerDob = 'hidden'; initChangeNoPolicy = true " />
                                <span class="radio"></span>
                                <span class="label-text"><strong>{{data.options.block3.box.noPartnerPension.label}}</strong></span>
                                <span class="label-text">{{data.options.block3.box.noPartnerPension.text}}</span>
                              </label>
                            </div>
                            <div [@visibility]="partnerDob">
                              <div style="height: 100%;">
                                <span class="general-form__box__head">{{data.options.block3.box.title3}}</span>

                                <div class="inputs birthdate">
                                  <aa-input-date (modelChange)="validateAge($event, 1, 'partner', 'partner')" [(ngModel)]="pension['birthDateOfPartner']" class="aa-qq-aov__input" [setFocus]="setFocus"></aa-input-date>

                                  <span class="hint-message__wrapper" *ngIf="userAgeInvalid[1]">
                                    <p class="hint">
                                      Voer een geldige geboortedatum in
                                    </p>
                                  </span>

                                  <span class="hint-message__wrapper" *ngIf="userToYoung[1]">
                                    <p class="hint">
                                      Leeftijd is te laag
                                    </p>
                                  </span>

                                  <span class="hint-message__wrapper" *ngIf="userToOld[1]">
                                    <p class="hint">
                                      Leeftijd is te hoog
                                    </p>
                                  </span>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div>
                          <button *ngIf="!pension.sessionSet" class="arrow button" type="button" (click)="goTo(3,4)" [disabled]="btnValidationForUserPartner()">{{data.options.block3.box.btn}}</button>

                          <button *ngIf="pension.sessionSet" class="button icon-right icon-calculator" type="button" (click)="submitForm(pension); visibility[3] = 'hidden'" [disabled]="btnValidationForUserPartner()">{{data.options.block5.box.btn}}</button>
                        </div>
                      </div>
                      <div class="col form-text__column">
                          <span class="form-text__icon icon-calendar-date-2"></span>
                          <span class="header">{{data.options.block3.socialProofing.title}}</span>
                          <span class="content">{{data.options.block3.socialProofing.text}}</span>
                          <span class="brand">{{data.options.block3.socialProofing.source}}</span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </li>
      <li class='number-form__list__section'>
        <span class="number-form__list__numberCircle">4</span>
        <span class="general-form__box__sub__header">{{data.options.block4.title}}</span>

        <div [@visibility]="editVisibility(4)">
          <div class="form-section__input__results">
            <span>Mijn geboortedatum: {{pension['birthDate']| dateToReadableString}} </span>
            <!--<span class="edit" (click)="editSection(4)"> > Aanpassen</span>-->
            <ul class="arrow" (click)="editSection(4)">
              <li><span>Aanpassen</span></li>
            </ul>
          </div>
        </div>

        <div [@visibility]="visibility[4]">
          <p class="general-form__para">{{data.options.block4.subTitle}}</p>
          <div class="form-element-text__row">
              <div class="table">
                  <div class="row">
                      <div class="col form-element__column">

                        <span class="general-form__box__head">{{data.options.block4.box.title}}</span>

                        <div class="inputs birthdate">
                          <aa-input-date (modelChange)="validateAge($event, 2, 'user', 'user')" [(ngModel)]="pension['birthDate']" class="aa-qq-aov__input" [setFocus]="setFocus"></aa-input-date>

                          <span class="hint-message__wrapper" *ngIf="userAgeInvalid[2]">
                            <p class="hint">
                              Voer een geldige geboortedatum in
                            </p>
                          </span>

                          <span class="hint-message__wrapper" *ngIf="userToYoung[2]">
                            <p class="hint">
                              Leeftijd is te laag
                            </p>
                          </span>

                          <span class="hint-message__wrapper" *ngIf="userToOld[2]">
                            <p class="hint">
                              Leeftijd is te hoog
                            </p>
                          </span>

                        </div>

                        <button *ngIf="!pension.sessionSet" class="arrow button" type="button" (click)="goTo(4,5)" [disabled]="btnValidationForUser()">{{data.options.block4.box.btn}}</button>

                        <button *ngIf="pension.sessionSet" class="button icon-right icon-calculator" type="button" (click)="submitForm(pension); visibility[4] = 'hidden'" [disabled]="btnValidationForUser()">{{data.options.block5.box.btn}}</button>
                      </div>
                      <div class="col form-text__column">
                          <span class="form-text__icon icon-calendar-date-2"></span>
                          <span class="header">{{data.options.block4.socialProofing.title}}</span>
                          <span class="content">{{data.options.block4.socialProofing.text}}</span>
                          <span class="brand">{{data.options.block4.socialProofing.source}}</span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </li>
      <li class='number-form__list__section'>
        <span class="number-form__list__numberCircle">5</span>
        <span class="general-form__box__sub__header">{{data.options.block5.title}}</span>

        <div [@visibility]="editVisibility(5)">
          <div class="form-section__input__results">
            <span>{{pension['startingDate'] | dateToReadableString}}</span>
            <!--<span class="edit" (click)="editSection(5)"> > Aanpassen</span>-->
            <ul class="arrow" (click)="editSection(5)">
              <li><span>Aanpassen</span></li>
            </ul>
          </div>
        </div>

        <div [@visibility]="visibility[5]">
          <p class="general-form__para">{{data.options.block5.subTitle}}</p>
          <div class="form-element-text__row">
              <div class="table">
                  <div class="row">
                      <div class="col form-element__column">
                        <span class="general-form__box__head">{{data.options.block5.box.title}}</span>
                        <p>{{data.options.block5.box.text}}</p>

                        <div class="inputs select">
                          <select [(ngModel)]="pension['startingDate']" class="no-dd" (change)="changeStartingDate($event.target.value)" required>
                            <option value="" disabled>Maak uw keuze</option>
                            <option *ngFor="let date of startingDateChoices" [value]="date.value">{{date.label}}</option>
                          </select>
                        </div>

                        <button class="button icon-right icon-calculator" type="button" (click)="goTo(5); submitForm(pension)" [disabled]="!pension['startingDate']">{{data.options.block5.box.btn}}</button>

                      </div>
                      <div class="col form-text__column">
                          <span class="form-text__icon icon-piggy-bank">{{data.options.block5.socialProofing.title}}</span>
                          <span class="content">{{data.options.block5.socialProofing.text}}</span>
                          <span class="brand">{{data.options.block5.socialProofing.source}}</span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </li>
    </ul>
