.news {
  .news_element, .node-nba {
    background-color: $white;
    margin-bottom: 20px;
    div.title {
      font-family: $font_medium;
      font-size: $large;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    img {
      width: 100%;
      min-height: 100px;
    }
    .content {
      padding: 17px 10px;
    }
    div.date {
      color: $darker_grey;
    }
  }
  .node-nba {
    .content {
      padding: 17px;
    }
    h2 {
      font-family: $font_medium;
      color: $black;
      font-size: $x-large;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    // classes available only for NBA
    .big-text {
      font-size: $xxx-large;
      line-height: $xxxx-large;
    }
  }
}
