.news {
  .news_element {
    background-color: $white;
    margin-bottom: 20px;
    div.title {
      font-family: $font_medium;
      font-size: $large;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    img {
      width: 100%;
      min-height: 100px;
    }
    .content {
      padding: 17px 10px;
    }
    div.date {
      color: $darker_grey;
    }
  }
}
