.news .news_element,
.node-nba {
  margin-bottom: 20px;
  background-color: $white;
  div.title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: $font_medium;
    font-size: $large;
  }
  img {
    width: 100%;
    min-height: 100px;
  }
  .content {
    padding: 17px 10px;
  }
  div.date {
    color: $darker_grey;
  }
}
.node-nba {
  .content {
    padding: 17px;
  }
  div.title {
    @media screen and (min-width: $rc-m-min-width) {
      padding-top: 1.1em;
    }
  }
  h2 {
    color: $black;
    font-family: $font_medium;
    font-size: $x-large;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  // classes available only for NBA
  .big-text {
    font-size: $xxx-large;
    line-height: $xxxx-large;
  }
}
