/**
 * Breadcrumb / Easy Breadcrumb @ Drupal @ header
 */
.breadcrumb {
  width: auto;
  float: none;
  display: inline-block;
  margin: 0;
  vertical-align: middle;

  ul {
    overflow: hidden;

    li {
      display: inline;
      float: none;
      @include rem('padding-left', 0);
      @include rem('margin-right', 6);
      color: #00304C;

      &:before {
        content: '';
        display: inline-block;
        @include rem('width', 7);
        @include rem('height', 7);
        @include rem('max-width', 7);
        @include rem('max-height', 7);
        @include rem('margin-right', 10);
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: $blue;
        transform: rotate(45deg);

      }

      &.first {
        background: none;
        padding: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}