button {
  cursor: pointer;
  height: 38px;
  background-color: $blue;
  color: $white;
  font-size: $medium;
  border-radius: $elements_border_radius;
  padding: 9px 10px 9px 10px;
  border: 0;
  white-space: nowrap;
  &.right {
    margin-left: 10px;
  }
  &.left {
    margin-right: 10px;
  }
  &.top {
    margin-bottom: 10px;
  }
  &.bottom {
    margin-top: 10px;
  }
  &.arrow {
    &:after {
      //height: 38px;
      font-size: 11px;
      font-family: $font_icons;
      content: "\e600";
      padding: 16px 14px;
      margin-right: -10px;
      margin-left: 10px;
      background-color: $light_blue;
    }
    &.blue:after {
      margin-left: 0;
      background-color: $blue;
    }
  }
  &.white {
    background-color: $white;
    color: $blue;
    &:before {
      font-size: 11px;
      font-family: $font_icons;
      content: "\e600";
      padding: 11px;
      margin-left: -10px;
      background-color: $white;
      color: $blue;
    }
  }
}
