button, .button {
  cursor: pointer;
  height: $elements_button_height;
  padding: 8px 10px 12px 10px;
  background-color: $blue;
  color: $white;
  font-size: $medium;
  border-radius: $elements_border_radius;
  border: 0;
  outline: 0;
  white-space: nowrap;
  &:hover {
    opacity: 0.8;
  }
  //padding: 8px 10px 12px 10px;
  &.right {
    margin-left: 10px;
  }
  &.left {
    margin-right: 10px;
  }
  &.top {
    margin-bottom: 10px;
  }
  &.bottom {
    margin-top: 10px;
  }
  &.red {
    background-color: $red;
  }
  &.arrow {
    &:after {
      //height: 38px;
      font-size: 11px;
      font-family: $font_icons;
      content: $font_icons_arrow_right;
      padding: 16px 14px;
      margin-right: -10px;
      margin-left: 10px;
      background-color: $light_blue;
    }
    &.blue:after {
      margin-left: 0;
      background-color: $blue;
    }
    &.red:after {
      margin-left: 0;
      background-color: $red;
    }
  }
  &.white {
    background-color: $white;
    color: $blue;
    &.arrow:before { //currently deactivated as the current design calls for something without arrow
      font-size: 11px;
      font-family: $font_icons;
      content: $font_icons_arrow_right;
      padding: 11px;
      margin-left: -10px;
      background-color: $white;
      color: $blue;
    }
      &:after {
      content: "";
      padding: 0;
      margin-right: 0;
      margin-left: 0;
      background-color: $white;
    }
  }
}

// Added by Rocco: @Jorg please check it out. i'm concerning about responsive
// approach and Leon complaining about different style and alignment approach in
// cross-browsers (take a look on firefox for example).
// So, you can also use your approach if current lhfs design has somethig else, 
// but do it in your file and class .lhfs_widget.
// But like this is not ok for UI components that are already decided fro ma 
// long time, as well in prodution. We cannot do this different style, for 
// border-radius as an exmaple.
// 
// Below you can see approach that overwrite some of your styles.
.responsive-approach {
  // height: $elements_button_height; We don't need. Let's be responsive, 
  // handling everything with only the line-height.
  height: initial;
  @include rem('line-height', 38);
  @include rem('padding', 0, 10);
  @include rem('border-radius', 3);
  display: inline-block;
  user-select: none;

  &:active {
    opacity: initial;
  }

  &.arrow {
    &:after {
      display: inline-block;
      height: inherit;
      line-height: inherit;
      vertical-align: top;
      float: none;
      @include rem('padding', 0, 14);
      @include rem('border-radius', 0, 3, 3, 0);
    }
  }
}
