label.checkbox {
	display: inline-block;
	//background-color: red;
	padding-left: 18px;
	position: relative;
	line-height: $elements_checkbox_height;
	text-align: left;
	margin-top: $elements_checkbox_top;
	width: auto;
	> input[type="checkbox"] {
		opacity:0;
		top: $elements_checkbox_top;
		left:5px;
		&:checked + span.checkbox{
  			&:before {
  				text-align: right;
  				list-style-type: disc;
  				position: relative;
    			content: $font_icons_check;
    			color: $blue;
    			left: -5px;
    			//top: 3px;
			}
			//background: url(../assets/images/icons/btn-checkbox.png) center 100% no-repeat;
    		background-color: $beige;
		}
		&+ span.checkbox {
  			&:before {
  				display: block;
    			font-family: $font_icons;
    			font-size: 20px;
    			content: "";
			}
			&.hidden {
				display: none;
			}
			//background: url(../assets/images/icons/btn-checkbox.png) center 0 no-repeat;
		    border: $elements_border;
    		border-radius: $elements_border_radius;
    		background-color: $beige;
			display:inline-block;
			height: $elements_checkbox_height;
			width: $elements_checkbox_height;
			position: absolute;
			top: -$elements_checkbox_top;
			left: -3px;
			cursor: pointer;
		}
	}
	&.required {
		margin-top: 15px;	//make space for the error message on top of the checkbox in case one needs to be displayed
	}
}