
///////////////////////////////////////////
//
// jQuery UI datepicker

.ui-datepicker {
	width: 14.3rem;
    padding: .2rem .2rem 0;
    display: none;
    font-size: 0.9rem;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9rem;
    border-collapse: collapse;
    margin: 0 0 .4rem;
    }

 .ui-datepicker-calender {
 	width: 11.5em;
 }