/**
 * Login link
 */
.login-link {
  display: inline-block;
  @include rem('line-height', 35);
  @include rem('padding', 0, 8);
  @include rem('border-radius', 3);
  font-family: 'senticosansdtregular';
  white-space: nowrap;
  background-color: $green;
  color: $white;

  &:before {
    display: none;
  }

  &:hover {
    background-color: $light_green;
    color: $green;   
  }

  &:active {
    background-color: $green;
    color: $white;
  }
}

// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  .login-link {
    position: relative;
    @include rem('line-height', 38);
    @include rem('padding', 0, 10, 0, 35);
    // background-image: url(../images/ui/icon-lock.png);
    // background-position: 13% 50%;
    // background-repeat: no-repeat;

    &:before {
      @extend .icon-uniE636:before;
      @extend a[class*="menu-"]:before;
      @include rem('margin-top', -18);
      @include rem('font-size', 19);
      display: block;
      left: 4%;
      height: auto;
      color: $white;
    }

    &:hover:before {
      color: $green;
      // background-image: url(../images/ui/icon-lock-green.png);
    }

    &:active:before {
      color: $white;
      // background-image: url(../images/ui/icon-lock.png);
    }
  }
}