.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: $white;
  position: relative;
  text-align:center;
  background: $dark_blue;
  font-family: $font_light;

  .rating {
    font-size: 26px;
    line-height: 26px;
    padding-top: 12px;
  }

  .reviews {
    font-size: 12px;
    line-height: 12px;
    padding: 2px 8px;
  }
}
