//
//SLIDER
//

.input-range {
  width: 200px;
  display: table;
  position: relative;
  clear: left;
  margin-top: 40px;

  input[type=range] {
  width: 200px;
  }

.ranger {
  display: table-cell;
}

// slider legend

.range-legend {
  display: block;
  width: 200px;
  clear: both;
  position: absolute;
  bottom: 20px;
  left: 0px;
}

ul {
  list-style-type: none;
  padding:0; 
  margin:0;
  width: 100%;
  display: table;
  table-layout: fixed;
} 

li {
font-size: 12px;
display: table-cell;
width: 5%; //recalculate based on the desired number of figures
text-align: center;
}

li:first-child {
  text-align: left;
}

li:last-child {
  text-align: right;
}


//
// slider element

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  
  /*required for proper track sizing in FF*/
  width: 200px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 7px;
  background: $blue;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #f5f5f5;
  margin-top: -6px;
  box-shadow: 1px 1px 1px #888888;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $blue;
}
input[type=range]::-moz-range-track {
  width: 300px;
  height: 7px;
  background: $blue;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #f5f5f5;
  margin-top: -6px;
  box-shadow: 1px 1px 1px #888888;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 7px;
  
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $blue;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: $white;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: $white;
}
input[type=range]:focus::-ms-fill-lower {
  background: $blue;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e6e6e6;
}

//
// show slider value in form field
.range-output {
  width: 60px !important;
  top: -18px;
  left: 220px;
  text-align: center !important;
  position: absolute;
}
}
