// margin is fixed for flexible content pages, it's based on a big header plus margin,
// since the sticker is placed in columns without a fixed height, it's not possible to
// align vertically
$sticker-circle-marginTop: $xx-large + 20;
$sticker-counter-marginTop: $xx-large + 20;

.sticker-counter {
  margin-top: $sticker-counter-marginTop;

  .counter-text {
    font-family: $font_light;
    font-size: $large;
    line-height: $large;
    color: $blue;
    margin: 10px auto;
  }

  .counter {
    position: relative;
    display: inline-block;

    span {
      display: inline-block;
      background: $dark_blue;
      padding: 2px 3px;
      color: $white;
      border-radius: 4px;
      font-size: $xx-large;
      line-height: $xx-large;

      &:not(:last-of-type) {
        margin-right: 2px;
      }

      &:first-child:before {
        content: "";
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        top: 48%;
        position: absolute;
        width: 100%;
      }
    }

  }
}