table {
	width: 100%;
	border-top: 1px solid #d8d7d1;
}

.table-gradient {
background: #efebe7; /* Old browsers */
background: -moz-linear-gradient(top,  #efebe7 0%, #efebe7 86%, #CCCBC7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efebe7), color-stop(86%,#efebe7), color-stop(100%,#CCCBC7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efebe7 0%,#efebe7 86%,#CCCBC7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efebe7 0%,#efebe7 86%,#CCCBC7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efebe7 0%,#efebe7 86%,#CCCBC7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efebe7 0%,#efebe7 86%,#CCCBC7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efebe7', endColorstr='#CCCBC7',GradientType=0 ); /* IE6-8 */
}

tr {
  background: none;
  line-height: 38px !important;

  td {
    padding: 0 0 0 10px;
    a:before {
  }
}

.narrow-td {
	width: 50px;
    text-align: center;
}

tr:first-child a:before {
  content: none;
}

tr {
  background: none;
  line-height: 48px !important;

  td {
    padding: 0 0 0 10px;
    }
  }
}

.alt {

	tr:nth-child(even) {
	background-color: $lighter_grey;
	}

	tr:nth-child(odd) {
	   background-color:#fff;
	}

	th  {
	  background-color: $lighter_grey;
	  padding: 0 0 0 10px;
	  font-weight: bold;
	}
}