.contract_overview_widget {

  ul {
    padding: 0;

    li {
      padding: 2px 0;

      &.category {
        border-bottom: 1px solid #aaa;
        @include rem('padding', 30, 10);
        @include rem('margin', 10, 10);

        &:first-child {
          border-top: 1px solid #aaa;          
        }

        &:last-child {
          border-bottom: none;
        }
      }

      &.arrow {
        margin: 0;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 2px center;
        padding-left: 18px;

        &:before {
          //display: none;
        }
      }
    }

    &.horizontal {
      display: block;
      width: 100%;
      margin-bottom: 0;
      padding: 6px 0;

      li {
        float: none;
        display: block;
        vertical-align: top;
        @include rem('padding', 2, 19);

        &:first-child {
          width: 100%;
        }
      }

      &.type {
        margin-bottom: 30px;
      }
    }

    &.horizontal.header {
      display: none;
    }
  }

  .label {
    color: $blue;
    font-weight: bold;
  }

  .value:not(.title) {
    font-family: $font_normal;
  }

  .product.title {
    display: none;
  }

  .value.title {
    display: none;
  }

  .messages {
    @include rem('margin', 10, 10, 35);
  }

  h2 {
    position: relative;

    &[class*="icon-"]:before {
      position: absolute;
      top: 50%;
      left: 0;

      margin-left: -40px;
      // margin-top: -13px;
      transform: translateY(-50%);

      font-size: 25px;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
    }
  }
}

// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  .contract_overview_widget {

    ul {

      &.horizontal {
        width: 100%;
        padding: 0;

        li {
          display: inline-block;
          @include rem('padding', 8, 19);

          &:first-child {
            width: 60%;
          }
        }
      }

      &.horizontal.header {
        display: block;

        li {
          @include rem('padding', 2, 19);

          &:first-child {
            padding-left: 0;
          }
        }
      }

      li {
        @include rem('padding', 8, 0);

        span.value {
          padding: 0;
        }
      }
    }

    .product.title {
      display: block;
      padding: 10px 0;
      font-weight: normal;
    }

    .value.title {
      display: block;
      padding: 10px 0;
      font-weight: normal;
    }
  }
}
