.contract_overview_widget {
  padding: 10px 0px 10px 30px;

  ul.horizontal {
    display: block;
  }

  ul {
    padding: 0px 0px;

    li {
      padding: 6px 0;

      &.category {
        border-bottom: 1px solid #aaa;
        padding: 30px 0;

        &:first-child {
          border-top: 1px solid #aaa;          
        }

        &:last-child {
          border-bottom: none;
        }
      }

      &.arrow {
        margin: 0;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 2px center;
        padding-left: 18px;

        &:before {
          display: none;
        }
      }
    }

    &.horizontal {
      width: 100%;

      li {
        // width: 30%;

        &:first-child {
          width: 70%;
        }
      }
    }
  }

  .label {
    color: $blue;
    font-weight: bold;
  }

  .value {
    // font-weight: 500;
    font-family: $font_normal;
  }

  .product.title {
    display: block;
    padding: 10px 0;
  }

  .value.title {
    display: block;
    padding: 10px 0;
    font-weight: normal;
  }


  h2 {
    position: relative;

    &[class*="icon-"]:before {
      position: absolute;
      top: 50%;
      left: 0;

      margin-left: -40px;
      margin-top: -10px;
      font-size: 30px;
      font-family: 'aegon_icons';
    }

    &.icon-uniE608:before {
      content: '\e607';
    }

    &.icon-uniE609:before {
      content: '\e609';
    }

    &.icon-uniE60B:before {
      content: '\e60b';
    }

    &.icon-uniE60A:before {
      content: '\e60a';
    }
  }
}

// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {}
