.faq {
  & * {
    font-family: $font_light;  //has 2B redefined, since all text here is held within labels, and those are usually defined bolder (ie. regular)
  }
  div.answer, div.title, div.feedback {
  	border-bottom: 1px solid $lighter_grey;
  }
  div.title {
    width: 100%;
    &:after {
      color: $blue;
      font-size: 12px;
      font-family: $font_icons;
      content: $font_icons_arrow_down;
      float: right;
    }
  }
  div.answer {
    display: none;
    padding-top: 15px;
    & > p {
      padding-left: 10px;
      border-left: 2px solid $blue;
    }
  }
  label {
    cursor: pointer;
    font-weight: normal;  //needs to be defined here 2 override the Drupal standard definition of bold for labels
  }
  input {
  	display: none;
  	~ [class^=thumbs_] {
  	  color: $light_grey;
  	}
  	&:checked {
      ~ [class^=thumbs_] {
  	    color: $blue;
  	  }
  	  + div.title {
  	    &:after {
  	      transform: rotate(180deg);
  	    }
  	  }
  	  ~ div.answer, ~ div.feedback {
  	    display: block;
  	  }
  	}
  }
  .feedback {
    display: none;
    label {
      display: inline;
    }
    [class^=thumbs_]:after {
      display: inline-block;  //has to be block or inline-block for transform 2 work on :before
      font-family: $font_icons;
  	  content: $font_icons_fistfull;    
    }
  	.thumbs_up {
  	  &:after {
        transform: rotateX(180deg);
        //transform: rotateY(180deg);
  	  }
  	}
  }
  li.question[class*='span'] {
    margin-left: 0; //overrides the setting for a left margin of 2% for all spans starting at the second one in a list, which creates an indent in faq design in the .product ul
  }
}