.my_documents_widget {

min-height: 1000px;

  article {
    @include rem('margin', 0, 0);
    border-bottom-style: solid;
    border-bottom-color: $slightly_darker_grey;
    @include rem('border-bottom-width', 1);

    &:first-of-type {
      @include rem('margin-top', 30);
      border-top-style: solid;
      border-top-color: $slightly_darker_grey;
      @include rem('border-top-width', 1);
    }

    &:last-of-type {
      border-bottom-style: none;
    }

    > dl {
      display: block;
      @include rem('padding', 0, 20);
      overflow: hidden;
      transition: max-height .2s ease;
      margin: 0;
      max-height: 0;
    }

    &.open {
          
      > dl {
        height: 100%;
        max-height: 1000em;
        transition: max-height 2s ease-in;
      }

      h2:after {
        transform: rotate(-90deg);
      }
    }
  }

  h2 {
    position: relative;
    @include rem('font-size', 30);
    @include rem('margin', 0);
    @include rem('padding', 20, 0, 20, 15);
    @include rem('line-height', 60);
    font-weight: bold;
    cursor: pointer;
    user-select: none;

    &:before {
      display: inline-block;
      @include rem('font-size', 25);
      @include rem('margin', 0, 20, 0, 0);
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
    }

    &:after {
      display: inline-block;
      @include rem('font-size', 15);
      position: absolute;
      // top: 0;
      right: 0;
      @include rem('margin-right', 30);
      font-family: $font_icons;
      content: '\e600';
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      transition: transform .2s ease;
      transform: rotate(90deg);
    }
  }

  dl.row-fluid {

    > dt {
      display: none;
    }

    dd:first-child {

      a {
        font-family: $font_normal;
        &:before {
          display: inline;
          @include rem('font-size', 10);
          line-height: inherit;
          vertical-align: middle;
        }
      }
    }
  }

  .icon-pdf:before {
    @include rem('font-size', 25);
  }
}


// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  .my_documents_widget {

  min-height: 1000px;

    article {
      @include rem('margin', 30, 0);

      &:first-of-type {
        margin-top: 0;
        border-top: none;
      }

      > dl {
        display: block;
        max-height: inherit;
        @include rem('padding', 10, 0);
      }
    }

    h2 {
      @include rem('font-size', 40);
      @include rem('padding', 0, 0);
      @include rem('margin', 5, 0, 20, 0);
      @include rem('line-height', 40);
      font-weight: normal;
      cursor: default;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include rem('margin', 0, 0, 0, -40);
      }

      &:after {
        display: none;
      }
    }

    dl.row-fluid {

      > dt {
        display: block;
        @include rem('font-size', 17);
      }

      dd:first-child {

        a:before {
          @include rem('padding-right', 10);
        }
      }
    }
  }
}
