// 
// Reason to don't use id selectors instead of class selectors
// http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/
// http://screwlewse.com/2010/07/dont-use-id-selectors-in-css/
// http://oli.jp/2011/ids/

.pensioen123_container {
  // TODO: Add 100% height to body, html for IE
  min-height: 100vh;
  width: 100%;
  background: url('../images/background/pensioen123_bg.jpg') no-repeat;
  background-size: 1350px 979px;
  z-index: 1;

  .wrapper {
    margin-right: 5.625rem;
    z-index: 4;
    position: relative;
  }

  .wrapper, aside.desktop  {
    background: transparent;
  }

  .fullwidth-header {
    background: #fff;
    height: 5.625rem;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
  }

  .overlay {
    background: #3E97CF;
    position: absolute;
    z-index: 2;
    opacity: .5;
    width: 100%;
    height: 100%;
  }

  .content {
    margin-top: 100px;
    background: #fff;
  }

  .user-details {
    .span4 {
      padding: 0 20px;
      background: #3E97CF;
      color: #fff;
      text-align: center;
      h2 {
        color: #fff;
        margin: 5px 0;
      }
      &.video {
        padding: 0;

        iframe {
          width: 100%;
          margin-bottom: -10px;
        }
      }
      .innerbox {
        padding: 25px 0 15px 0;
      }
    }
  }

  .icon-overview {
    margin: 30px 0;

    .span12 {
      border-bottom: 1px solid #ccc;

      p {
        margin: 0.9375rem 0;
      }
    }
  }
}


// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-mobile) {
  .pensioen123_container {
    .wrapper {
      margin-right: 0;
    }
  }
}