<div class="aa-bb--wrapper" [class.padding-bottom-fix]="showButton()">
  <div class="aa-bb--content container_12" *ngFor="let block of data.options[data.options.template]">
    <h3 class="aa-bb--content-title span12"> {{ block.boxTitle }} </h3>
    <div class="aa-bb--content-row" *ngFor="let blockValue of block.boxContent; let i = index;">
      <div class="aa-bb--content-inner-row" *ngIf="isString(blockValue)">
        <label class="span6 aa-bb--content-label">{{blockValue}}</label>
        <span class="span6 aa-bb--content-value">0</span>
      </div>
      <div class="aa-bb--content-inner-row" *ngIf="!isString(blockValue)">
        <label class="span12 aa-bb--content-label">{{blockValue.subBoxTitle}}</label>
        <div class="aa-bb--content-inner-row" *ngFor="let subBlockValue of blockValue.subBoxContent; let j = index;">
          <label class="span6 aa-bb--content-label lighter-label">{{subBlockValue}}</label>
          <span class="span6 aa-bb--content-value">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="aa-bb--footer container_12">
    <a *ngIf="showButton()" class="button orange-gradient icon-right arrow">
      {{data.options.button.label}}
    </a>
    <span class="aa-bb--caption span12">{{data.options.caption}}</span>
  </div>
</div>