<div class="aa-collapsible-row" *ngFor="let topicRow of topicsCollection; let row = index;">

  <h5 class="collapsible-row__title">{{ topicRow.title }}</h5>

  <div class="collapsible-row-mobile__actions" (click)="showIconsOnMobile(row)" [ngClass]="{'close-mobile-actions': showMobileIcons(row)}"></div>

  <div class="collapsible-content-icons" [@shrinkOut] [ngClass]="{'mobile-icons-visible': showMobileIcons(row)}">
    <div class="collapsible-content-icon" *ngFor="let topic of topicRow.topics; let column = index;">
      <a class="collapsible-content-link" (click)="setActiveItem(row, column, topicRow.title, topic.imageName)" [ngClass]="{'gray-content-link': checkIfThereIsAnActiveItem(row, column)}">
        <img [src]="topic.image" class="collapsible-content-link__image" />
      </a>
    </div>
  </div>

  <div class="clearfix"></div>

  <div *ngFor="let topic of topicRow.topics; let column = index;">
    <div *ngIf="getActiveItem().column == column && getActiveItem().row == row" [@shrinkOut]  class="collapsible-description">

      <img [src]="topic.image" class="collapsible-description__image" />

      <div class="collapsible-description__intro" *ngIf="false == isFullTextShown(topic)">
        <p *ngFor="let text of topic.shortDescription" [innerHtml]="text"></p>
      </div>

      <div class="collapsible-description__text" *ngIf="isFullTextShown(topic)">
        <p *ngFor="let text of topic.longDescription" [innerHtml]="text"></p>
      </div>

      <div class="collapsible-description-actions">
        <a (click)="setActiveItem(null, null, null, null)" class="action_close">Sluit</a>
        <a (click)="setShowFullText(true, topicRow.title, topic.imageName)" *ngIf="'hidden' == visibility && isDescriptionTextValid(topic)" class="action_show">Lees meer</a>
      </div>
    </div>
  </div>

</div>
