<div class="aa-tabs-view aa-tabs-view--{{theme}}" [attr.data-active]="active" [attr.data-active-index]="activeIndex">
  <div class="tabs-blocks">
    <div class="clearfix">
      <div class="aa-tabs-view__block" *ngFor="let item of tabs" (click)="setActive(item)"
           [class.aa-tabs-view__block--active]="item.active" [style.width.%]="100 / tabs.length">
        <div class="aa-tabs-view__block-icon icon-{{item.icon}}"></div>
        <span class="aa-tabs-view__block-title">{{ item.title }}</span>
      </div>
    </div>
  </div>

  <div class="aa-tabs-view__tab-content">
    <ng-content></ng-content>
  </div>

</div>
