<div class="collapsible-content-wrap">

  <div class="collapsible-content-row">
    <h4 class="collapsible-content-title">Wat krijgt u in deze regeling?</h4>
    <ul class="collapsible-content-icons">
      <li class="collapsible-content-icon">
        <a class="collapsible-content-link">
          <img src="http://dxlfb468n8ekd.cloudfront.net/gsc/KCO7E5/1d/ac/2e/1dac2e0ddf6544b0a6e4ec9835cce890/images/wia_onepage/u231.png?token=683d83598e1e3cb74ced32c746882621" class="collapsible-content-image" />
        </a>
      </li>
      <li class="collapsible-content-icon">
        <a class="collapsible-content-link">
          <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/KCO7E5/1d/ac/2e/1dac2e0ddf6544b0a6e4ec9835cce890/images/wia_onepage/u769.jpg?token=d4ef7dcde6a063fc8e07fe3089969bbf" class="collapsible-content-image" />
        </a>
      </li>
    </ul>

    <div class="clearfix"></div>

    <div class="collapsible-content-description"></div>
  </div>

  <div class="collapsible-content-row">

    <h4 class="collapsible-content-title">Wat krijgt u in deze regeling niet?</h4>
    <ul class="collapsible-content-icons">
      <li class="collapsible-content-icon">
        <a class="collapsible-content-link">
          <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/KCO7E5/1d/ac/2e/1dac2e0ddf6544b0a6e4ec9835cce890/images/wia_onepage/u773.png?token=a47152343b92d7852409a94c5f268d7e" class="collapsible-content-image" />
        </a>
      </li>
      <li class="collapsible-content-icon">
        <a class="collapsible-content-link">
          <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/KCO7E5/1d/ac/2e/1dac2e0ddf6544b0a6e4ec9835cce890/images/wia_onepage/u775.jpg?token=c3b7c01fc31679f29c229596e6df0ece" class="collapsible-content-image" />
        </a>
      </li>
      <li class="collapsible-content-icon">
        <a class="collapsible-content-link">
          <img src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/KCO7E5/1d/ac/2e/1dac2e0ddf6544b0a6e4ec9835cce890/images/wia_onepage/u777.jpg?token=43c06fa598d28d56748e8e8b97b9b4b8" class="collapsible-content-image" />
        </a>
      </li>
    </ul>

    <div class="clearfix"></div>

    <div class="collapsible-content-description"></div>
  </div>

</div>
