<div class="collapsible-row" *ngFor="let content of contentList">

  <h5 class="collapsible-row__title">{{ content.title }}</h5>

  <ul class="collapsible-content-icons">
    <li class="collapsible-content-icon" *ngFor="let icon of content.iconsList; let id = index;">
      <a class="collapsible-content-link" (click)="setActiveRow(id)">
        <img [src]="icon" class="collapsible-content-link__image" />
      </a>
    </li>
  </ul>

  <div class="clearfix"></div>

  <div *ngFor="let description of content.descriptionsList; let id = index;">
    <div *ngIf="getActiveRow() == id" [@shrinkOut]  class="collapsible-description">

      <img [src]="description.image" class="collapsible-description__image" />
      <p class="collapsible-description__intro">{{ description.intro }}</p>
      <div class="collapsible-description__text" *ngIf="isFullTextShown(description)">{{ description.text }}</div>

      <div class="collapsible-description-actions">
        <a (click)="setActiveRow(null)" class="action_close">Close</a>
        <a (click)="setShowFullText(true)" *ngIf="'hidden' == visibility && isDescriptionTextValid(description)" class="action_show">See more</a>
      </div>
    </div>
  </div>

</div>
