<aa-sticky [heading]="'Sammenvatting'">
  
  <!-- Your pension and partner pension -->
  <div *ngFor="let pension of pensionProduct.values">
    <div>{{pension.title}}</div>
    
    <!-- Pension period -->
    <div *ngFor="let period of pension">    
      <div>{{period.label}}</div>
      
      <!-- if one value -->
      <div *ngIf="isString(period.value)">
        {{period.value}}
      </div>

      <!-- if multiple values -->
      <ul *ngIf="!isString(period.value)">      
        <li *ngFor="let value of period.value">
          <div>{{value.label}}</div>
          <div>{{value.value}}</div>
        </li>
      </ul>      
    </div>
    <hr />
  </div>
</aa-sticky>

<div class="aa-pension-offer-form">
  Ipsum laborum ex excepteur cillum nisi laborum fugiat consequat cillum labore sit esse eiusmod ea. Excepteur voluptate incididunt aliqua veniam pariatur ullamco. Excepteur qui minim do commodo et elit commodo aliqua cupidatat aute ea. Non dolore in consectetur dolore labore occaecat officia incididunt duis ea.
</div>