.aa-qq-aov {
  max-width: 650px;
}

.aa-qq-aov__slider {
  .aa-slider-input__slider {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.aa-qq-aov__personal-details {
  margin-bottom: 50px;
}

.aa-qq-aov__personal-details__hint {
  margin: 0 16px 0 10px;
}

.aa-qq-aov__field {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  position: relative;
  min-height: 40px;
  margin-bottom: 20px;
}

.aa-qq-aov__label {
    flex: 1 1 auto;
    display: inline-block;
    padding: 9px 0;
}

.aa-qq-aob__radiobuttons {
  margin-bottom: 40px;
}

.aa-qq-aov__inputs {
  flex: 0 0 180px;
}

.aa-qq-aov__input {
  input {
    width: 180px;
  }
}

.aa-qq-aov__radio {
  margin-left: 20px;
  width: 160px;
}

.aa-qq-aov__open-calculator {
  width: 180px;
}

.aa-qq-aov__calculator {
  margin-bottom: 60px;
}

.aa-qq-aov__slider {
  input {
    width: 180px;
  }
}

.aa-qq-aov__result {

}

.aa-qq-aov__result__container {
  padding: 20px 30px 5px 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  color: $white;
  background: $slightly_darker_blue;

  .aa-hint__icon:before {
    color: white;
  }
}

.aa-qq-aov__result__label {
   flex: 1 1 auto;
   font-size: 22px;
}

.aa-qq-aov__actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.aa-qq-aov__actions__label {
  flex: 1 1 auto;
  padding: 9px 0;
}

.aa-qq-aov__result__row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin-bottom: 15px;
}

.aa-qq-aov__result__premium {
  flex: 0 0 160px;
  font-size: 25px;
}

.aa-qq-aov__result__currency {
  display: inline-block;
  margin-left: 30px;
  margin-right: 10px;
}

.aa-qq-aov__action-right {
  flex: 0 0 auto;
}


@include breakpoint($brk-mobile) {
  .aa-qq-aov__field {
    flex-wrap: wrap;
  }
  .aa-qq-aov__result__row {
    flex-wrap: wrap;
  }
  .aa-qq-aov__actions {
    flex-wrap: wrap;
  }


  .aa-qq-aov__label {
    padding-right: 40px;
  }

  .aa-qq-aov__result__label {
    padding-right: 40px;
  }

  .aa-qq-aov__result__premium {
    flex: 0 0 100%;
  }

  .aa-qq-aov__result__currency {
    margin-left: 0;
  }

  .aa-qq-aov__inputs {
    flex: 0 0 100%;
  }

  .aa-qq-aov__result__row aa-hint {
    position: absolute;
    right: 0;
    top: 0;
  }

  .aa-qq-aov__personal-details__hint {
    position: absolute;
    right: 0;
    top: 9px;
  }

}
