/**
 * Generic layout css
 */

// Split view on larger devices; all in 1 column on smaller devices
@include breakpoint($brk-ipad-portrait) {
  .aa-split-view {
    display: table;
    width: 100%;
  }
  .aa-split-view__left, .aa-split-view__right {
    display: table-cell;
    vertical-align: top;
    width: 50%;
  }
  .aa-split-view__right {
    @include rem('padding-left', 30);
  }
}
@include breakpoint($brk-mobile) {
  .aa-split-view {
    display: block;
  }
  .aa-split-view__left, .aa-split-view__right {
    display: block;
    width: auto;
  }
  .aa-split-view__right {
    padding-left: 0;
  }
}

// Float layout some items
.aa-group {
  display: block;
  text-align: left;
}

.aa-layout__fill {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.aa-layout__slides {
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	flex: 0 0 100%;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	display: flex;
}

.aa-layout__slide {
	flex: 0 0 100%;
	width: 100%;
	transition: all 300ms ease-in-out;
	position: relative;
}

// Match at least a full screen and center content
.aa-layout__full {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

