/**
 * Slider component
 */

$slider_value_background: $slightly_lighter_blue;

// Extra padding for timeline slider
.aa-slider--timeline {
  @include rem('padding', 60, 30, 60, 30);
}

.aa-slider {

  position: relative;

  // Fix existing Aegon ui slider classes
  .noUi-handle {
    transition: all $animation_short ease;
    left: -10px !important;
    &:hover {
      left: -15px !important;
    }
  }
  // Add right way to add background color for range
  .noUi-connect {
    background-color: $slightly_darker_blue !important;
  }
  // Add background-color and box shadow which was removed before
  .noUi-background {
    background-color: white;
    box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB !important;
  }
  // Data value hints
  .noUi-handle[data-value] {
    // value box
    &:after {
  		pointer-events: none;
      display: block;
      position: absolute;
      width: 64px;
      left: 50%;
      margin-left: -32px;
      top: -55px;
      height: 36px;
      line-height: 36px;
      background-color: $slider_value_background;
  		border: $hint_info_border;
  		border: 1px solid rgba(102,176,222,0.5);
  		border-bottom: 0;
      text-align:center;
    	content: attr(data-value);
    	border-radius: 3px;
    	font-size: 18px;
  		box-shadow: 0px -2px 2px 0 rgba(0,0,0,0.15);
      transition: all $animation_short ease;
      font-family: $font_normal;
    }
    // triangle
    &:before {
      display: block;
      background-color: $slider_value_background;
  		box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.3);
   		position: absolute;
      left: 50%;
      margin-left: -10px;
  		width: 20px;
  		height: 20px;
  		transform: rotate(-45deg);
  		pointer-events: none;
  		content: '';
  		position: absolute;
  		top: -35px;
  		border: $hint_info_border;
  		border: 1px solid rgba(102,176,222,0.5);
  		border-bottom-left-radius: 5px;
  		transition: all $animation_short ease;
    }
  }

  .noUi-handle[data-value].noUi-active, .noUi-handle[data-value]:hover {
    z-index: 99;
    &:before {
      transform: rotate(-45deg) scale(1.1);
    }
    &:after {
      transform: scale(1.1);
    }
  }
  .noUi-pips {
    pointer-events: none;
    user-select: none;
    font-size: 18px;
    margin-top: 10px;
  }
}

.aa-slider--ranges {
  .noUi-origin {
    background: none;
  }
}

.aa-slider__label {
  position: absolute;
  left: 0;
  transform: translateX(-10px);
  @media (max-width: 500px) {
    font-size: 0.7em;
  }
}
.slider__label--first {
  transform: none;
}
.slider__label--last {
  transform: none;
  right: 0;
  left: inherit;
  margin-left: 0 !important;
  @media (max-width: 500px) {
    margin-right: -10px;
  }
}
