@import "./aa-wia-calculator";

$wiaFormMobileBreakpoint: 550px;
$wiaFormTableBreakpoint: $wiaFormMobileBreakpoint + 1px;

.wia-form {
  font-size: $medium;
  margin: 2em 0;

  @media (max-width: $wiaFormMobileBreakpoint) {
    .wia-form--hidden-mobile {
      display: none;
    }

    .messages {
      padding: 0;
      background: none;
    }
    .checkbox--white .checkbox, .aa-input--white input, .radio--white span.radio, .input--white {
      background: $grey !important;
    }
    .wia-form__column_input label, .wia-form__products_label {
      font-weight: bold;
    }
  }

  .wia-form__step {
    @media (min-width: $wiaFormTableBreakpoint) {
      display: none;
    }
    &.wia-form__step--visible {
      display: block;
    }
  }
  li {
    background: none;
  }

  label {
    font-weight: normal;
  }

  .wia-form__column_input {
    margin: 1em 0;
    display: block;
    @media (min-width: $wiaFormTableBreakpoint) {
      > label {
        width: 50%;
        float: left;
        padding: 0.5em 0;
      }
      div {
        float: left;
      }
      input {
        width: 200px;
        font-weight: normal;
      }
    }
  }

  .wia-form__products_label {
    display: block;
    margin: 0.5em 0;
  }

  .wia-form__products-switch {
    margin: 1em 0;
  }
  .products-attrs__radios {
    margin-top: 8px;
  }
  .products-attrs__radio {
    float: left;
    width: 33%;
  }
  .product-attrs {
    > ul {
      margin: 0;
    }
    li {
      padding: 0;
    }
    @media (max-width: $wiaFormMobileBreakpoint) {
      margin-left: 2.3em;
      .product-attr {
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
  .product-attr {
    border-top: 1px solid $dark_grey;
    padding-top: 5px;
    margin-top: 18px;
  }
  .product-group {

    margin: 0.5em 0 1em;

    @media (min-width: $wiaFormTableBreakpoint) {
      float: left;
      width: 50%;
      min-width: 320px;

      &:nth-child(odd) {
        clear: both;
        width: 46%;
        margin-right: 4%;
      }
    }

    label.checkbox {
      margin-top: -4px;
      padding-left: 40px;
    }

    span.checkbox {
      margin-top: 3px;
    }

    label.radio {
      margin: 0;
      padding-left: 35px;
    }

    span.radio {
      margin-top: 9px;
    }

    input {
      display: none;
    }
  }

  .aa-input--euro {
    display: block;
  }
  .wia-form__error {
    color: $dark_red;
    font-size: 0.9em;
    display: block;
  }
}

.wia-form__induction {

  @media (max-width: $wiaFormMobileBreakpoint) {
    display: none;
  }
}

.wia-form__induction__header {
  font-weight: 700;
}
