/* These classes were for Fnol page structure */
.fnol-page {

  .aa-fnol-wrapper {
    border: 1px solid $slightly_lighter_blue;
    width: 100%;
    margin: 10px 0;
    position: relative;
    @include rem('border-radius', 3);
  }
  .fnol-question {
    background-color: $orange;
    width: 100px;
    color: $white;
    font-size: 1.5em;
    padding: 15px 10px;
    .fnol-category__question__title {
      font-weight: 700;
    }
  }
  .fnol-phone-call {
    font-size: 1.5em;
    padding: 15px 30px;
    color: $blue;
  }
  .fnol-phone-content {
    font-size: .78em;
    color: $blue;
  }
  .arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid $orange;
    top: 0px;
    right: -30px;
  }
  .pos-abs {
    position: absolute;
  }
  .pos-rel {
    position: relative;
  }

  /* These classes were for Fnol tabs component */

  .mr-top20 {
    margin-top: 20px !important;
  }
  .fnol-category__headline {
    font-size: 1.5em;
    color: $blue;
    font-weight: lighter;
  }

  .fnol-category__questions {
    padding: 0.5em 0 0 0.5em;
  }
  .fnol-category__question {
    margin: 1em 0 0 0;
    font-weight: normal;
    label {
      margin: 1em 0;
      font-weight: normal;
    }
    .radio {
      margin: 0.5em 0;
    }
  }
}

.fnol-endpoint {
  .messages {
    padding: 2em;
  }
}

.fnol-endpoint__alert {
  margin: 1em 0;
}

.fnol-endpoint__alert-icon {
  font-size: 1.5em;
  float: left;
  margin: 0.5em 0.1em 0;
}

.fnol-endpoint__button {
  margin: 1em 0;
}

.fnol-endpoint__button--redirect {
  padding-left: 2em;
}

.fnol-faq {
  margin-top: 2em;

  h2 {
    font-size: 1.6em;
    margin-bottom: -1em;
  }

  .faq .title {
    font-weight: normal;
  }

  .faq .field-item {
    border-bottom-color: $slightly_darker_grey;
  }
}
