@import "aa-wia-calculator--graph";

$wiaGraphLabelHeight: 45px;
$wiaGraphLabelBottomHeight: 70px;
$wiaGraphLabelMargin: 5px;

$wiaChartHeight: 300px;
$wiaChartHeightMobile: 270px;
$wiaBreakpoint: 800px;

$wiaCalculatorBgColor: #F2F2F2;

$wiaCalculatorCategory1Color: #D9EBF7;
$wiaCalculatorCategory2Color: #3395D4;
$wiaCalculatorCategory3Color: #005996;

$wiaCalculatorMobileBreakpoint: 850px;

.wia_graph__legend {
  width: 20%;
  height: $wiaChartHeight + $wiaGraphLabelBottomHeight + $wiaGraphLabelMargin;
  float: left;
  background: $white;
  margin-top: $wiaGraphLabelHeight + 2*$wiaGraphLabelMargin;
  position: relative;
  text-align: right;
}

.wia_graph {
  width: 80%;
  float: left;
  position: relative;

  .aa-block-graph__bar {
    &[data-category="1"] .aa-block-graph__bar-block-inner {
      background: $wiaCalculatorCategory1Color;
    }
    &[data-category="2"] .aa-block-graph__bar-block-inner {

      background: $wiaCalculatorCategory2Color;
    }
    &[data-category="3"] .aa-block-graph__bar-block-inner {
      background: $wiaCalculatorCategory3Color;
    }
  }
}

.wia_graph__greyed-out {
  opacity: 0.4;
}

.wia_calculator_mobile {
  display: none;
}

.wia_calculator {
  background: $wiaCalculatorBgColor;
  padding: 1em 2em;
  margin: 2em 0;

  aa-slider {
    display: block;
    height: 25px;
    margin: 20px 0 15px 0;
  }

  .wia-calculator-graph {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 100;
      left: 0;
      border-top: 1px solid $darker_grey;
      right: 0;
      top: -5px;
    }
  }
}

.wia_calculator__extra_inputs {

  .wia_calculator__extra_input_label {
    font-weight: 700;
    margin-top: 1em;
  }

  > * {
    display: block;
  }
}

.wia_calculator__coverages {
  border-bottom: 1px solid $darker_grey;
  margin-bottom: 30px;
}

.wia_calculator__coverages_arrow {
  display: block;
  box-shadow: 0px -2px 0px -1px $darker_grey inset;
  position: relative;
  height: 12px;
  overflow: hidden;
  &:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid $darker_grey;
    transform: rotate(45deg);
    background: $grey;
    position: absolute;
    top: 5px;
    left: -7px;
    margin-left: 50%;
    transition: margin 300ms ease-in-out;
  }
  &[data-range1="true"]:before {
    //margin-left: 16%;
    margin-left: 1.5%;
  }
  &[data-range2="true"]:before {
    //margin-left: 58%;
    margin-left: 35%;
  }
  &[data-range3="true"]:before {
    //margin-left: 87%;
    margin-left: 80%;
  }
}

.wia_graph__chart {
  height: $wiaChartHeight;

  @media (max-width: $wiaBreakpoint) {
    height: $wiaChartHeightMobile;
  }
}

.wia_graph__tooltip {
  display: none;
  position: absolute;
  background: #fff;
  top: 55px;
  left: 6px;
  right: 0;
  bottom: 5px;
  padding: 1em;
  z-index: 100;
  opacity: 0.95;

  > * {
    display: none;
  }

  &.wia_graph__tooltip--active {
    display: block;
  }
  .wia_graph__tooltip_content--active {
    display: block;
  }
}

.wia_graph__column {
  float: left;
  padding: 0 0 0 6px;

  @media (max-width: $wiaBreakpoint) {
    float: none;
    width: 100% !important;
    margin: 40px 0;
  }

  &:nth-child(1) {
    width: 30%;
  }
  &:nth-child(2) {
    width: 30%;
  }
  &:nth-child(3) {
    width: 40%;
  }

  @media (max-width: 1000px) {
    &:nth-child(1) {
      width: 35%;
    }
    &:nth-child(2) {
      width: 30%;
    }
    &:nth-child(3) {
      width: 35%;
    }
  }

  > * {
    background: $white;
    margin: $wiaGraphLabelMargin 0;
    padding: 50px 5px 5px;
  }
}

.wia_graph__top_label {
  font-weight: 700;
  font-size: 0.9em;
  text-align: center;
  padding: 10px 0;
  height: $wiaGraphLabelHeight;
  position: relative;

  &:before {
    content: '▾';
    display: block;
    position: absolute;
    color: #8a8a8a;
    font-size: 0.5em;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e5e5e5;
    height: 8px;
    line-height: 8px;
    text-align: center;
  }
}

.wia_graph__bottom_label {
  font-size: 0.9em;
  text-align: left;
  padding: 1.2em 0.5em 0;
  line-height: 1.3em;
  height: $wiaGraphLabelBottomHeight;
  > * {
    display: block;
  }
  &:not(.wia_graph__bottom_label--double) {
    padding-left: 34%;
  }
}

.wia_graph__legend__labels {
  padding: 7px;
  bottom: 0;
  position: absolute;
  line-height: 1.3em;
  right: 0;

  @media (max-width: 1000px) {
    font-size: 0.8em;
  }

  strong {
    font-size: 1.05em;
    display: block;
  }
  span {
    font-size: 0.85em;
    display: block;
  }
}
.wia_graph__legend__items {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.wia_graph__legend__guideline {
  position: absolute;
  right: 10px;
  top: 32px;
}

.wia_graph__legend__items li {
  margin: 15px 0;
  font-weight: 700;
  padding: 0.5em 1.2em;
  position: relative;
  font-size: 1rem;
  line-height: 1em;
  word-spacing: 3em; // force words in new lines
  background: none; // overwrite drupal mess

  &:before {
    content: '▸';
    display: block;
    width: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 5px solid;
    color: #fff;
    font-size: 0.6em;
    text-align: center;
    padding-top: 15px;
  }

  &:nth-child(1):before {
    background: darken($wiaCalculatorCategory3Color, 10%);
    border-left-color: $wiaCalculatorCategory3Color;
  }

  &:nth-child(2):before {
    background: darken($wiaCalculatorCategory2Color, 10%);
    border-left-color: $wiaCalculatorCategory2Color;
  }

  &:nth-child(3):before {
    background: darken($wiaCalculatorCategory1Color, 10%);
    border-left-color: $wiaCalculatorCategory1Color;
    padding-top: 8px;
  }
}

.wia_graph__legend__help {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.wia_calculator__tabs {
  position: relative;
  margin-top: 1em;

  .wia_calculator__disability_slider {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 3em;
    padding: 0 1rem;
  }

  .aa-tabs-view__block {
    &:nth-child(1) {
      width: 35% !important; //fallback
      width: calc((100% - 2rem) * 0.35 + 1rem) !important;
    }
    &:nth-child(2) {
      width: 45% !important; //fallback
      width: calc((100% - 2rem) * 0.45) !important;
    }
    &:nth-child(3) {
      width: 20% !important; //fallback
      width: calc((100% - 2rem) * 0.20 + 1rem) !important;
    }
  }

  .aa-tabs-view-item__content {
    padding-top: 4em !important;
  }
}

@media (max-width: $wiaCalculatorMobileBreakpoint) {
  .wia_calculator {
    display: none;
  }
  .wia_calculator_mobile {
    display: block;
  }

  .aa-slider-input {
    .aa-slider-input__header {
      display: block;
      margin: -0.5em 0;
      label, .aa-slider-input__hint {
        display: none;
      }
    }

    .aa-slider-input__slider {
      margin-top: -1.5rem;
    }

    input {
      width: 5rem;
    }


    .noUi-target.noUi-background {
      background: $blue !important;
      .noUi-origin {
        background: $grey !important;
      }
    }
  }

  .wia_calculator_mobile h3 {
    margin-top: 1em;
  }
}

// overwrite drupal styles
.wia_calculator__mobile {
  table, td, tr {
    table-layout: auto !important;
    border: none !important;
    background: none !important;
  }
}

.wia_calculator__summary {
  background: $grey;
  padding: 1em 1.5em;
  margin: 1em 0;

  table {
    width: 100%;
  }

  td {
    padding: 0.2em 0;
    &:nth-child(1) {
      width: 70%;
      font-weight: bold;
    }
    &:nth-child(2) {
      width: 30%;
      text-align: right;
      font-size: 1.1em;
    }
  }

  .row-fluid > * {
    margin-bottom: 0 !important;
  }

  .wia_calculator__summary_legend {
    font-size: 0.8em;
  }
}

.wia_calculator__summary_table {
  background: $grey;
  padding: 0.5em 1em;
  max-width: 350px;

  table {
    width: 100%;
  }

  td {
    padding: 0.2em 0;
    &:nth-child(1) {
      width: 65%;
    }
    &:nth-child(2) {
      width: 10%;
      font-size: 1.1em;
    }
    &:nth-child(3) {
      width: 25%;
      text-align: right;
      font-size: 1.1em;
    }
  }
  tr:last-child td {
    border-top: 1px solid $dark_grey;
    padding-top: 0.5em;
  }
}

.wia_calculator__mobile_help_text {
  vertical-align: top;
  margin-left: -5px;
}

.wia_calculator--aegon-blue {
  color: $blue;
}
.wia_calculator__bold {
  font-weight: bold;
}
.wia_calculator__mobile_help_content {
  padding: 1em;
  background: $grey;
  margin: 1em 0;
  p + h4 {
    margin: 1em 0 0.5em;
  }
  h4 {
    margin: 0 0 0.5em;
  }
}
