/**
 * Date input component
 */

.aa-input-date {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  &:after,
  &:before {
    content: '/';
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 9px 0 0;
    opacity: 0.4;
    pointer-events: none;
    clear: both;
    visibility: visible;
  }

  &:before {
    left: calc(29% - 8px);
  }
  &:after {
    left: calc(62% - 15px);
  }

  input {
    text-align: center;
  }

  .aa-input-date__year {
    width: 40% !important;
    border-radius: 0 3px 3px 0 !important;
    border-left: none;
    padding-left: 0;
  }

  .aa-input-date__day,
  .aa-input-date__month {
    position: relative;
    width: 30% !important;
    padding-right: 0;
  }

  .aa-input-date__month {
    border-radius: 0 !important;
    border-left: none;
    border-right: none;
    padding-left: 0;
  }

  .aa-input-date__day {
    border-radius: 3px 0 0 3px !important;
    border-right: none;
  }
}



