.main-color{
  color: $blue_gray;
}

.aov-form.quickquote {
  .field {
    .label {
      float: none;
    }
  }

  .content,
  .side {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
    aside {
      padding: 20px;
    }
    h2 {
      font-size: 3em;
    }
    h4, h3, h2 {
      color: white;
    }
  }
}

.aov-form__list {

  .aov-form__section {
    position: relative;
  }

  .transition {
    max-height: 600px!important;
  }

  .aov-form__personTypeWrapper {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
    max-height: 0;
    // "height: 0" not work with css transitions
  }

  .aov-form__selection {
    @include rem('margin', 0, 0, 15);
  }

  .aov-form__numberCircle {
    position: absolute;
    left: -40px;
    z-index: 2000;
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 30px;
    height: 30px;
    padding: 8px;
    background: #308ccd;
    border: 2px solid #308ccd;
    color: #fff;
    text-align: center;
    font: 18px Arial, sans-serif;
    font-weight: bold;
    line-height: 10px;
    display: inline-block;
  }

  .aov-form__box {
    width: 100%;
    height: auto;
    position: relative;
    background: #D9EBF7;
    border-radius: 6px;
    padding: 20px;
  }

  .aov-form__radio__text {
    display: inline-block;
    max-width: 500px;
    margin-top: -17px;
    p {
      @include rem('margin', 0, 0, 0);
    }
  }
}

.main .container {
  padding-right: 250px;
  overflow: hidden;

  .content {
    float: left;
    width: 100%;
    background-color: $pastel_light_blue;
    .inner-content {
      padding: 20px;
    }

    .quickquote {
      select {
        width: 50%;
      }
    }
  }
}

.side {
  float: right;
  margin-right: -250px;
  width: 250px;
  background-color: $dark_blue;
}

@media all and (max-width: 840px) {
  .main .container {
    padding: 0;
    overflow: visible;
  }
  .content {
    float: none
  }
  .side {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .content,
  .side {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .content {
    margin-bottom: 30px
  }
}
