

.sticky-wrapper {
  background-color: #eeebe5;
  width: 30%;
  .img {
    background-image: url($image_path + 'Medium-AEC.jpg');
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.sticky-inner-wrapper {
  padding: 20px;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

.general-text {
  margin-bottom: 20px;
  line-height: 18px;
}

.startchatlabel, .telephone {
  color: #1067be;
  font-weight: bold;
}
