.aa-input-switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 30px;
}

.aa-input-switch input {display:none;}

.aa-input-switch .aa-input-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 34px;
  background: #fff;
  border: 1px solid #bebebe;
}

.aa-input-switch .aa-input-switch__slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 2px;
  transition: .4s;
  border-radius: 50%;
  background: #bebebe;
}

.aa-input-switch input:checked + .aa-input-switch__slider {
  background-color: $blue;
  border-color: transparent;
  &:before {
    background: #fff;
  }
}

.aa-input-switch input:focus + .aa-input-switch__slider {
  box-shadow: 0 0 1px $blue;
}

.aa-input-switch input:checked + .aa-input-switch__slider:before {
  transform: translateX(21px);
}
