.aa-pension-offer-form {
  max-width: 650px;
}

.form-input-row {
    overflow: auto;
      label.form-input-label {
        margin-top: 10px;
        line-height: 44px;
        @media (max-width: 640px) {
          width: 100%;
        }
        @media (min-width: 641px) {
          margin-left: 0 !important;
        }
      }
    .input-container {    
      margin-top: 10px;
      .input-wrapper {
        input[type=text], input[type=email], input[type=number], input[type=password] {
          width: 100%;
        }
        span.radio {
          top: -10px !important;
          margin-left: 3px;
        }
      }
    }
    .submit-form-button--wrapper {
      text-align: center;
      button {
        margin-top: 30px;
        @media (max-width: 640px) {
          width: 100%;
        }
      }
    }
  }