.aa-pension-offer-form {
  max-width: 650px;
  .form-input-row {
    margin-top: 10px;
    overflow: auto;
    label.form-input-label {
      margin-left: 0 !important;
      line-height: 44px;
    }
    button {
      margin-top: 30px;
    }
  }
}