/**
 * Wrapper
 */

.container_12 .row-fluid .aa-bb--wrapper {
  [class*="span"] {	min-height: 30px; }
}

.aa-bb--wrapper {
	background-color: $blue;
	min-height: 200px;	
	width: 100%;
	margin: 10px 0;
	padding: 10px 15px;
	position: relative;
	@include rem('border-radius', 3);
	color: $white;
	padding-bottom: 50px;
	
  &.padding-bottom-fix {
		padding-bottom: 105px;
	}

	[class*="span"] {
		margin-left: 0 !important;		
	}


  /**
   * Error message
   */

	.aa-bb--error-message {
		position: absolute;
		width: 100%;
		text-align: center;
		height: 100%;
		top: 0;
		font-size: 20px;
		font-weight: bold;
		left: 0;
		padding-top: 75px;
	}


  /**
   * Content
   */

	.aa-bb--content {
		overflow-y: auto;
		overflow-x: hidden;
		border-top: 1px solid $white;
		padding: 15px 0;
		
    &.hide-block {
			display: none !important;
		}
		
    &:first-child {
			border-top: none;
			padding-top: 0;
		}

    // Fixed heights
    @media (min-width: 641px) {
      &.aa-bb--block-fixed-height-1 {
        min-height: 85px;
      }

      &.aa-bb--block-fixed-height-2 {
        min-height: 120px;
      }

      &.aa-bb--block-fixed-height-3 {
        min-height: 155px;
      }

      &.aa-bb--block-fixed-height-4 {
        min-height: 190px;
      }

      &.aa-bb--block-fixed-height-5 {
        min-height: 225px;
      }

      &.aa-bb--block-fixed-height-6 {
        min-height: 260px;
      }

      &.aa-bb--block-fixed-height-7 {
        min-height: 295px;
      }

      &.aa-bb--block-fixed-height-8 {
        min-height: 330px;
      }

      &.aa-bb--block-fixed-height-9 {
        min-height: 365px;
      }

      &.aa-bb--block-fixed-height-10 {
        min-height: 400px;
      }
    }
    
    // Other parts
		.aa-bb--content-title {
			color: $white;
			margin: 14px 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		
    .aa-bb--content-label {
			font-size: 16px;
			
      &.lighter-label {
				font-weight: lighter;
			}

			@media (max-width: 640px) {
				margin-bottom: 0;
				min-height: 26px !important;			
			}			
		}

		.aa-bb--content-value {
			font-size: 22px;

			&::first-letter { padding-right: 10px; }

			@media (min-width: 641px) {
				text-align: right;			
			}

			@media (min-width: 641px) and (max-width: 767px) {
				font-size: 16px;

				&::first-letter { padding-right: 0; }
			}						
		}
	}


	/**
	 * Footer
   */

	.aa-bb--footer {
    bottom: 15px;
		left: 15px;
		position: absolute;
		right: 15px;
		
		.button {
			font-weight: bold;
			overflow: hidden;
			padding-right: 70px;
			text-overflow: ellipsis;
			white-space: nowrap;			

			@media (max-width: 767px) {
				display: block;
				width: 100%;
			}				
		}

		.aa-bb--caption {
			margin-left: 0;
		}
	}
}