#aov-quote-summary {
  [hidden] {
    display: none !important;
  }
  line-height: 35px;
  label, button {
  font-family: "senticosansdtregular", Arial, Verdana, sans-serif;
  }
  .dark-blue {
    color: $dark_blue;
  }
  h1 {
    color: $slightly_darker_blue;
    margin: 0;
  }
  h2.subtitle {
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    color: $blue;
  }
  .static-section {
    color: $dark_blue;
    margin-bottom: 21px;
    h3.title {
      margin-bottom: 21px;
    }
    .content {
      ul.bullet {
        margin: 0;
        li:before {
          color: $dark_blue !important;
        }
      }
    }
  }

  #premium-section {
    margin-bottom: 60px;
    //display: flex;
    /* Small screens */
    @media all and (max-width: 500px) {
      //flex-direction: column;
    }
    .data-section {
      flex-wrap: wrap;
      .data-fields {
        min-height: 0 !important;
        margin-left: 0;
        display: block;
        label.label, span.value {
          margin-bottom: 0;
        }
      }
    }
    .action-section {
      label {
        margin-left: 2%;
        &.aanvragen-label {
          margin-top: 65px;
        }
      }
      p.error {
        margin-left: 2%;
      }
      input[type="text"] {
        height: 50px;
        margin-right: 10px;
        background-color: #FFFFFF;
      }
      button, .button {
        position: relative;
        right: initial;
        bottom: initial;
        display: block;
        margin: 0 0 0 2%;
        height: 50px;
        &.aanvragen-button {
          color: $black;
        }
      }
      .email-resend-wrapper {
        button {
          padding: 0 0 0 12px;
          height: 35px;
          margin: 0;
        }
      }
    }
  }

  @media only screen and (max-width : 1140px) and (min-width: 1023px) {
    .action-section {
      .aanvragen-button {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  @media only screen and (max-width : 1024px) and (min-width: 900px) {
    .action-section {
      label {
        margin-bottom: 10px;
        &.aanvragen-label {
          margin-top: 100px;
        }
      }
      button, .button {
        width: 100%;
        max-width: 100%;
        margin-top: 15px;
      }
      input {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  @media screen and (max-width: 899px) {
    .data-section {
      margin-left: 2%;
    }
    .action-section {
      margin-left: 0;
      margin-right: 4%;
      label {
        margin-top: 30px !important;
      }
      input {
        width: 100%;
        margin-bottom: 15px;
      }
      button, .button {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  @media screen and (max-width: 350px) {
      .aanvragen-button {
        font-size: smaller;
      }
    }
}