// Behaviour
.aa-tabs-view {

  .aa-tabs-view__block {
    cursor: pointer;
  }

  // not mobile (> 640px)
  @media screen and (min-width: $rc-m-min-width) {
    .aa-tabs-view-item {
      display: none;
    }
    .aa-tabs-view-item--active {
      display: block;
    }

    .aa-tabs-view-item__headline {
      display: none;
    }

    .aa-tabs-view__block {
      display: block;
    }
  }
}

.aa-tabs-view-item:not(.aa-tabs-view-item--active) .aa-tabs-view-item__content {
  display: none;
}

.aa-tabs-view__block {
  display: none;
}

.aa-tabs-view__block-title {
  display: block;
}

// Square blue theme
.aa-tabs-view.aa-tabs-view--square-blue {

  $aaTabsBlue: #EDF6FB;

  .aa-tabs-view-item__content {
    background: $aaTabsBlue;
    padding: 0.5em;
    @media screen and (min-width: $rc-m-min-width) {
      padding: 2.5em;
    }
  }

  .aa-tabs-view-item__title {
    position: relative;
  }

  .aa-tabs-view-item__icon {
    font-size: 2.2em;
    float: left;
    color: $blue;
    line-height: 0.7em;
    padding: 0.3em 0 0.3em 0.3em;
    text-align: center;
  }

  .aa-tabs-view-item__headline {
    position: relative;
    padding: 1em 3em 1em 0em;
    border-bottom: 1px solid $aaTabsBlue;
    cursor: pointer;
  }
  .aa-tabs-view-item--active {
    .aa-tabs-view-item__headline {
      background: $aaTabsBlue;
    }
    .aa-tabs-view-item__arrow:before {
      transform: rotate(180deg);
    }
  }

  .aa-tabs-view-item__desc {
    font-size: 0.8em;
    display: block;
    line-height: 1em;
  }

  .aa-tabs-view-item__title {
    margin: 0;
  }

  .aa-tabs-view-item__arrow {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    color: $blue;
    text-align: center;
    &:before {
      padding: 0;
    }
  }

  .aa-tabs-view__block {
    color: $fun_blue_approx;
    float: left;
    height: 9em;
    text-align: center;
    line-height: 1em;
    box-shadow: 0 0 0 1px $aaTabsBlue inset;
    cursor: pointer;
    position: relative;
    word-break: break-all;

    @media screen and (max-width: $rc-l-min-width) {
      font-size: 0.7em;
    }

    &:nth-child(n+2) {
      box-shadow: 0 1px 0 0 $aaTabsBlue inset, -1px 0 0 0 $aaTabsBlue inset, 0 -1px 0 0 $aaTabsBlue inset;

      &.aa-tabs-view__block--active:before {
        padding: 0 1px 0 0;
        transform: translate(-1px, -5px);
      }
    }

    &.aa-tabs-view__block--active {
      background: $aaTabsBlue;
      box-shadow: none !important;

      &:before {
        content: '';
        background: $aaTabsBlue;
        width: 100%;
        height: 5px;
        display: block;
        transform: translateY(-5px);
        position: absolute;
        box-sizing: initial;
      }
    }

    .aa-tabs-view__block-icon {
      font-size: 4em;
      padding: 0.7em 0 0;
    }
  }

  .aa-tabs-view__block-title {
    padding: 2em 0.1em;
    font-weight: bold;
  }
}

// Square blue theme
.aa-tabs-view.aa-tabs-view--grey {

  $bg1: #E4E4E4;
  $bg2: #D7D7D7;
  $bg3: #C9C9C9;

  &[data-active-index="1"] .aa-tabs-view-item__content {
    background: $bg1;
  }

  &[data-active-index="2"] .aa-tabs-view-item__content {
    background: $bg2;
  }

  &[data-active-index="3"] .aa-tabs-view-item__content {
    background: $bg3;
  }

  .aa-tabs-view-item__content {
    padding: 0.5em;
  }

  .aa-tabs-view-item__arrow {
    display: none;
  }

  .aa-tabs-view__block {

    float: left;
    position: relative;
    padding-top: 0.3em;
    box-sizing: border-box;

    &:nth-child(1) .aa-tabs-view__block-title {
      background: $bg1;
    }

    &:nth-child(2) {
      padding-left: 5px;
      padding-right: 5px;
      .aa-tabs-view__block-title {
        background: $bg2;
      }
    }

    &:nth-child(3) .aa-tabs-view__block-title {
      background: $bg3;
    }

    &.aa-tabs-view__block--active {
      padding-top: 0.05em;
      .aa-tabs-view__block-title {
        padding-top: 0.3em + 0.5em;
      }
    }
  }

  .aa-tabs-view__block-title {
    padding: 0.5em 0;
    font-weight: bold;
    text-align: center;
    font-size: 0.9em;
  }
}

