.wia-calculator-graph {
  height: 100%;
  display: block;

  .aa-block-graph {
    height: 100%;

    &, * {
      box-sizing: border-box;
    }

    .hidden {
      display: none !important;
    }
  }

  .aa-block-graph__bar-block {
    height: 100%;
    padding: 2px;
  }

  .aa-block-graph__bar-block-inner {
    height: 100%;
    position: relative;
    &:hover {
      opacity: 0.8;
    }
  }

  .aa-block-graph__col {
    float: left;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .aa-block-graph__bar, .aa-block-graph__space, .aa-block-graph__bar-wrapper, .aa-block-graph__col {
    transition: all 300ms ease-in-out;
    overflow: hidden;
  }

  .aa-block-graph-amount {
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
