//colors
$color_gray_nurse_approx: #e8e8e8;
$wild_sand: #f4f4f4;
$color_celeste_approx: #cdcdcd;
$black_50: rgba(0,0,0,.5);
$white: #fff;
$color_cod_gray_approx: #070707;
$black_40: rgba(0,0,0,.4);
$color_silver_chalice_approx: #aaa;
$black_60: rgba(0,0,0,.6);
$black_30: rgba(0,0,0,.3);
$color_dove_gray_approx: #6a6a6a;
$white_80: rgba(255,255,255,.8);
$color_emperor_approx: #4d4d4d;
$color_silver_approx: #bfbfbf;
$gallery: #efefef;
$color_alto_approx: #dcdcdc;
$white_60: rgba(255,255,255,.6);
$white_70: rgba(255,255,255,.7);
$color_shark_approx: #212228;
$color_sushi_approx: #88b131;
$color_masala_approx: #3d3d3d;
$color_bombay_approx: #b1b1b3;
$color_mirage_approx: #1c1e21;
$black_80: rgba(0,0,0,.8);
$white_30: rgba(255,255,255,.3);
$black: #000;
$color_gallery_approx: #eee;
$color_pelorous_approx: #42b6c9;
$color_scooter_approx: #2ac7e1;

//fonts
$font_0: Helvetica Neue;
$font_1: sans-serif;
$font_2: ArialRoundedMTBold;
$font_3: Arial;

//urls
$url_0: url(../img/dark_background_stripes.gif);

.smartbanner_show {
  margin-top: 82px;
  .smartbanner {
    display: block;
  }
}
.smartbanner {
  font-family: $font_0, $font_1;
  position: absolute;
  z-index: 9999999;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 78px;
  border-bottom: 1px solid $color_gray_nurse_approx;
  background: $wild_sand;
  background: linear-gradient(to bottom, $wild_sand 0, $color_celeste_approx 100%);
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 2px $black_50;
  //Instead of the line below you could use @includebox-sizing($bs)
  box-sizing: content-box;
  * {
    //Instead of the line below you could use @includebox-sizing($bs)
    box-sizing: content-box;
    &:after {
      //Instead of the line below you could use @includebox-sizing($bs)
      box-sizing: content-box;
    }
    &:before {
      //Instead of the line below you could use @includebox-sizing($bs)
      box-sizing: content-box;
    }
  }
}
.smartbanner__container {
  margin: 0 auto;
}
.smartbanner__close {
  font-family: $font_2, $font_3;
  font-size: 15px;
  line-height: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 14px;
  height: 14px;
  text-align: center;
  text-decoration: none;
  color: $white;
  border: 2px solid $white;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 14px;
  background: $color_cod_gray_approx;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 3px $black_40;
  //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: none;
  &:active {
    font-size: 13px;
    color: $color_silver_chalice_approx;
  }
  &:hover {
    font-size: 13px;
    color: $color_silver_chalice_approx;
  }
}
.smartbanner__icon {
  position: absolute;
  top: 10px;
  left: 30px;
  display: block;
  width: 57px;
  height: 57px;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 10px;
  background: $black_60;
  background-size: cover;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 3px $black_30;
}
.smartbanner__info {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2em;
  position: absolute;
  top: 18px;
  left: 98px;
  width: 44%;
  color: $color_dove_gray_approx;
  //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0 1px 0 $white_80;
}
.smartbanner__title {
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  color: $color_emperor_approx;
}
.smartbanner-button {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  position: absolute;
  top: 24px;
  right: 20px;
  min-width: 10%;
  height: 24px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $color_dove_gray_approx;
  border: 1px solid $color_silver_approx;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 3px;
  background: $gallery;
  background: linear-gradient(to bottom, $gallery 0, $color_alto_approx 100%);
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 0 $white_60, 0 1px 0 $white_70 inset;
  //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0 1px 0 $white_80;
  &:active, &:hover {
    color: $color_dove_gray_approx;
    background: $color_alto_approx;
    background: linear-gradient(to bottom, $color_alto_approx 0, $gallery 100%);
  }
}
.smartbanner_android {
  border-color: $color_shark_approx;
  border-top: 5px solid $color_sushi_approx;
  background-color: $color_masala_approx;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  .smartbanner__icon {
    background-color: transparent;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
  }
  .smartbanner__close {
    line-height: 17px;
    width: 17px;
    height: 17px;
    color: $color_bombay_approx;
    border: 0;
    background: $color_mirage_approx;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 2px $black_80 inset, 0 1px 1px $white_30;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 1px $black;
    &:active {
      color: $color_gallery_approx;
    }
    &:hover {
      color: $color_gallery_approx;
    }
  }
  .smartbanner__info {
    color: $color_celeste_approx;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 2px $black;
  }
  .smartbanner__title {
    font-weight: bold;
    color: $white;
  }
  .smartbanner-button {
    min-width: 12%;
    padding: 1px;
    color: $color_celeste_approx;
    border: 1px solid $color_alto_approx;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    background: 0;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    &:active {
      background: 0;
    }
    &:hover {
      background: 0;
    }
  }
  .smartbanner-button__text {
    display: block;
    padding: 0 10px;
    text-align: center;
    text-transform: none;
    background: $color_pelorous_approx;
    background: linear-gradient(to bottom, $color_pelorous_approx 0, $color_pelorous_approx 100%);
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    &:active {
      background: $color_scooter_approx;
    }
    &:hover {
      background: $color_scooter_approx;
    }
  }
}