.faq {
  & * {
    font-family: $font_light;  //has 2B redefined, since all text here is held within labels, and those are usually defined bolder (ie. regular)
  }
  .question[class*=span] {
    margin-left: 0; //overrides the setting for a left margin of 2% for all spans starting at the second one in a list, which creates an indent in faq design in the .product ul
  	border-bottom: 1px solid $lighter_grey;
  	padding: 10px 0 10px 0;
  }
  .title {
    width: 100%;
    font-size: $medium;
    //line-height: initial;
    color: $black;
    //margin: initial;
    &:after {
      color: $blue;
      font-size: 12px;
      font-family: $font_icons;
      content: $font_icons_arrow_down;
      float: right;
    }
  }
  div.line {
    border-bottom: 1px solid $lighter_grey;
    height: 1px;
    margin: 10px 0 0 0;
    padding: 0;
  }
  .answer {
    display: none;
    margin: 12px 0 0 12px;
    padding: 5px 0 5px 12px;
    border-left: 2px solid $blue;
    & > p {
    	margin-bottom: 0;
    }
    ul {
      list-style: circle inside;
      li {
        list-style: inherit;
      }
    }
  }
  label {
    cursor: pointer;
    font-weight: normal;  //needs to be defined here 2 override the Drupal standard definition of bold for labels
  }
  .response {
    display: none;
  }
  input {
  	display: none;
  	~ [class^=thumbs_] {
  	  color: $light_grey;
  	}
    ~ div.line {
      display: none;
    }
  	&:checked {
      ~ [class^=thumbs_] {
  	    color: $blue;
  	  }
  	  + .title {
  	    &:after {
  	      transform: rotate(180deg);
  	    }
  	  }
  	  ~ .answer, ~ .feedback, ~ div.line {
  	    display: block;
  	  }
      ~ .response {
        display: block;
      }
  	}
  }
  .feedback {
    display: none;
    margin: 0 15px 0 15px;
    .intro {
      &:after {
        content: "\00A0\00A0";  //non-breaking space in unicode
      }
    }
    .content {
      margin-left: 10px;
    }
    .line {
      margin-bottom: 10px;
    }
    label {
      display: inline;
    }
    [class^=thumbs_]:after {
      display: inline-block;  //has to be block or inline-block for transform 2 work on :before
      font-family: $font_icons;
  	  content: $font_icons_fistfull;
  	  margin: 0 3px 0 2px;
    }
  	.thumbs_up:after {
      transform: rotateX(180deg);
      //transform: rotateY(180deg);
    }
  	.thumbs_down:after {
  	  position: relative;
  	  top: 8px;
  	}
  }
}
