
//
// Sliding Cookie Popup
// --------------------------------------------------

body.sliding-popup-processed {

  .sliding-popup-top {
    background: transparent;  

    .btn-close {
      position: absolute;
      top: 50%;
      right: 0;
      width: 20px;
      height: 20px;
      margin: -10px 15px 0 0;
      text-decoration: none;
      background: url(../../../images/icons/icon-close-cookie.png) 0 0 no-repeat;
      background-size: 20px 20px;
    }
    .popup-content {
      position: relative;
      max-width: 100%;
      margin: 0;
      padding: 15px;
      color: $white;
      background: $fun_blue_approx;
      #popup-text {
        float: none;
        max-width: 100%;
        margin: 0;
        p {
          font-family: $font_fallback;
          font-size: 12px;
          font-weight: normal;
          line-height: 16px;
          margin: 0 26px 0 0;
          color: $white !important;
        }
        a {
          text-decoration: underline;
          color: $white !important;
        }
      }
      #popup-buttons {
        display: none;
      }
    }
    .agreed {
      display: none;
    }
  }
  .cookie-opt-in {
    p {
      margin-bottom: 15px;
    }
    table {
      th {
        &.setting-analytics {
          text-align: center;
        }
        &.setting-external {
          text-align: center;
        }
        .form-item ul li {
          float: none;
          margin: 0;
          label {
            display: inline;
            margin: 0;
          }
        }
      }
      td {
        &.setting-analytics {
          text-align: center;
        }
        &.setting-external {
          text-align: center;
        }
      }
      thead {
        th {
          em {
            display: block;
          }
          > div {
            position: relative;
            height: 150px;
            .form-item {
              position: absolute;
              bottom: 5px;
              left: 50%;
              margin-left: -18px;
            }
          }
        }
        .icon {
          display: block;
          width: 75px;
          height: 69px;
          margin: 0 auto;
          background: url(../../../images/icons/cookie-opt-in-table-header-icons.png) 0 0 no-repeat;
        }
        .setting-analytics .icon {
          background-position: -75px 0;
        }
        .setting-external .icon {
          background-position: -150px 0;
        }
      }
      tbody {
        .check-yes {
          text-indent: -9999px;
          background: url(../../../images/icons/check-medium.png) center center no-repeat;
        }
        .check-no {
          text-indent: -9999px;
          background: url(../../../images/icons/cross-medium.png) center center no-repeat;
        }
      }
    }
  }
  .ui-widget {
    font-family: $font_light, $font_fallback;
    font-size: 18px;
    line-height: 23px;
    z-index: 10000;
  }
  .ui-widget-overlay {
    z-index: 10000;
    background: rgba(0,0,0,.3);
    opacity: 1;
  }
  .ui-widget-content a {
    color: $lochmara_approx;
  }
}