
//
// Assets
// --------------------------------------------------

/****** Aegon icons ******/
[class*="icon-"]:before {
  // position: absolute;
  // top: 50%;
  // left: 0;

  font-family: 'aegon_icons';
}

.icon-uniE601:before {
  content: '\e601';
}

.icon-uniE602:before {
  content: '\e602';
}

.icon-uniE603:before {
  content: '\e603';
}

.icon-uniE604:before {
  content: '\e604';
}

.icon-uniE605:before {
  content: '\e605';
}

.icon-uniE606:before {
  content: '\e606';
}

.icon-uniE607:before {
  content: '\e607';
}

.icon-uniE608:before {
  content: '\e608';
}

.icon-uniE609:before {
  content: '\e609';
}

.icon-uniE60B:before {
  content: '\e60b';
}

.icon-uniE60A:before {
  content: '\e60a';
}

.icon-uniE62B:before {
  content: '\e62b';
}