
//
// Core
// --------------------------------------------------

html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font_light, $font_fallback;
  font-size: $medium;
  line-height: 25px;

  overflow-x: hidden;
  position: relative;
  left: 0;

  background-color: $blue;
  color: $black;
}

a {
  text-decoration: none;
  color: $blue;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

div.success {
  background-color: $white; //$light_green;
  z-index: 6;
  margin: 0 auto;
  width: 400px;
  position: relative;
  .header {
    color: $black;  
  }
}
div.error {
  background-color: $light_red;
  .header {
    color: $red;  
  }
}
div.error, div.success {
  @include inlineFrame();
  padding-left: 40px;
  //margin-bottom: 10px;
  .header {
    &:before {
      font-family: $font_icons;
      content: $font_icons_error;
      margin-left: -20px; //this is faking it, compensating for the space requirement of :before, display: inline does not seem to work
      margin-right: 5px;
      left: -10px;
      position: relative;
    }
    //font-size: $large;
    font-family: $font_medium;
    margin-bottom: 10px;
  }
  button.blue.arrow {
    &:first-of-type {
      float: right;
      display: block;
      @media screen and(max-width: $rc-s-max-width) {
        display: none;
      }
    }
    &:last-of-type {
      display: none;
      margin-top: 20px;
      @media screen and(max-width: $rc-s-max-width) {
        display: block;
      }
    }
  }
}

div.lightbox {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $black;
  opacity: 0.4;
  z-index: 5;
}

.frame {
  position: relative;
  min-width: 220px;
  min-height: 100px;
  padding: 15px;
  border: 2px solid $grey;
  border-radius: $frame_border_radius;
}

// UTILITY STYLES
span.middle-enforcer {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}


// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  body {
    background-color: $white;
  }
}