
//
// Fonts
// It would be great if we could use just one font name for all different font 
// weights, but, alas, all browsers have a very different take on that
// --------------------------------------------------

@font-face {
  font-family:'senticosansdtlight';
  // font-family:'sslight';
  src: url('../assets/fonts/senticosansdt-light-webfont.eot');
  src: url('../assets/fonts/senticosansdt-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/senticosansdt-light-webfont.woff') format('woff'),
       url('../assets/fonts/senticosansdt-light-webfont.ttf') format('truetype'),
       url('../assets/fonts/senticosansdt-light-webfont.svg#senticosansdtlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'senticosansdtregular';
  // font-family:'ssregular';
  src: url('../assets/fonts/senticosansdt-regular-webfont.eot');
  src: url('../assets/fonts/senticosansdt-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/senticosansdt-regular-webfont.woff') format('woff'),
       url('../assets/fonts/senticosansdt-regular-webfont.ttf') format('truetype'),
       url('../assets/fonts/senticosansdt-regular-webfont.svg#senticosansdtregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'senticosansdtthin';
  src: url('../assets/fonts/senticosansdt-thin-webfont.eot');
  src: url('../assets/fonts/senticosansdt-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/senticosansdt-thin-webfont.woff') format('woff'),
       url('../assets/fonts/senticosansdt-thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'senticosansdtmedium';
  // font-family:'ssbold';
  src: url('../assets/fonts/senticosansdt-medium-webfont.eot');
  src: url('../assets/fonts/senticosansdt-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/senticosansdt-medium-webfont.woff') format('woff'),
       url('../assets/fonts/senticosansdt-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// icon font created by icomoon; see how to change the name from icomoon to aegon_icons for the files without breaking anything (in the first attempt it _did_ break stuff)
@font-face {
    font-family:'aegon_icons';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icomoon.woff') format('woff'),
         url('../fonts/icomoon.ttf') format('truetype'),
         url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
// old font references used by aegon.nl
/*
@font-face {
  font-family: 'SenticoSansDT-ExtraBoldIta';
  src: url('../fonts/webfonts/2527EE_1_0.eot');
  src: url('../fonts/webfonts/2527EE_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_1_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-Medium';
  src: url('../fonts/webfonts/2527EE_2_0.eot');
  src: url('../fonts/webfonts/2527EE_2_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_2_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-Regular';
  src: url('../fonts/webfonts/2527EE_3_0.eot');
  src: url('../fonts/webfonts/2527EE_3_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_3_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_3_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-ThinItalic';
  src: url('../fonts/webfonts/2527EE_4_0.eot');
  src: url('../fonts/webfonts/2527EE_4_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_4_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_4_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-Light';
  src: url('../fonts/webfonts/2527EE_5_0.eot');
  src: url('../fonts/webfonts/2527EE_5_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_5_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_5_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-LightItalic';
  src: url('../fonts/webfonts/2527EE_6_0.eot');
  src: url('../fonts/webfonts/2527EE_6_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/webfonts/2527EE_6_0.woff') format('woff'),
  url('../fonts/webfonts/2527EE_6_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-Italic';
  src: url('../fonts/webfonts/2527EE_7_0.eot');
  src: url('../fonts/webfonts/2527EE_7_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_7_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_7_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-MediumItalic';
  src: url('../fonts/webfonts/2527EE_8_0.eot');
  src: url('../fonts/webfonts/2527EE_8_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_8_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_8_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-ExtraBold';
  src: url('../fonts/webfonts/2527EE_9_0.eot');
  src: url('../fonts/webfonts/2527EE_9_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_9_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_9_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-Bold';
  src: url('../fonts/webfonts/2527EE_A_0.eot');
  src: url('../fonts/webfonts/2527EE_A_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_A_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_A_0.ttf') format('truetype');
}
@font-face {
  font-family: 'SenticoSansDT-BoldItalic';
  src: url('../fonts/webfonts/2527EE_B_0.eot');
  src: url('../fonts/webfonts/2527EE_B_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/2527EE_B_0.woff') format('woff'),
    url('../fonts/webfonts/2527EE_B_0.ttf') format('truetype');
}
*/