
//
// Typography
// --------------------------------------------------

h1 {
  @include rem('font-size', $xxx-large);
  @include rem('line-height', 36);
  @include rem('margin', 25, 0);
  font-family: $font_light;
  font-weight: normal;
  color: $blue;
  line-height: $xxx-large;
}

.subtext {
  font-family: $font_light;
  font-size: $x-large;
  color: $blue;
}

.subheader {
  font-family: $font_normal;
  font-size: $large;
}

h2 {
  font-family: $font_light;
  font-size: $xx-large;
  color: $blue;
  font-weight: normal;
  margin: 5px 0 20px 0;
  line-height: $xx-large;
}

h3 {
  font-family: $font_light;
  font-size: $large;
  line-height: $large;
  color: $blue;
  margin: 10px auto;
}

h4 {
  font-family: $font_normal;
  font-size: $medium;
}

h5 {
  font-family: $font_light;
  font-size: $small;
}

ul {
  padding-left: 0px;
  padding-right: 0px;
  li {
    list-style: none;
    font-family: $font_light;
    font-size: $medium;
    @include rem('line-height', 26);
    $li_left: 20px;
    &:before {
      font-family: $font_icons;
      display: block;
      position: relative;
      max-width: 0;
      max-height: 0;
      color: $blue;
      left: -$li_left;
      font-size: $small;
    }
    &.bullet {
      margin-left: $li_left;
      &:before {
        content: '\2022';
      }
    }
    &.check {
      margin-left: $li_left;
      &:before {
        content: $font_icons_check;
      }
    }
    &.arrow {
      margin-left: $li_left;
      &:before {
        content: $font_icons_arrow_right;
      }
    }
  }
}

p {
  line-height: 23px;
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// font families

.font_normal {
  font-family: $font_normal;
}

.ul-arrows {
  list-style-item: none;
  list-style-image: none;
  &:before {
    content: $font_icons_arrow_right;
  }
}


//
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  h1 {
    @include rem('font-size', 46);
    @include rem('line-height', 46);
  }

  p {
    @include rem('margin', 0, 0, 15);
  }
}

@include breakpoint($brk-mobile){

  h1 {
    @include rem('font-size', 22);
    @include rem('line-height', 22);
  }

  h2 {@include rem('font-size', 20);
      @include rem('line-height', 20);
  }

  h3 {@include rem('font-size', 18);
      @include rem('line-height', 18);
  }

  h4 {@include rem('font-size', 16);
      @include rem('line-height', 16);
  }

  p {
    @include rem('font-size', 16);
  }

  ul {
    @include rem('font-size', 16);
  }

  li {
    @include rem('font-size', 16);
  }
}
