
//
// Layout UI elements
// --------------------------------------------------

.frame {
  position: relative;
  min-width: 220px;
  min-height: 100px;
  padding: 15px;
  border: 2px solid $grey;
  border-radius: $frame_border_radius;
}

.bubble {
  @include bubble(10px, 2px, $quadrant: 3, $bottom: 20px, $border-color: $grey, $background-color: $white);
}

.bubbleTopRight {
  @include bubble(10px, 2px, $quadrant: 0, $right: 20px, $border-color: $grey, $background-color: $white);
}

.help {
  padding: 15px 10px;
  display: inline-block;
  float: left;
  position: relative;
  &.dialog {
    z-index: 5;
    $help_dialog_width: 400px;
    background-color: $slightly_lighter_blue;
    display: block;
    position: absolute;
    padding: 18px;
    margin:0;
    max-width: $help_dialog_width;
    border-radius: $frame_border_radius;
    .caret {
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $slightly_lighter_blue;
      position: absolute;
      left: 50%;
    }
    &.top{
      @include bubble($width: 10px, $left: $help_dialog_width / 2, $quadrant: 2, $background-color: $slightly_lighter_blue);
      .caret {
        bottom: -7px;
      }
    }
    &.bottom{
      @include bubble($width: 10px, $left: $help_dialog_width / 2, $quadrant: 0, $background-color: $slightly_lighter_blue);
      .caret {
        top: -7px;
      }
    }
    &.left{
      @include bubble($width: 10px, $left: $help_dialog_width / 2, $quadrant: 3, $background-color: $slightly_lighter_blue);
      .caret {
        right: -7px;
        left: auto;
      }
    }
    &.right{
      @include bubble($width: 10px, $left: $help_dialog_width / 2, $quadrant: 1, $background-color: $slightly_lighter_blue);
      .caret {
        right: auto;
        left: -7px;
      }
    }
    &.top, &.bottom, &.right, &.left{
      .caret {
        width: 15px;
        height: 15px;
        border: none;
      }
      &:before, &:after{
        content: none;
      }
    }
  }
  &:before {
    font-family: $font_icons;
    font-size: 16px;
    content: $font_icons_help;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 18px;
  }
  &:after {
    left: 50%;
  }
}

/*----- UTILITY STYLES -----*/
span.middle-enforcer {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

div.lightbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $black;
  opacity: 0.4;
  z-index: 5;
  &.aegon-modal-overlay {
    position: fixed;
  }
}

div.greyoverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0.7;
  display: none;
}

/*----- Back to top -----*/
.goTop-wrapper {
  position: fixed;
  top: 0;
  right: 7.26496%;
  z-index: 1;

  .goTop a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background: #3395D3 url($image_path + 'ui/icon-arrow-up.png') center center no-repeat;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: #51A5DA;
    }

    &:active {
      background-color: #007BC8;
    }
  }
}

/*----- throbber -----*/
.throbber {
  display: block;
  background-image: url($image_path + 'ui/loader-blue.gif');
  width: 32px;
  height: 32px;
}

/*----- UI mobile tap status -----*/
body.mobile-tap {

  section.content:after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}


//
// Media queries
// --------------------------------------------------

@include breakpoint($brk-mobile) {

  /*----- UI mobile tap status -----*/
  body.mobile-tap {
    section.content {
      position: relative;
      overflow: hidden;

      &:after {
        display: block;
      }
    }
    &:not(.pushmenu-to-right) {
      section.content {
        overflow: visible;
      }
    }
  }
  .help {
    float: right;
    &.dialog {
      max-width: 95%;
      left: auto !important;
      right: 2%;
      &.bottom, &.top, &.left, &.right {
        &:before {}
        &:after {
          left: auto;
        }
      }
    }
  }
}

@include breakpoint($brk-tablet) {

  .goTop-wrapper {
    display: none;
  }
}
