form {
  &:valid {
    ul.actions.edit {
      button {
        z-index: $elements_button_enabled_z-index;
      }
    }
  }
  &:invalid {
    ul.actions.edit {
      button:not(.cancel) {
        z-index: $elements_button_disabled_z-index;
      }
      //div.disabler {
      //  display: block;
      //}
    }
  }
  &.invalid {
    ul.actions.edit {
      button:not(.cancel) {
        z-index: $elements_button_disabled_z-index;
      }
      //div.disabler {
      //  display: block;
      //}
    }
  }
}

$errorText_line-height: 14px;
.errorText {
  &.manual {  //for when it is necessary to have the errorText styling, but text is to be shown independently of automatic validation
    display: none;
    &.visible {
      display: block;
    }
  }
  text-align: left;
}
select {
  &.blurred:invalid {
    &~ .ddTitle {
      border-color: $red;
    }
    &~ .errorText {
      display: block;
    }
  }
  &.blurred.invalid {
    &~ .ddTitle {
      border-color: $red;
    }
    &~ .errorText {
      display: block;
    }
  }
}
input.blurred {
  &.invalid {
    border-color: $red;
    & ~ .errorText {
      display: block;
    }
    & ~ span.checkbox {
      // styles for check boxes could go here
      //border-color: $red;
    }
  }
}
input, select {
  &~ .errorText {
    line-height: $errorText_line-height;
    font-size: $small;
    color: $red;
    position: relative;
    top: - ($elements_height + $errorText_line-height);
  }
  &~ .errorText {
    display: none;
  }
  &:valid ~ .errorText {
    display: none;
  }
  &[type=checkbox]~ .errorText {
    left: -35px;
    top: - ($elements_checkbox_top + $elements_checkbox_height + $errorText_line-height);
  }
}

select ~ .errorText {
  top: -$errorText_line-height;
}
select.blurred:invalid ~ .ddTitle {
  margin-top: -$errorText_line-height;
}

