<div class="wia_calculator">
  <h3>Vermindering van uw verdiencapaciteit</h3>

  <div>
    <aa-slider class="aa-input--percentage"
               [(ngModel)]="disability.value"
               (modelChange)="sliderUpdate(disability, $event)"
               [options]="disability.options">
    </aa-slider>
  </div>

  <div class="wia_calculator__coverages">

    <span class="wia_calculator__coverages_arrow"
      [attr.data-range1]="disability.value < 35"
      [attr.data-range2]="disability.value >= 35 && disability.value < 80"
      [attr.data-range3]="disability.value >= 80"
    ></span>

    <div class="wia_calculator__coverages__r1" [hidden]="!(disability.value < 35)">
      <h4>0-35% vermindering verdiencapaciteit</h4>

      <p>U kunt langere tijd minder werken doordat u arbeidsongeschikt bent verklaard. Het UWV bepaalt
        hoeveel u nog wél kan werken en wat u daarmee nog kan verdienen. Dit noemen we uw
        ‘restverdiencapaciteit’. Is de vermindering van uw verdiencapaciteit minder dan 35% dan krijgt u geen
        uitkering van de overheid.</p>
    </div>

    <div class="wia_calculator__coverages__r2" [hidden]="!(disability.value >= 35 && disability.value < 80)">
      <h4>35-80% vermindering verdiencapaciteit
        U kan langere tijd niet of minder werken. Het</h4>

      <p>U kan langere tijd niet of minder werken. Het UWV bepaalt hoeveel u nog wél kan werken en wat u
        daarmee nog kan verdienen. Dit noemen we uw ‘restverdiencapaciteit’. Er wordt vervolgens gekeken
        naar uw benutting daarvan. Benut u minder dan 50% van uw ‘restverdiencapaciteit dan verliest u een
        groot gedeelte van uw uitkering.</p>

      <div class="row-fluid wia_calculator__extra_inputs">
        <div class="span5">
          Benutting restverdiencapaciteit:
        </div>
        <div class="span7">
          <aa-slider class="aa-input--percentage"
                     [(ngModel)]="usage.value"
                     (modelChange)="sliderUpdate(usage, $event)"
                     [options]="usage.options">
          </aa-slider>
        </div>
      </div>

    </div>

    <div class="wia_calculator__coverages__r3" [hidden]="!(disability.value >= 80)">
      <h4>80-100% vermindering verdiencapaciteit</h4>

      <p>U kunt nagegoeg niet meer werken. Dan wordt u 80% of meer arbeidsongeschikt verklaart. Voor de
        uitkering van de overheid wordt er een verschil gemaakt tussen duurzaam en niet duurzaam
        arbeidsongeschikt. Als u langer dan 5 jaar niet kunt werken wordt er van duurzaam arbeidsongeschikt
        gesproken.</p>

      <div class="row-fluid wia_calculator__extra_inputs">
        <div class="span5">
          Duurzaam arbeidsongeschikt
        </div>
        <div class="span7">
          <aa-input-switch [(ngModel)]="permanentDisability" (modelChange)="updatePermDisability()"></aa-input-switch>
        </div>
      </div>
    </div>

  </div>

  <div class="clearfix">
    <div class="wia_graph__legend">
      <span class="wia_graph__legend__guideline">Uw salaris</span>

      <ul class="wia_graph__legend__items">
        <li *ngFor="let item of legendData?.items" [style.background]="legendData.groups[item].meta.color">
          <span class="wia_graph__legend__help icon-help"></span>
          {{legendData.groups[item].meta.label}}
        </li>
      </ul>

      <div class="wia_graph__legend__labels">
        <strong>Totaal</strong>
        <span>bruto per jaar</span>
        <span>bruto per maand</span>
      </div>

    </div>
    <div class="clearfix wia_graph">

      <div  class="wia_graph__column">
        <div class="wia_graph__top_label">
          1e en 2e jaar <span class="wia_graph__top_label_help icon-help"></span>
        </div>

        <div class="wia_graph__chart">
          <wia-calculator-graph class="wia-calculator-graph" [data]='graphData[0]' *ngIf="graphData[0]"></wia-calculator-graph>
        </div>

        <div class="wia_graph__bottom_label">
          <strong>€47.540</strong>
          <span>€3962</span>
        </div>

      </div>

      <div  class="wia_graph__column">
        <div class="wia_graph__top_label">
          vanaf 3e jaar <span class="wia_graph__top_label_help icon-help"></span>
        </div>

        <div class="wia_graph__chart">
          <wia-calculator-graph class="wia-calculator-graph" [data]='graphData[1]' *ngIf="graphData[1]"></wia-calculator-graph>
        </div>

        <div class="wia_graph__bottom_label">
          <strong>€47.540</strong>
          <span>€3962</span>
        </div>

      </div>

      <div  class="wia_graph__column">

        <div class="wia_graph__top_label">
          tot pensioen leeftijd <span class="wia_graph__top_label_help icon-help"></span>
        </div>

        <div class="wia_graph__chart">
          <wia-calculator-graph class="wia-calculator-graph" [data]='graphData[2]' *ngIf="graphData[2]"></wia-calculator-graph>
        </div>

        <div class="wia_graph__bottom_label">
          <strong>€47.540</strong>
          <span>€3962</span>
        </div>
      </div>

    </div>
  </div>
</div>
