
//
// Core
// --------------------------------------------------

html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font_light, $font_fallback;
  font-size: $medium;
  line-height: $line-height-medium;

  overflow-x: hidden;
  position: relative;
  left: 0;

  //background-color: $blue;
  color: $black;
}

a {
  text-decoration: none;
  color: $blue;
}

a, button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}


// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  body {
    background-color: $white;
  }
}

// mobile ( < 641px )
@include breakpoint($brk-mobile) {
  .visible-tablet,
  .hidden-mobile {
    display: none !important;
  }
}

// not mobile (> 640px)
@media screen and (min-width: $rc-m-min-width) {
  .visible-mobile {
    display: none !important;
  }
}

// tablet ( > 640px && < 901px )
@media screen and (min-width: $rc-m-min-width) and (max-width: $rc-m-max-width) {
  .hidden-tablet {
    display: none !important;
  }
}

// not desktop ( < 901px )
@media screen and (max-width: $rc-m-max-width) {
  .visible-desktop {
    display: none !important;
  }
}

// desktop ( > 900px )
@include breakpoint($brk-ipad-portrait) {
  .visible-tablet,
  .hidden-desktop {
    display: none !important;
  }
}
