.icon:before,
[class*='icon-']:before {
  font-family: $font_icons;
  display: inline-block;
  min-width: 1.5em;
  padding-right: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.icon-user-link:before {
  display: inline-block;

  min-width: 1.5em;
}

.icon-uniE600:before {
  content: '\e600';
}

.icon-uniE601:before {
  content: '\e601';
}

.icon-uniE602:before {
  content: '\e602';
}

.icon-uniE603:before {
  content: '\e603';
}

.icon-uniE604:before {
  content: '\e604';
}

.icon-uniE605:before {
  content: '\e605';
}

.icon-uniE606:before {
  content: '\e606';
}

.icon-uniE607:before {
  content: '\e607';
}

.icon-uniE608:before {
  content: '\e608';
}

.icon-uniE609:before {
  content: '\e609';
}

.icon-uniE610:before {
  content: '\e610';
}

.icon-uniE611:before {
  content: '\e611';
}
.icon-uniE612:before {
  content: '\e612';
}
.icon-uniE617:before {
  content: '\e617';
}
.icon-uniE618:before {
  content: '\e618';
}
.icon-uniE619:before {
  content: '\e619';
}

.icon-uniE61A:before {
  content: '\e61a';
}

.icon-uniE61B:before {
  content: '\e61b';
}

.icon-uniE629:before {
  content: '\e629';
}
.icon-uniE62A {
  content: '\e62a';
}
.icon-uniE62d:before {
  content: '\e62d';
}
.icon-unie62e:before {
  content: '\e62e';
}
.icon-unie62f:before {
  content: '\e62f';
}
.icon-uniE60B:before {
  content: '\e60b';
}

.icon-uniE60A:before {
  content: $font_icons_old_man;
}

.icon-uniE60D:before {
  content: '\e60d';
}
.icon-uniE60E:before {
  content: '\e60e';
}

.icon-uniE60F:before {
  content: '\e60f';
}

.icon-uniE62B:before {
  content: '\e62b';
}

.icon-uniE630:before {
  content: '\e630';
}
.icon-uniE631:before {
  content: '\e631';
}
.icon-uniE632:before {
  content:  '\e632';
}
.icon-uniE633:before {
  content:  '\e633';
}
.icon-uniE636:before {
  content: '\e636';
}
/// THIS ISNT MAPPED RIGHT uni 646 is nothing , so i guess this class should be renamed to 636 wich i already this 2 lines up.
/// Dont remove yet cause maybe its used somewhere
.icon-uniE646:before {
  content: '\e636';
}

.icon-uniE63B:before {
  content: '\e63b';
}

.icon-uniE647:before {
  content: '\e637';
}

.icon-uniE648:before {
  content: $font_icons_lock;
}

.icon-uniE62C:before {
  content: '\e62c';
}
.icon-uniE800:before {
  content:'\e800';
}
.icon-uniE801:before {
  content: '\e801';
}
.icon-unie900:before {
  content: '\e900';
}
.icon-unie904:before {
  content: '\e904';
}
.icon-unie905:before {
  content: '\e905';
}
.icon-unie906:before {
  content: '\e906';
}
.icon-unie907:before {
  content: '\e907';
}
.icon-unie908:before {
  content:  '\e908';
}

.icon-pdf:before {
  content: '\e639';
}

.icon-klantenservice,
.icon-service-contact,
.icon-service--contact,
.icon-4532:before,
.icon-5659:before {
  @extend .icon-uniE605;
}

.icon-inloggen,
.icon-4610:before,
.icon-5694:before {
  @extend .icon-uniE610;
}

.icon-sparen,
.icon-5074:before {
  @extend .icon-uniE607;
}

.icon-actueel,
a.menu-5662:before {
  @extend .icon-uniE608;
}

.icon-uitgelicht,
.icon-4547:before,
.icon-5657:before {
  @extend .icon-uniE611;
}

.icon-beleggen,
.icon-4494:before {
  @extend .icon-uniE608;
}

.icon-verzekeren,
.icon-4495:before,
.icon-inkomensverzekeringen:before {
  @extend .icon-uniE609;
}

.icon-schadeverzekeringen:before {
  @extend .icon-uniE61B;
}

.icon-vermogensbeheer:before {
  @extend .icon-uniE60F;
}

.icon-hypotheek,
.icon-4496:before,
.icon-4537:before {
  @extend .icon-uniE60B;
}


.icon-4546:before {
  @extend .icon-uniE629;
}

.icon-pensioen,
.icon-pensioen-en-lijfrente,
.icon-4497:before {
  @extend .icon-uniE60A;
}

.icon-person,
.icon-user-link:before {
  @extend .icon-uniE636:before;
}

.icon-home:before,
.icon-5653:before {
  @extend .icon-uniE647:before;
}

.icon-lock:before {
  @extend .icon-uniE648:before;
}

.icon-6861:before {
  @extend .icon-uniE646;
}

.icon-6863:before {
  @extend .icon-uniE62C;
}

.icon-documents-check,
.icon-6860:before {
  @extend .icon-uniE604;
}

.icon-mijn-aegon:before {
  content: $font_icons_man;
}

.icon-mijn-gegevens:before {
  content: $font_icons_document_n_pen;
}

.icon-mijn-documenten:before {
  content: $font_icons_document_n_check;
}

.icon-mijn-producten:before,
.icon-themas:before {
  content: $font_icons_producten;
}
.icon-chat:before {
  content: $font_icons_chat;
}

.icon-comment:before {
  content: $font_icons_comment;
}

.icon-search:before {
  content: $font_icons_search;
}

.icon-info:before {
  content: $font_icons_info;
}

.icon-advisor:before {
  content: $font_icons_man_in_tie;
}

.icon-mijn-betalingen:before {
  content: $font_icons_betalingen;
}

.icon-plus:before {
  content: $font_icons_plus;
}

.icon-plus-regular:before {
  content: $font_icons_plus_regular;
}

.icon-plus-light:before {
  content: $font_icons_plus_light;
}

.icon-skinnyarrow:before {
  content: $font_icons_arrow_right_skinny;
}

.icon-blog:before {
  content: $font_icons_edit;
}

.icon-calculator:before {
  content: $font_icons_calculator;
}

.icon-check:before {
  content: $font_icons_check;
}

.icon-radio:before {
  content: $font_icons_radio;
}

.icon-fist-full:before {
  content: $font_icons_fistfull;
}

.icon-error:before {
  content: $font_icons_error;
}

.icon-arrow-right:before {
  content: $font_icons_arrow_right;
}

.icon-arrow-down:before {
  content: $font_icons_arrow_down;
}

.icon-tip:before {
  content: $font_icons_tip;
}

.icon-help:before {
  content: $font_icons_help;
}

.icon-claim-indienen:before {
  content: $font_icons_claim_indienen;
}

.icon-offreren:before {
  content: $font_icons_offreren;
}

.icon-contract-details:before {
  content: $font_icons_contract_details;
}

.icon-inzien:before {
  content: $font_icons_inzien;
}

.icon-muteren:before {
  content: $font_icons_muteren;
}

.icon-zakelijk:before {
  content: $font_icons_zakelijk;
}

.icon-chart:before {
  content: $font_icons_chart;
}
.icon-schade-melden:before {
  content: $font_icons_schade-melden;
}
.icon-document-pen:before,
.icon-adres-wijzigen:before {
  content: $font_icons_document_n_pen;
}
.icon-products:before {
  content: $font_icons_producten;
}
.icon-checked-documents:before {
  content: $font_icons_document_n_check;
}
.icon-chart:before {
  content: $font_icons_chart;
}
.icon-arrow-location:before {
  content: $font_icons_arrow_location;
}
.icon-contact-service:before {
  content: $font-icons_headhphones;
}
.icon-pencil:before {
  content: $font_icons_edit;
}
.icon-clock:before {
  content: $font_icons_clock;
}
.icon-thumb-down {
  content: $font_icons_fistfull;
}
.icon-call:before,
.icon-phone:before {
  content: $font_icons_call;
}
.icon-chat:before {
  content: $font_icons_chat;
}
.icon-symbol-euro:before {
  content: $font_icons_betalingen;
}
.icon-arrow-roadmap:before {
  content:$font_icons_arrow_roadmap;
}
.icon-envelope:before {
  content:$font_icons_envelope;
}

.block--menu-menu-particulier .content a,
.block--menu-menu-particulier .content [class*='icon-']:before,
.home-top-banner .block--menu-menu-particulier .service-item [class*='icon-']{
  color:$white;
}
// Style for subhome first menu-block ( has blue background so needs white color ).
.home-top-banner .block--menu-menu-particulier .service-item [class*='icon-'],
.block--menu-menu-particulier .service-item [class*='icon-'] {
    color:$white;
    -webkit-font-smoothing: initial;
}
.block--menu-menu-particulier .white-bg-link .service-item [class*='icon-'],
.home-top-banner .block--menu-menu-particulier .white-bg-link .service-item [class*='icon-'] {
  color: #0560BB;
}
.service-item [class*='icon-'] {
  float: left;
  color: #0077C8;
  font-size: 25px;
}
.service-item [class*='icon-'] + .field {
  float: left;
  width: 76%
}

.icon-minus:before {
  content: $font_icons_minus;
}





// Do not apply icons to old aegon menu.
// TODO: Refactor menu's in Drupal module 'aegon_menu' to adapt to ATDL.
.submenu [class*='menu-'][class*='icon-']:before {
  display: none;
  content: '';
}
