
//
// Typography
// --------------------------------------------------

h1 {
  @include rem('font-size', $xxx-large);
  @include rem('line-height', $xxx-large + 9);
  @include rem('margin', 25, 0);
  font-family: $font_light;
  font-weight: normal;
  color: $blue;
}

.subtext {
  font-family: $font_light;
  @include rem('font-size', $x-large);
  @include rem('line-height', $x-large + 5);
  color: $blue;
}

.subheader {
  font-family: $font_normal;
  @include rem('font-size', $large);
  @include rem('line-height', $x-large);
  color: $black;
}

h2 {
  font-family: $font_light;
  @include rem('font-size', $xx-large);
  @include rem('line-height', $xxx-large);
  color: $blue;
  font-weight: normal;
  margin: 5px 0 20px;
}

h3 {
  font-family: $font_normal;
  @include rem('font-size', $large);
  @include rem('line-height', $x-large);
  color: $black;
  margin: 10px auto;
}

h4 {
  font-family: $font_normal;
  @include rem('font-size', $medium);
  @include rem('line-height', $large);
}

h5 {
  font-family: $font_light;
  @include rem('font-size', $small);
}

p, ul li, ol li {
  font-family: $font_light;
  @include rem('font-size', $medium);
  @include rem('line-height', $medium + 5);
}

p {
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// font families
.font_normal {
  font-family: $font_normal;
}

//
// Media queries
//
//
// @todo: Still not sure about this part, check with D&A team:
// --------------------------------------------------

@include breakpoint($brk-tablet) {

  h1 {
    @include rem('font-size', $xxx-large);
    @include rem('line-height', $xxx-large);
  }

  p {
    @include rem('margin', 0, 0, 15);
  }
}

@include breakpoint($brk-mobile) {

  h1 {
    @include rem('font-size', $x-large);
    @include rem('line-height', $x-large + 3);
  }

  h2 {
    @include rem('font-size', $large);
    @include rem('line-height', $x-large);
  }

  h3 {
    @include rem('font-size', $medium);
    @include rem('line-height', $large);
    color: $blue;
  }
}
