
//
// Typography
// --------------------------------------------------

h1 {
  @include rem('font-size', $xxx-large);
  @include rem('line-height', $line-height-xxx-large);
  @include rem('margin', 25, 0);
  font-family: $font_light;
  font-weight: normal;
  color: $blue;
}

.subtext {
  font-family: $font_light;
  @include rem('font-size', $x-large);
  @include rem('line-height', $line-height-x-large);
  color: $blue;
}

.subheader {
  font-family: $font_normal;
  @include rem('font-size', $large);
  @include rem('line-height', $line-height-large);
  color: $black;
}

h2 {
  font-family: $font_light;
  @include rem('font-size', $xx-large);
  @include rem('line-height', $line-height-xx-large);
  color: $blue;
  font-weight: normal;
  margin: 5px 0 20px;
}

h3 {
  font-family: $font_normal;
  @include rem('font-size', $large);
  @include rem('line-height', $line-height-large);
  color: $blue;
  margin: 10px auto;
}

h4 {
  font-family: $font_normal;
  @include rem('font-size', $medium);
  @include rem('line-height', $line-height-medium);
}

h5 {
  font-family: $font_light;
  @include rem('font-size', $small);
}

p, ul li, ol li {
  font-family: $font_light;
  @include rem('font-size', $medium);
  @include rem('line-height', $line-height-medium);
}

p {
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// font families
.font_normal {
  font-family: $font_normal;
}

.font-light {
  font-family: $font_light;
}

.font-medium {
  font-family: $font_medium;
}

.font-bold {
  font-family: $font_bold;
}

//
// Media queries
//
// --------------------------------------------------
@include breakpoint($brk-mobile) {

  h1 {
    @include rem('font-size', $x-large);
    @include rem('line-height', $x-large + 3);
  }

  h2 {
    @include rem('font-size', $large);
    @include rem('line-height', $line-height-large);
  }

  h3 {
    @include rem('font-size', $medium);
    @include rem('line-height', $line-height-medium);

  }
}

@include breakpoint($brk-tablet) {

  h1, h2, h3 {
    @include word-wrap();
  }

  h1 {
    @include rem('font-size', $xxx-large);
    @include rem('line-height', $line-height-xxx-large);
  }

  h3 {
    color: $black;
  }

  p {
    @include rem('margin', 0, 0, 15);
  }
}
