<div class="aa-block-graph clearfix">
  <div class="aa-block-graph__col aa-block-graph__col1" [style.width.%]="data.col1.width + '%'">
    <div class="aa-block-graph__label aa-block-graph__label--top">
      <span class="aa-block-graph__label__percentage">{{data.col1.percentage}}%</span>
      <span class="aa-block-graph__label__amount">€{{data.col1.amount | money}}</span>
    </div>
    <div class="aa-block-graph__space" [style.height.%]="100 - sumHeights(data.col1.bars)"></div>

    <div class="aa-block-graph__bar" *ngFor="let bar of data.col1.bars; trackBy:trackByBar"
         [style.height.%]="bar.percentage">
      <div class="aa-block-graph__bar-block">
        <div class="aa-block-graph__bar-block-inner" [style.backgroundColor]="bar.meta.color"
             [attr.data-hint]="bar.hint">{{ bar.id }}
        </div>
      </div>
    </div>

    <div class="aa-block-graph__label">{{ data.col1.label }}</div>
  </div>

  <div class="aa-block-graph__col aa-block-graph__col2" [style.width.%]="data.col2.width">
    <div class="aa-block-graph__label aa-block-graph__label--top">
      <span class="aa-block-graph__label__percentage">{{data.col2.percentage}}%</span>
      <span class="aa-block-graph__label__amount">€{{data.col2.amount | money}}</span>
    </div>
    <div class="aa-block-graph__space" [style.height.%]="100 - sumHeights(data.col2.bars)"></div>

    <div class="aa-block-graph__bar" *ngFor="let bar of data.col2.bars; trackBy:trackByBar"
         [style.height.%]="bar.percentage">
      <div class="aa-block-graph__bar-block">
        <div class="aa-block-graph__bar-block-inner" [style.backgroundColor]="bar.meta.color"
             [attr.data-hint]="bar.hint">{{ bar.id }}
        </div>
      </div>
    </div>

    <div class="aa-block-graph__label">{{ data.col2.label }}</div>
  </div>

  <div class="aa-block-graph__col aa-block-graph__col34" [style.width.%]="data.col34.width">
    <div class="clearfix aa-block-graph__bar-wrapper" [style.height.%]="100 - sumHeights(data.col34.bars)">
      <!-- - data.col34.bars[0].height-->

      <div class="aa-block-graph__col aa-block-graph__col3"
           [style.width.%]="data.col3.width * (100 / data.col34.width)">
        <div class="aa-block-graph__label aa-block-graph__label--top">
          <span class="aa-block-graph__label__percentage">{{data.col3.percentage}}%</span>
          <span class="aa-block-graph__label__amount">€{{data.col3.amount | money}}</span>
        </div>
        <div class="aa-block-graph__space"
             [style.height.%]="100 - sumHeights(data.col3.bars)"></div>

        <div class="aa-block-graph__bar" *ngFor="let bar of data.col3.bars; trackBy:trackByBar"
             [style.height.%]="bar.percentage">
          <div class="aa-block-graph__bar-block">
            <div class="aa-block-graph__bar-block-inner" [style.backgroundColor]="bar.meta.color"
                 [attr.data-hint]="bar.hint">{{ bar.id }}
            </div>
          </div>
        </div>

      </div>
      <div class="aa-block-graph__col aa-block-graph__col4"
           [style.width.%]="data.col4.width * (100 / data.col34.width)">
        <div class="aa-block-graph__label aa-block-graph__label--top">
          <span class="aa-block-graph__label__percentage">{{data.col4.percentage}}%</span>
          <span class="aa-block-graph__label__amount">€{{data.col4.amount | money}}</span>
        </div>
        <div class="aa-block-graph__space"
             [style.height.%]="100 - sumHeights(data.col4.bars)"></div>

        <div class="aa-block-graph__bar" *ngFor="let bar of data.col4.bars; trackBy:trackByBar"
             [style.height.%]="bar.percentage">
          <div class="aa-block-graph__bar-block">
            <div class="aa-block-graph__bar-block-inner" [style.backgroundColor]="bar.meta.color"
                 [attr.data-hint]="bar.hint">{{ bar.id }}
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="aa-block-graph__bar" *ngFor="let bar of data.col34.bars; trackBy:trackByBar"
         [style.height.%]="bar.percentage">
      <div class="aa-block-graph__bar-block">
        <div class="aa-block-graph__bar-block-inner" [style.backgroundColor]="bar.meta.color"
             [attr.data-hint]="bar.hint">{{ bar.id }}
        </div>
      </div>
    </div>

    <div class="clearfix">
      <div class="aa-block-graph__col aa-block-graph__col3"
           [style.width.%]="data.col3.width * (100 / data.col34.width)">
        <div class="aa-block-graph__label">{{ data.col3.label }}</div>
      </div>
      <div class="aa-block-graph__col aa-block-graph__col4"
           [style.width.%]="data.col4.width * (100 / data.col34.width)">
        <div class="aa-block-graph__label">{{ data.col4.label }}</div>
      </div>
    </div>
  </div>

</div>
