
//
// Variables
// --------------------------------------------------

$image_path: '../images/';

// BLUE hues
$black: #1d1d1b; //actually, this is a very dark blue, so that is why it is here
$dark_blue: #00304c; //
$blue_gray: #335970;
$fun_blue_approx: #2163ae;
$slightly_darker_blue: #007bc8;
$blue: #3395d3; //
$light_blue: #66b0de; //
$lighter_blue: #85BFE5;
$slightly_lighter_blue: #99CAE9; //
$pastel_light_blue: #D9EBF7;
$sky: #8cd1e6; //
$lochmara_approx: #007ac7;

// ORANGES
$orange_highlight : #fcbd3e; //
$orange: #f9a600; //
$dark_orange: #f39300; //
// GREYS
$white: #ffffff; //
$lighter_grey: #EFEBE7;
$grey: #edebe5; //
$slightly_darker_grey: #e0e0e0;
$dark_grey: #d8d7d1;
$darker_grey: #8E8E8C;

// GREENS
$green: #49af57; //
$light_green: #c8e7cc; //
$dark_green: #7FAE3F;
// REDS
$red: #C50B1F;
$dark_red: #ca4642; //
$light_red: #eacbca; //
$lighter_red: #f3e7e6;
// YELLOWS
$light_yellow: #fffce5;
$yellow: #ffea53; //
$dark_yellow: #B0A126;

// BROWNS
$beige: $grey; //
// PINK
$pink: #edd5d9;
$dark_pink: #C41F2C;

$fonts_path: '../fonts/';

$font_fallback: Arial, Verdana, sans-serif;
$font_light: 'senticosansdtlight', $font_fallback;
$font_normal: 'senticosansdtregular', $font_fallback;
$font_medium: 'senticosansdtmedium', $font_fallback;
$font_bold: 'senticosansdtcondbold', $font_fallback;
$font_thin: 'senticosansdtthin', $font_fallback;
$font_icons: 'aegon_icons'; // No fallback here >> !unnecessary

// rearranged icon code definitions numerically; please adhere to that order for future definitions, it makes it way easier to determine which codes are already defined / used when comparing to icomoon
$font_icons_arrow_right: "\e600";
$font_icons_arrow_location: "\e601";
$font_icons_envelope: "\e603";
$font_icons_arrow_roadmap: "\e611";
$font_icons_document_n_check: "\e604";
$font_icons_headhphones: "\e605";
$font_icons_sparen: "\e607";
$font_icons_beleggen: "\e608";
$font_icons_verzekeren: "\e609";
$font_icons_hypotheek: "\e60b";
$font_icons_schade_melden: "\e60c";
$font_icons_fistfull: "\e60e";
$font_icons_moneybag: "\e60f";
$font_icons_edit: "\e610";
$font_icons_call: "\e617";
$font_icons_chat: "\e618";
$font_icons_chart: "\e619";
$font_icons_comment: "\e900";
$font_icons_producten: "\e629";
$font_icons_document_n_pen: "\e62c";
$font_icons_plus: "\e62d";
$font_icons_error: "\e62e";
$font_icons_help: "\e62f";
$font_icons_arrow_down: "\e630";
$font_icons_tip: "\e631";
$font_icons_check: "\e632";
$font_icons_cross: "\e63c";
$font_icons_radio: "\e633";	//leave it here, maybe at some point radio and circle will diverge, and in that case it would only be a variable change
$font_icons_circle: "\e633";
$font_icons_man: "\e636";
$font_icons_old_man: "\e60a";
$font_icons_clock: "\e61a";
$font_icons_arrow_right_skinny: "\e63b";
$font_icons_info: "\e800";
$font_icons_search: "\e801";
$font_icons_betalingen: "\e602";
$font_icons_plus_regular: "\e903";
$font_icons_plus_light: "\e904";
$font_icons_calculator: "\e612";
$font_icons_man_in_tie: "\e62a";
$font_icons_claim_indienen: "\e900";
$font_icons_offreren: "\e901";
$font_icons_contract_details: "\e907";
$font_icons_inzien: "\e906";
$font_icons_muteren: "\e905";
$font_icons_zakelijk: "\e908";
$font_icons_minus: "\ea0b";

// FONT SIZES
$small: 14px;
$medium: 18px;
$large: 22px;
$x-large: 25px;
$xx-large: 40px;
$xxx-large: 46px;
$xxxx-large: 60px;
$jumbo: 100px;

$line-height-medium: $medium + 8;
$line-height-large: $x-large;
$line-height-x-large: $x-large + 5;
$line-height-xx-large: $xxx-large;
$line-height-xxx-large: $xxx-large + 9;
$line-height-xxxx-large: $xxxx-large * 1.2;
$line-height-jumbo: $jumbo * 1.2;

// RESPONSIVE CUTOFFS
// smartphone
$rc-s-min-width: 0;
$rc-s-max-width: 640px;
// tablet
$rc-m-min-width: 641px;
$rc-m-max-width: 900px;
// desktop
$rc-l-min-width: 901px;
$rc-l-max-width: 16000px;

// INTERFACE ELEMENTS
$elements_border_radius: 3px;
$elements_border_width: 1px;
$elements_border: $elements_border_width solid $slightly_darker_grey;
$elements_height: 44px;
$elements_button_height: 38px;
$elements_button_disabled_z-index: 1;
$elements_button_enabled_z-index: 3;
$elements_disabler_z-index: 2;
$elements_checkbox_height: 32px;
$elements_checkbox_top: 4px;
$elements_radio_height: 32px;
$elements_radio_top: 17px;
$elements_radio_line-height: 15px;
$elements_iframe_popup_z-index: 11000;

$frame_border_radius: 3px;

/**
 * BREAKPOINTS for AEGON.nl current website.
 * Approach: Mobile First Method
 */

/**
 * Mobile
 *
 * Example: @include breakpoint($brk-mobile) {}
 *
 * IMPORTANT: try to avoid the breakpoint below, since the theme is already
 * mobile first and everything need to be written mobile as default.
 */
$brk-mobile: 'only screen' (max-width 640px);

/**
 * Generic Tablet and upper
 *
 * Example: @include breakpoint($brk-tablet) {}
 */
$brk-tablet: 'only screen' (641px);

/**
 * iPad portrait and upper
 *
 * Example: @include breakpoint($brk-ipad-portrait) {}
 */
$brk-ipad-portrait: 'only screen' (901px);

/**
 * iPad landscape and upper
 *
 * Example: @include breakpoint($brk-ipad-landscape) {}
 */
$brk-ipad-landscape: 'only screen' (1024px) (orientation landscape);

/**
 * Large desktop and upper
 *
 * Example: @include breakpoint($brk-large-desktop) {}
 */
$brk-large-desktop: 'only screen' (1350px);

/**
 * Device Pixel Ratio of at least 1.5 and upper
 *
 * Example: @include breakpoint($brk-hidpi) {}
 */
$brk-hidpi: min-resolution 1.5dppx;

/**
 * Media print
 *
 * Example: @include breakpoint($brk-print) {}
 */
$brk-print: 'print';


/**
 * Playground example
 * Note: hide section below to reproduce CSS breakpoints
 */
// #back-top:after {
//   // @include breakpoint($brk-mobile) {
//   //   content: 'Breakpoint: Mobile';
//   // }
//   @include breakpoint($brk-tablet) {
//     content: 'Breakpoint: Tablet';
//   }
//   @include breakpoint($brk-ipad-portrait) {
//     content: 'Breakpoint: iPad portrait';
//   }
//   @include breakpoint($brk-ipad-landscape) {
//     content: 'Breakpoint: iPad landscape';
//   }
//   @include breakpoint($brk-large-desktop) {
//     content: 'Breakpoint: Large desktop';
//   }
//   // @include breakpoint($brk-hidpi) {
//   //   content: 'Breakpoint: hidpi';
//   // }
//   @include breakpoint($brk-print) {
//     content: 'Breakpoint: Print';
//   }
// }

