
//
// Header
// --------------------------------------------------

header.header {
  position: relative;

  display: table;

  width: 100%;
  margin: 0 auto;
  padding: 0 7.3%;

  @include rem('height', 63);
  @include rem('min-height', 63);
  .left, .middle, .right {
    display: table-cell;

    vertical-align: middle;
  }
  .left {
    width: 30%;
    padding-left: 0;

    text-align: left;

    @include rem('min-height', 63);
  }
  .middle {
    width: 40%;

    text-align: center;
  }
  .right {
    width: 30%;
    padding-right: 0;

    text-align: right;
  }
  // Mobile elements
  .tap-menu {
    a {
      position: relative;
      // overflow: hidden;

      display: inline-block;

      width: 20px;
      height: 17px;

      vertical-align: middle;
      text-indent: -9999px;

      @include rem('line-height', 60);
      &:before {
        position: absolute;
        top: 50%;
        left: 0;

        display: block;

        content: '';

        border-top: .22em solid $fun_blue_approx;
        border-bottom: .22em solid $fun_blue_approx;

        @include rem('width', 19);
        @include rem('height', 15);
        @include rem('margin-top', -7.5);
      }
      &:after {
        position: absolute;
        top: 50%;
        left: 0;

        display: block;

        content: '';

        border-top: .22em solid $fun_blue_approx;

        @include rem('width', 19);
        @include rem('height', 15);
        @include rem('margin-top', -2);
      }
    }
  }
  .mobile-logo {
    a {
      display: inline-block;

      width: 100%;

      vertical-align: middle;
      text-indent: -9999px;

      background-color: $white;
      // @include rem('max-width', 90);
      // @include rem('padding-top', 6);
      background-image: url('../images/logo_aegon.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 100%;
      // height: 100%;

      @include rem('min-height', 32);
      @include rem('min-width', 50);
      @include rem('max-width', 170);
    }
  }
  .right {
    a {
      vertical-align: middle;
    }
  }
  // Desktop elements
  .region-header-left {
    display: none;
  }
  .region-header {
    display: none;
    .block {
      position: relative;

      display: none;
      float: left;

      width: auto;
    }
  }
}


// 
// Media queries
// --------------------------------------------------

@include breakpoint($brk-tablet) {
  header.header {
    table-layout: fixed;

    @include rem('min-height', 90);
    .right {
      float: none;

      width: 50%;
      padding: 0;
    }
    // Mobile elements
    .tap-menu, .mobile-logo {
      display: none;
    }
    // Desktop elements
    .region-header-left, .region-header {
      display: table-cell;

      width: 50%;

      vertical-align: middle;
      .block {
        display: block;
      }
    }
  }
}
